$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 960.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_228 {
  @media only screen and (min-width: 961px) {
    .tsc-header>.global-nav-wrapper>.global-nav,
    .tsc-header>.global-nav-wrapper>.additional-nav>form.search {
      display: none;
    }
  }

}