$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1319px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_t2043 {
  .section-home-hero {
    @include tablet() {
      padding-top: 100px;
    }

    .container-medium {
      max-width: 695px;

      @include tablet() {
        max-width: 755px;
      }
    }

    .section-title {
      display: none;
    }

    h4 {
      font-size: 18px;
      line-height: 27px;
      letter-spacing: unset;
      margin-top: 24px;
      margin-bottom: 13px;

      @include mobile() {
        margin-bottom: 16px;
      }
    }

    // animation
    .animated_textContainer {
      display: flex;
      align-items: center;

      @include tablet() {
        justify-content: center;
      }

      @include mobile() {
        flex-wrap: wrap;
        justify-content: center;
      }

      @media screen and (min-width: 992px) and (max-width: 1023px) {
        justify-content: flex-start;
        flex-wrap: wrap;

        .content {
          padding-left: 0;
        }
      }

      >strong {
        display: inline-block;
        color: #041E42;
        font-family: Bitter;
        font-size: 44px;
        font-weight: 700;
        line-height: 57.2px;
        letter-spacing: -0.88px;

        @include tablet-pro() {
          font-size: 31px;
          line-height: 37px;
        }

        @include mobile() {
          font-size: 32px;
          letter-spacing: -0.64px;
          line-height: 41.6px;
          display: block;
          width: 100%;
          text-align: center;
        }
      }
    }

    .content {
      padding-left: 14px;
      height: 55px;
      overflow: hidden;
      color: #ecf0f1;

      @include tablet-pro() {
        height: 38px;
        transform: translateY(1px);
      }

      @include mobile() {
        padding-left: 0;
        margin-top: 5px;
        height: 39px;
      }

      &__text {
        display: inline;
        margin: 0;
      }

      &__list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        text-align: left;
        list-style: none;
        -webkit-animation: change 20s linear infinite forwards;
        animation: change 20s linear infinite;

        @include mobile() {
          text-align: center;
        }

        &__item {
          line-height: 40px;
          margin: 0;
          padding-bottom: 0;
          color: #00BFA5;
          font-family: Bitter;
          font-size: 44px;
          font-weight: 700;
          line-height: 57.2px;
          letter-spacing: -0.88px;
          width: fit-content;

          @include tablet-pro() {
            font-size: 31px;
            line-height: 37px;
          }

          @include mobile() {
            width: 100%;
            text-align: center;
            font-size: 32px;
            letter-spacing: -0.64px;
            line-height: 41.6px;
          }
        }
      }

    }

    @-webkit-keyframes opacity {

      0%,
      100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @-webkit-keyframes change {

      0%,
      12.5% {
        transform: translate3d(0, 0, 0);
      }

      14.28%,
      25% {
        transform: translate3d(0, -12.5%, 0);
      }

      27.78%,
      37.5% {
        transform: translate3d(0, -25%, 0);
      }

      40.28%,
      50% {
        transform: translate3d(0, -37.5%, 0);
      }

      52.78%,
      62.5% {
        transform: translate3d(0, -50%, 0);
      }

      65.28%,
      75% {
        transform: translate3d(0, -62.5%, 0);
      }

      77.78%,
      87.5% {
        transform: translate3d(0, -75%, 0);
      }

      90%,
      100% {
        transform: translate3d(0, -87.5%, 0);
      }
    }

    @-o-keyframes opacity {

      0%,
      100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @-o-keyframes change {

      0%,
      12.5% {
        transform: translate3d(0, 0, 0);
      }

      14.28%,
      25% {
        transform: translate3d(0, -12.5%, 0);
      }

      27.78%,
      37.5% {
        transform: translate3d(0, -25%, 0);
      }

      40.28%,
      50% {
        transform: translate3d(0, -37.5%, 0);
      }

      52.78%,
      62.5% {
        transform: translate3d(0, -50%, 0);
      }

      65.28%,
      75% {
        transform: translate3d(0, -62.5%, 0);
      }

      77.78%,
      87.5% {
        transform: translate3d(0, -75%, 0);
      }

      90%,
      100% {
        transform: translate3d(0, -87.5%, 0);
      }
    }

    @-moz-keyframes opacity {

      0%,
      100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @-moz-keyframes change {

      0%,
      12.5% {
        transform: translate3d(0, 0, 0);
      }

      14.28%,
      25% {
        transform: translate3d(0, -12.5%, 0);
      }

      27.78%,
      37.5% {
        transform: translate3d(0, -25%, 0);
      }

      40.28%,
      50% {
        transform: translate3d(0, -37.5%, 0);
      }

      52.78%,
      62.5% {
        transform: translate3d(0, -50%, 0);
      }

      65.28%,
      75% {
        transform: translate3d(0, -62.5%, 0);
      }

      77.78%,
      87.5% {
        transform: translate3d(0, -75%, 0);
      }

      90%,
      100% {
        transform: translate3d(0, -87.5%, 0);
      }
    }

    @keyframes opacity {

      0%,
      100% {
        opacity: 0;
      }

      50% {
        opacity: 1;
      }
    }

    @keyframes change {

      0%,
      12.5% {
        transform: translate3d(0, 0, 0);
      }

      14.28%,
      25% {
        transform: translate3d(0, -12.5%, 0);
      }

      27.78%,
      37.5% {
        transform: translate3d(0, -25%, 0);
      }

      40.28%,
      50% {
        transform: translate3d(0, -37.5%, 0);
      }

      52.78%,
      62.5% {
        transform: translate3d(0, -50%, 0);
      }

      65.28%,
      75% {
        transform: translate3d(0, -62.5%, 0);
      }

      77.78%,
      87.5% {
        transform: translate3d(0, -75%, 0);
      }

      90%,
      100% {
        transform: translate3d(0, -87.5%, 0);
      }

    }

  }
}