.spz_2011.no_scroll {
  overflow: hidden;
}
@media (max-width: 767.98px) {
  .spz_2011.no_scroll {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    touch-action: none;
  }
}
.spz_2011 .spz_hidden,
.spz_2011 section.background-color-light-grey {
  display: none;
}
.spz_2011 .testimonial_slider {
  padding-bottom: 32px;
}
@media (max-width: 767.98px) {
  .spz_2011 .testimonial_slider {
    padding-bottom: 16px;
  }
}
.spz_2011 .slider_wrapper {
  padding: 39.5px 0 146px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_wrapper {
    padding-bottom: 130px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_wrapper {
    padding-top: 18px;
    padding-bottom: 122px;
  }
}
.spz_2011 .slider_wrapper .splide__arrows {
  position: absolute;
  bottom: -91px;
  margin: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 116px;
  display: flex;
  justify-content: space-between;
}
.spz_2011 .slider_wrapper .splide__arrow {
  position: relative;
  top: unset;
  bottom: unset;
  border-radius: 200px;
  display: flex;
  width: 50px;
  height: 50px;
  padding: 8px;
  opacity: 1;
  justify-content: center;
  align-items: center;
  border: 1px solid #FF5A0A;
  background: transparent;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.3s ease;
}
.spz_2011 .slider_wrapper .splide__arrow:hover {
  background-color: #FF5A0A;
}
.spz_2011 .slider_wrapper .splide__arrow:hover.splide__arrow--prev {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M9.96978 2.9696L2.93945 9.99993L9.96978 17.0303L11.0304 15.9696L5.81083 10.75L17.0001 10.75V9.24999L5.81072 9.24999L11.0304 4.03026L9.96978 2.9696Z" fill="%23ffffff"/></svg>');
}
.spz_2011 .slider_wrapper .splide__arrow:hover.splide__arrow--next {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0303 2.9696L17.0607 9.99993L10.0303 17.0303L8.96966 15.9696L14.1893 10.75L3 10.75V9.24999L14.1894 9.24999L8.96966 4.03026L10.0303 2.9696Z" fill="%23ffffff"/></svg>');
}
.spz_2011 .slider_wrapper .splide__arrow svg {
  display: none;
}
.spz_2011 .slider_wrapper .splide__arrow.splide__arrow--prev {
  left: unset;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M9.96978 2.9696L2.93945 9.99993L9.96978 17.0303L11.0304 15.9696L5.81083 10.75L17.0001 10.75V9.24999L5.81072 9.24999L11.0304 4.03026L9.96978 2.9696Z" fill="%23FF5A0A"/></svg>');
}
.spz_2011 .slider_wrapper .splide__arrow.splide__arrow--next {
  right: unset;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0303 2.9696L17.0607 9.99993L10.0303 17.0303L8.96966 15.9696L14.1893 10.75L3 10.75V9.24999L14.1894 9.24999L8.96966 4.03026L10.0303 2.9696Z" fill="%23FF5A0A"/></svg>');
}
.spz_2011 .slider_heading {
  text-align: center;
  padding-bottom: 48px;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_heading {
    padding-bottom: 31.5px;
  }
}
.spz_2011 .slider_heading h2 {
  color: #111;
  text-align: center;
  font-size: 52px;
  font-weight: 300;
  line-height: 56px;
  margin: 0;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_heading h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
.spz_2011 .slider_data {
  border-radius: 16px;
  padding: 79.5px 80px 80px;
  position: relative;
  margin: auto;
}
@media (max-width: 1440px) {
  .spz_2011 .slider_data {
    max-width: 1060px;
  }
}
@media (min-width: 992px) and (max-width: 1299px) {
  .spz_2011 .slider_data {
    padding: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_data {
    padding: 48px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_data {
    padding: 32px;
    max-width: 90%;
  }
}
.spz_2011 .slider_image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
.spz_2011 .slider_image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px;
}
.spz_2011 .slider_dataMain {
  position: relative;
  z-index: 1;
  max-width: 498px;
}
@media (min-width: 992px) and (max-width: 1299px) {
  .spz_2011 .slider_dataMain {
    max-width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_dataMain {
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain {
    max-width: 100%;
  }
}
.spz_2011 .slider_dataMain.wid_2 {
  max-width: 680px;
}
@media (min-width: 992px) and (max-width: 1299px) {
  .spz_2011 .slider_dataMain.wid_2 {
    max-width: 100%;
  }
  .spz_2011 .slider_dataMain.wid_2 br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_dataMain.wid_2 {
    max-width: 100%;
  }
  .spz_2011 .slider_dataMain.wid_2 br {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain.wid_2 {
    max-width: 100%;
  }
  .spz_2011 .slider_dataMain.wid_2 br {
    display: none;
  }
}
.spz_2011 .slider_dataMain.wid_3 {
  max-width: 545px;
}
@media (min-width: 992px) and (max-width: 1299px) {
  .spz_2011 .slider_dataMain.wid_3 {
    max-width: 100%;
  }
  .spz_2011 .slider_dataMain.wid_3 br {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_dataMain.wid_3 {
    max-width: 100%;
  }
  .spz_2011 .slider_dataMain.wid_3 br {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain.wid_3 {
    max-width: 100%;
  }
  .spz_2011 .slider_dataMain.wid_3 br {
    display: none;
  }
}
.spz_2011 .slider_dataMain h3 {
  color: #FF5A0A;
  font-family: Soehne buch, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 2.05px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain h3 {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 3.3px;
    margin-bottom: 12.5px;
  }
}
.spz_2011 .slider_dataMain p {
  color: #FFF;
  font-family: Soehne buch, sans-serif;
  letter-spacing: 0.3px;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
  min-height: 128px;
  pointer-events: none;
}
@media (min-width: 992px) and (max-width: 1299px) {
  .spz_2011 .slider_dataMain p {
    min-height: 160px;
    margin-bottom: 23.5px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_dataMain p {
    min-height: 160px;
    margin-bottom: 23.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain p {
    font-size: 18px;
    line-height: 27px;
    min-height: 189px;
    margin-bottom: 16px;
  }
}
.spz_2011 .slider_dataMain strong {
  display: block;
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain strong {
    font-size: 14px;
    line-height: 20px;
  }
}
.spz_2011 .slider_dataMain span {
  display: block;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05px;
  margin-bottom: 32.5px;
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_dataMain span {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 23.5px;
  }
}
.spz_2011 .slider_btns ul {
  margin: 0 -6px;
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
}
.spz_2011 .slider_btns ul li {
  padding: 0 6px;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_btns ul {
    margin: 0;
    flex-wrap: wrap;
  }
  .spz_2011 .slider_btns ul li {
    width: 100%;
    padding: 0 0 12px;
  }
  .spz_2011 .slider_btns ul li:last-child {
    padding-bottom: 0;
  }
}
.spz_2011 .slider_btn {
  display: flex;
  justify-content: center;
  white-space: nowrap;
  width: 152px;
  height: 50px;
  padding: 13.5px 32px;
  background-color: #fff;
  color: #111;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
.spz_2011 .slider_btn:hover {
  background-color: #EAEAEA;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_btn {
    width: 100%;
  }
}
.spz_2011 .slider_btn.light {
  width: 185px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  align-items: center;
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_btn.light {
    width: 100%;
  }
}
.spz_2011 .slider_btn.light img {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 1px;
  transform: translateX(-7.5px);
  flex: unset;
  pointer-events: none;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_btn.light img {
    transform: translateX(-7px);
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .slider_btn.light img {
    transform: translateX(-7px);
  }
}
.spz_2011 .slider_btn.light:hover {
  border: 2px solid #FFF;
  background: rgba(255, 255, 255, 0.2);
}
.spz_2011 .join_us {
  background: #FAFAFA;
  padding: 80px 0;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_us {
    padding: 64px 0;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_us {
    padding: 56.5px 0;
  }
}
.spz_2011 .join_us .auto_container {
  padding: 0 20px;
  max-width: 1320px;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_us .auto_container {
    padding: 0 38.4px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_us .auto_container {
    padding: 0 18px;
  }
}
.spz_2011 .join_usInner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.spz_2011 .join_left {
  width: 50%;
  display: flex;
  padding-right: 64px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 64px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_left {
    width: 100%;
    padding-right: 0;
    padding-bottom: 31.5px;
  }
}
.spz_2011 .join_left h2 {
  color: #111;
  font-family: Soehne leicht, sans-serif;
  font-size: 52px;
  font-weight: 300;
  line-height: 56px;
  max-width: 570px;
  margin: 0;
}
@media only screen and (min-width: 1920px) {
  .spz_2011 .join_left h2 {
    max-width: 630px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_left h2 {
    max-width: 100%;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_left h2 {
    max-width: 100%;
    font-size: 36px;
    line-height: 40px;
  }
}
.spz_2011 .join_left p {
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -1px;
}
.spz_2011 .join_left p strong {
  font-weight: 400;
  margin-bottom: 4px;
  display: block;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_left p {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_left p {
    display: none;
  }
}
.spz_2011 .join_right {
  width: 50%;
  max-width: 568px;
}
.spz_2011 .join_right > p {
  display: none;
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: -1px;
}
.spz_2011 .join_right > p strong {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_right {
    width: 100%;
    max-width: 100%;
  }
  .spz_2011 .join_right > p {
    display: block;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_right {
    width: 100%;
    max-width: 100%;
  }
  .spz_2011 .join_right > p {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_list {
    padding-bottom: 65px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_list {
    padding-bottom: 33px;
  }
}
.spz_2011 .join_list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 64.5px 63px;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.spz_2011 .join_list ul li {
  width: calc(50% - 32px);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .join_list ul {
    gap: 32.5px 32px;
  }
  .spz_2011 .join_list ul li {
    width: calc(50% - 16px);
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_list ul {
    gap: 32.5px 16px;
  }
  .spz_2011 .join_list ul li {
    width: calc(50% - 8px);
  }
}
.spz_2011 .join_data {
  padding-top: 22.5px;
  border-top: 2px solid #FF5A0A;
}
@media (max-width: 767.98px) {
  .spz_2011 .join_data {
    padding-top: 14.5px;
  }
}
.spz_2011 .join_data strong {
  display: block;
  color: #FF5A0A;
  font-family: Soehne leicht, sans-serif;
  font-size: 64px;
  font-weight: 300;
  line-height: 70px;
  margin-bottom: 11px;
}
@media (min-width: 992px) and (max-width: 1299px) {
  .spz_2011 .join_data strong {
    font-size: 58px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .join_data strong {
    font-size: 36px;
    line-height: 40px;
  }
}
.spz_2011 .join_data p {
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .spz_2011 .join_data p br {
    display: none;
  }
}
.spz_2011 .popup_wrapper {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  padding: 64px 0;
  z-index: 2147483648;
  z-index: 2147483650;
  display: none;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 100%;
  height: 100%;
  background: rgba(27, 27, 30, 0.7);
}
@media only screen and (max-height: 630px) and (min-width: 768px) {
  .spz_2011 .popup_wrapper {
    align-items: flex-start;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .popup_wrapper {
    padding: 64px 18px;
  }
}
.spz_2011 .popup_wrapper.visible {
  display: flex;
}
.spz_2011 .modal_inner {
  width: 100%;
  max-width: 800px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .modal_inner {
    max-width: 691.2px;
  }
}
.spz_2011 .video_container {
  position: relative;
  width: 100%;
  /* Adjust as needed */
  aspect-ratio: 16/9;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spz_2011 .video_container .play_button {
  cursor: pointer;
}
.spz_2011 .video_container iframe,
.spz_2011 .video_container video {
  width: 100%;
  height: 100%;
  border: none;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  padding-right: 0;
}
.spz_2011 .video_container iframe *,
.spz_2011 .video_container video * {
  padding-right: 0 !important;
}
.spz_2011 .play_button {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 200px;
  background: #FFF;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.spz_2011 .play_button.hide {
  display: none;
}
.spz_2011 .play_button svg {
  pointer-events: none;
  width: 17.5px;
  height: 23px;
  transform: translateX(1.5px);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .play_button svg {
    transform: translateX(2.5px);
  }
}
.spz_2011 .play_button:hover {
  background: #FF5A0A;
}
.spz_2011 .play_button:hover svg {
  fill: #FFF;
}
.spz_2011 .play_button:hover svg path {
  fill: #FFF;
}
.spz_2011 .modal_footer {
  background-color: #fff;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  margin-top: 8px;
}
@media (max-width: 767.98px) {
  .spz_2011 .modal_footer {
    padding: 12px 16px 16px;
    flex-wrap: wrap;
    gap: 12px;
  }
}
.spz_2011 .modal_footer p {
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 0;
  transform: translateY(0.5px);
}
.spz_2011 .modal_footer p strong {
  display: inline-block;
  font-family: Soehne kraftig, sans-serif;
  font-weight: 600;
  color: #FF5A0A;
  letter-spacing: 0.15px;
}
@media (max-width: 767.98px) {
  .spz_2011 .modal_footer p {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .spz_2011 .modal_footer p strong {
    display: contents;
  }
}
.spz_2011 .modal_close {
  position: absolute;
  right: -40px;
  top: -38px;
  width: 32px;
  height: 32px;
  border-radius: 200px;
  background: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .modal_close {
    position: fixed;
    top: 24.5px;
    right: 24px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011 .modal_close {
    position: fixed;
    top: 25px;
    right: 26px;
  }
}
.spz_2011 .modal_close svg {
  pointer-events: none;
  transition: all 0.3s ease;
}
.spz_2011 .modal_close:hover svg {
  fill: #111111;
}
.spz_2011 .modal_close:hover svg path {
  stroke: #111111;
}
.spz_2011 .modal_footerBtn.button.is-cta-small {
  width: 125px;
  height: 40px;
  letter-spacing: 0.5px;
  font-weight: 500;
  line-height: 20px;
  transition: all 0.3s ease;
}
@media (max-width: 767.98px) {
  .spz_2011 .modal_footerBtn.button.is-cta-small {
    width: 100%;
  }
}
.spz_2011 .back-to-top {
  z-index: 2147483646;
}
.spz_2011.v2 .slider_wrapper {
  padding-top: 40px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011.v2 .slider_wrapper {
    padding-top: 39.5px;
  }
}
.spz_2011.v2 .testimonial_slider .splide__slide {
  width: 360px !important;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011.v2 .testimonial_slider .splide__slide {
    width: 320px !important;
  }
}
@media (max-width: 767.98px) {
  .spz_2011.v2 .testimonial_slider .splide__slide {
    width: unset !important;
    max-width: 100%;
  }
}
.spz_2011.v2 .slider_data {
  transition: all 1s ease;
  padding: 32px 32px 29px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  min-height: 560px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011.v2 .slider_data {
    min-height: 496px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011.v2 .slider_data {
    min-height: 496px;
  }
}
.spz_2011.v2 .slider_data::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(17, 17, 17, 0.75);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  border-radius: 16px;
  transition: all 1s ease;
}
.spz_2011.v2 .slider_data:hover::after {
  opacity: 1;
  visibility: visible;
}
.spz_2011.v2 .slider_data:hover .slider_detailTop {
  height: 424px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011.v2 .slider_data:hover .slider_detailTop {
    height: 361px;
  }
}
@media (max-width: 767.98px) {
  .spz_2011.v2 .slider_data:hover .slider_detailTop {
    height: 361px;
  }
}
.spz_2011.v2 .slider_data:hover .slider_detailTop h3 {
  margin-bottom: 7px;
}
.spz_2011.v2 .slider_data:hover .slider_transition {
  height: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.spz_2011 .slider_detail {
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
  position: relative;
  z-index: 2;
  height: 100%;
}
.spz_2011 .slider_detailTop {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 103px;
  transition: all 1s ease;
  overflow: hidden;
}
.spz_2011 .slider_detailTop h3 {
  width: 100%;
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 8px;
  margin-top: 0;
  transition: all 1s ease;
}
.spz_2011 .slider_detailTop h4 {
  width: 100%;
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
  transition: all 1s ease;
}
.spz_2011 .slider_transition {
  width: 100%;
  transition: all 1s ease;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transform: translateY(20%);
}
.spz_2011 .slider_transition p {
  width: 100%;
  color: #FFF;
  font-family: Soehne buch, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin: 25px 0 31px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_transition p {
    margin: 12px 0 14px;
  }
}
.spz_2011 .slider_transition .slider_btn {
  width: 149px;
  height: 44px;
  border-radius: 99px;
  background: #FFF;
  padding: 12px 16px;
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.5px;
}
.spz_2011 .slider_transition .slider_btn:hover {
  background-color: #EAEAEA;
}
.spz_2011 .slider_detailBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.spz_2011 .slider_detailBottom small {
  display: inline-block;
  transform: translateY(2.5px);
  pointer-events: none;
}
.spz_2011 .slider_detailBottom small strong {
  display: block;
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  pointer-events: none;
}
.spz_2011 .slider_detailBottom small span {
  display: inline-block;
  overflow: hidden;
  color: #FFF;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05px;
  pointer-events: none;
}
.spz_2011 .slider_detailBottom .slider_btn {
  width: 48px;
  height: 48px;
  border-radius: 200px;
  padding: 0;
  background: #FFF;
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.spz_2011 .slider_detailBottom .slider_btn svg {
  pointer-events: none;
  width: 13px;
  height: 23px;
  transform: translateX(1.5px);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_2011 .slider_detailBottom .slider_btn svg {
    transform: translateX(1.5px);
  }
}
.spz_2011 .slider_detailBottom .slider_btn:hover {
  background: #FF5A0A;
  border: none;
}
.spz_2011 .slider_detailBottom .slider_btn:hover svg {
  fill: #FFF;
}
.spz_2011 .slider_detailBottom .slider_btn:hover svg path {
  fill: #FFF;
}/*# sourceMappingURL=styles-4.css.map */