$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@font-face {
  font-family: "Proxima Nova Bold";
  font-weight: 700;
  font-style: normal;
  src: url(https://res.cloudinary.com/spiralyze/raw/upload/v1581756675/Techsmith/Font/ProximaNova/ProximaNova-Bold.otf), url(https://res.cloudinary.com/spiralyze/raw/upload/v1581756675/Techsmith/Font/ProximaNova/ProximaNova-Bold.ttf), url(https://res.cloudinary.com/spiralyze/raw/upload/v1581756675/Techsmith/Font/ProximaNova/ProximaNova-Bold.eot), url(https://res.cloudinary.com/spiralyze/raw/upload/v1581756675/Techsmith/Font/ProximaNova/ProximaNova-Bold.woff);
}

.spz_222 {
  .product-nav-bar {
    margin-top: 0;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05), 0px 8px 32px 0px rgba(96, 76, 191, 0.15);
    backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    -o-backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    -ms-backdrop-filter: blur(4px);
    margin: 0 auto;
    max-width: 617px;
    width: 100%;

    @include mobile() {
      max-width: 201.5px;
      flex-wrap: wrap;
    }
  }

  .sticky-nav-bar-spacer {
    @include tablet() {
      height: 68px;
    }
  }

  .new_hero {
    background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/techsmithcamtasia/222/bg_1440.webp');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 58px;

    @include tablet() {
      padding-top: 56px;
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/techsmithcamtasia/222/bg_768.webp');
    }

    @include mobile() {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/techsmithcamtasia/222/bg_360.webp');
    }

    .tsc-store-card-view {
      padding-top: 32px;
      padding-bottom: 23px;
      position: relative;
      z-index: 1;

      @include mobile() {
        padding-bottom: 16px;
      }

      .quantity-form {
        @include mobile() {
          padding-bottom: 48px;
        }

        h2 {
          color: #FFF;
          font-size: 48px;

          @include mobile() {
            font-size: 32px;
          }
        }

        .lead-in {
          color: #FFF;
          padding-top: 12px;

          .tooltip {
            text-decoration: underline;
          }

          a {
            color: #fff;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }

      .cards {
        padding-top: 33px;

        @include mobile() {
          grid-gap: 8px;
        }

        .card {
          padding-bottom: 34px;
          box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);

          @include tablet() {
            min-width: 395px;
          }

          @include mobile() {
            min-width: 320px;
            padding-bottom: 18px;
            .contact-sales-tooltip-link{
              white-space: nowrap;
            }
          }

          .header {
            .title {
              letter-spacing: 0.30px;
              margin-top: 0.5px;
            }
          }

          .pricing-group {
            .full-price {
              padding-right: 16.5px;
            }
          }
          &.SubscriptionPlan1,
          &.SubscriptionPlan2,
          &.SubscriptionPlan3 {
            .cart-buttons-container {
              @include tablet() {
                button {
                  max-width: 100%;
                  height: 46px;
                }
              }

              @include mobile() {
                button {
                  max-width: 100%;
                  height: 46px;
                  margin-top: 16px;
                }
              }
            }
          }

          &.SubscriptionPlan3 {
            .special-pricing-indicator {
              width: 154px;
            }
          }

          &.SubscriptionPlan1 {
            @include mobile() {
              .price {
                margin-top: 4.5px;
              }

              .cart-buttons-container button {
                margin-top: -1px;
              }
            }
          }

          &.SubscriptionPlan3 {
            @include mobile() {
              .cart-buttons-container button {
                margin-top: 14px;
              }
            }
          }

          .license-features {
            padding-top: 10px;

            h3 {
              font-size: 16px;
              color: #303030;
              font-size: 16px;
              line-height: 22.4px;
              letter-spacing: normal;
              margin-bottom: 9.5px;
            }

            ul.license-list {
              margin-left: 16px;
              gap: 8px;

              li {
                line-height: 22px;
                color: #303030;

                &::before {
                  top: 3px;
                }
              }
            }
          }
        }
      }

      .SubscriptionPlan2 {
        border-color: #23282F;
      }

      // .SubscriptionPlan3 {
      //   .license-list {
      //     li {
      //       &:nth-child(4) {
      //         display: none;
      //       }
      //     }
      //   }
      // }

      .promo-indicator {
        border-radius: 16px;
        background: #343B46;

        @include mobile() {
          padding: 0px 23.5px;
          bottom: -5px;
        }

        .indicator-content {
          span {
            color: #F3F2F1;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }

      .billing-schedule {
        display: block;
      }

    }
  }

  .contact-sales-messaging {
    padding-top: 63px;

    @include tablet() {
      padding-top: 75px;
    }

    @include mobile() {
      padding-top: 51px;
    }
  }
}