@font-face {
  font-family: "Sofia Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Regular"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Sofia_Pro_Regular_Az.woff") format("woff");
}
@font-face {
  font-family: "Sofia Pro Light";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Light"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Sofia_Pro_Light_Az.woff") format("woff");
}
@font-face {
  font-family: "Sofia Pro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Medium"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Sofia_Pro_Medium_Az.woff") format("woff");
}
@font-face {
  font-family: "Sofia Pro SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro SemiBold"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Sofia_Pro_Semi_Bold_Az.woff") format("woff");
}
@font-face {
  font-family: "Sofia Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Sofia Pro Bold"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Sofia_Pro_Bold_Az.woff") format("woff");
}
@font-face {
  font-family: "Manrope";
  src: url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Manrope-Light.woff2") format("woff2"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Manrope-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Manrope-ExtraLight.woff2") format("woff2"), url("https://res.cloudinary.com/spiralyze/raw/upload/f_auto/oncourse/fonts/Manrope-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
.spz_1002 .awr-hero {
  display: block;
}
.spz_1002 .awr-hero .awr-hero__wrapper {
  display: none;
}
.spz_1002 section .awr-home__render-components > div:first-child {
  display: block;
}
.spz_1002 section .awr-home__render-components > div:first-child > .flex {
  display: none;
}
.spz_1002 .spz_hero {
  background: #F0F9FF;
  padding: 72px 0;
}
.spz_1002 .spz_hero.v2 {
  background: #F0F9FF;
}
.spz_1002 .spz_hero.v2 .hero_heading {
  padding-bottom: 32px;
}
.spz_1002 .spz_hero.v2 .hero_toggle {
  padding-bottom: 32px;
}
@media (max-width: 767.98px) {
  .spz_1002 .spz_hero.v2 .hero_toggle {
    padding-bottom: 32.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .spz_hero.v2 .hero_crads {
    padding-bottom: 8px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .spz_hero {
    padding: 40px 0;
  }
}
.spz_1002 .auto_container {
  max-width: 1070px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}
@media (max-width: 767.98px) {
  .spz_1002 .auto_container {
    padding: 0 16px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .spz_heroInner {
    max-width: 488px;
    margin: auto;
  }
}
.spz_1002 .hero_heading {
  text-align: center;
  padding-bottom: 24px;
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_heading {
    padding-bottom: 23.5px;
  }
}
.spz_1002 .hero_heading h3 {
  color: #186699;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  line-height: 19.5px;
  letter-spacing: 0.39px;
  text-transform: uppercase;
  margin: 0 0 8px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .hero_heading h3 {
    margin-bottom: 8px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_heading h3 {
    font-size: 13px;
    line-height: 19.5px;
    margin-bottom: 8px;
  }
}
.spz_1002 .hero_heading h1 {
  color: #000;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin: 0 0 16.5px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .hero_heading h1 {
    margin-bottom: 17px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_heading h1 {
    font-size: 36px;
    line-height: 43.2px;
    margin-bottom: 15.5px;
  }
}
.spz_1002 .hero_heading p {
  color: #000;
  text-align: center;
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .hero_heading p {
    padding: 0 10px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_heading p {
    font-weight: 400;
    letter-spacing: 0.15px;
  }
}
.spz_1002 .hero_toggle {
  padding-bottom: 24px;
}
.spz_1002 .toggle_main small {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.spz_1002 .toggle_main small span {
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.spz_1002 .toggle_main small:has(input:checked) span {
  color: rgba(0, 0, 0, 0.6);
}
.spz_1002 .toggle_main small:has(input:checked) .toggle + span {
  color: #000;
}
.spz_1002 .toggle_main small .toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin: 0 8px;
}
.spz_1002 .toggle_main small .toggle + span {
  color: rgba(0, 0, 0, 0.6);
}
.spz_1002 .toggle_main small .toggle input {
  display: none;
}
.spz_1002 .toggle_main small .toggle input:checked + .slider {
  background-color: #186699;
}
.spz_1002 .toggle_main small .toggle input:checked + .slider:before {
  transform: translateX(16px);
}
.spz_1002 .toggle_main small .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #186699;
  transition: 0.4s;
  border-radius: 12px;
}
.spz_1002 .toggle_main small .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}
.spz_1002 .hero_crads {
  padding-bottom: 32px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .hero_crads {
    padding-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_crads {
    padding-bottom: 18px;
    max-width: 336px;
    margin: auto;
  }
}
.spz_1002 .hero_crads .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_crads .cards {
    margin: 0 -3px;
  }
}
.spz_1002 .hero_crads .card {
  width: 110px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29.5px 10px 23px;
  border-radius: 4px;
  border: 1px solid rgba(245, 245, 244, 0.3);
  background: #DFF3FF;
  cursor: pointer;
  margin: 0 6px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1024px) and (max-width: 1199.98px) {
  .spz_1002 .hero_crads .card {
    margin: 0 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .hero_crads .card {
    margin-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_crads .card {
    width: 77.5px;
    height: 90px;
    margin: 0 3px 6px;
    padding: 17px 5px 12px;
  }
}
.spz_1002 .hero_crads .card:hover {
  border: 1px solid rgba(0, 102, 153, 0.8);
  background: #DFF3FF;
}
.spz_1002 .hero_crads .card:hover::before {
  border-color: rgba(0, 102, 153, 0.8);
}
.spz_1002 .hero_crads .card::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1.5px solid rgba(0, 102, 153, 0.3);
  background: #DFF3FF;
  top: 4px;
  left: 4px;
  transition: all 0.3s ease-in-out;
}
.spz_1002 .hero_crads .card.active {
  border-color: rgba(0, 102, 153, 0.8);
  background: #F0F9FF;
}
.spz_1002 .hero_crads .card.active::before {
  background-color: #186699;
  border: none;
  left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M11.25 3.26221C11.25 3.45411 11.1768 3.64611 11.0303 3.79236L5.03027 9.79236C4.88438 9.93955 4.69219 10.0122 4.5 10.0122C4.30781 10.0122 4.11609 9.93896 3.96984 9.79248L0.969844 6.79248C0.823359 6.64658 0.75 6.45439 0.75 6.26221C0.75 5.83377 1.10039 5.51221 1.5 5.51221C1.69191 5.51221 1.88391 5.58545 2.03016 5.73193L4.5 8.20283L9.97031 2.73252C10.1156 2.58557 10.3078 2.51221 10.5 2.51221C10.9008 2.51221 11.25 2.8333 11.25 3.26221Z' fill='white'/%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_crads .card.active::before {
    left: 4px;
  }
}
.spz_1002 .hero_crads .card > img {
  width: 24px;
  display: block;
  margin-bottom: 5.5px;
  pointer-events: none;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .hero_crads .card > img {
    margin-bottom: 5px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_crads .card > img {
    margin-bottom: 4.5px;
  }
}
.spz_1002 .hero_crads .card .card-text {
  text-align: center;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;
  min-height: 38.41px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_crads .card .card-text {
    font-size: 13px;
    line-height: 15.6px;
  }
}
.spz_1002 .hero_form .awr-find-your-protection-plan {
  border: none;
  border-radius: 6px;
  background-color: transparent;
  gap: 0;
  margin-top: 0;
  max-width: 400px;
  margin: auto;
  border: none;
}
.spz_1002 .hero_form .awr-find-your-protection-plan .awr-find-your-protection-plan__tabs-container {
  display: none;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form {
  padding: 0;
  gap: 0;
  align-items: flex-start;
  border-radius: 6px;
  border: 1px solid rgba(24, 102, 153, 0.4);
  background: #FFF;
  padding: 3px;
  height: 54px;
  transition: all 0.3s ease-in-out;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form:hover {
  border-color: rgba(24, 102, 153, 0.8);
}
.spz_1002 .hero_form .awr-find-your-protection-plan form:has(input:active), .spz_1002 .hero_form .awr-find-your-protection-plan form:has(input:focus) {
  border-color: rgba(24, 102, 153, 0.8);
}
.spz_1002 .hero_form .awr-find-your-protection-plan form:has(p.awr-find-your-protection-plan__input-error) {
  border-color: rgba(184, 52, 54, 0.8);
}
@media (max-width: 767.98px) {
  .spz_1002 .hero_form .awr-find-your-protection-plan form {
    flex-direction: row;
    max-width: 328px;
    margin: auto;
  }
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__input-container > p.awr-find-your-protection-plan__input-error {
  color: #B83436;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 6px;
  margin-left: -4px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container {
  order: -1;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container .pointer-events-none svg {
  color: #186699;
  width: 10.5px;
  height: 14px;
  margin-top: -3px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container .pointer-events-none:has(svg) {
  padding-left: 0;
  margin-left: 16px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"] {
  padding: 11px 16px 11px 40.5px;
  height: 46px;
  border: none;
  background-color: #fff;
  color: #000;
  font-family: "Sofia Pro Regular";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  caret-color: #000;
  border-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]::-moz-placeholder {
  color: rgba(0, 0, 0, 0.6);
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:disabled {
  opacity: 1;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:focus, .spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:active {
  outline: none;
  border: none;
  box-shadow: none;
  color: #000;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:focus::-webkit-input-placeholder, .spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:active::-webkit-input-placeholder {
  font-size: 0;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:focus::-moz-placeholder, .spz_1002 .hero_form .awr-find-your-protection-plan form .awr-find-your-protection-plan__zipcode-container input[placeholder="Zip Code"]:active::-moz-placeholder {
  font-size: 0;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] {
  width: 147.25px;
  height: 46px;
  border-radius: 4px;
  background: #186699;
  padding: 14px 49px 14px 27px;
  background-color: #186699;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit]:hover {
  background-color: #0A4C70;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit]:disabled {
  opacity: 1;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span {
  padding: 0;
  display: block;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span p {
  color: #fff;
  text-align: center;
  font-size: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span p::after {
  content: "Get Pricing";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.1px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span p + span[role=status] {
  width: 9px;
  position: absolute;
  right: 20px;
  top: 11px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span p + span[role=status] svg {
  width: 13px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span .awr-find-your-protection-plan__arrow-right {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 13px;
  height: 14.286px;
  margin-top: -0.5px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='15' viewBox='0 0 13 15' fill='none'%3E%3Cg clip-path='url(%23clip0_383_1433)'%3E%3Cpath d='M0.774748 7.47894C0.774748 7.96293 1.14115 8.35394 1.62514 8.35394H10.0115L7.12943 11.236C6.78764 11.5778 6.78764 12.1315 7.12943 12.4733C7.3017 12.6442 7.52592 12.7289 7.75014 12.7289C7.97436 12.7289 8.19803 12.6435 8.36865 12.4726L12.7437 8.0976C13.0854 7.7558 13.0854 7.20209 12.7437 6.86029L8.36865 2.48529C8.02686 2.14349 7.47315 2.14349 7.13135 2.48529C6.78955 2.82709 6.78955 3.3808 7.13135 3.7226L10.0115 6.60394H1.62514C1.14115 6.60394 0.774748 6.99496 0.774748 7.47894Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_383_1433'%3E%3Crect width='12.25' height='14' fill='white' transform='matrix(-1 0 0 1 13 0.479004)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 13px;
}
.spz_1002 .hero_form .awr-find-your-protection-plan form > button[type=submit] span .awr-find-your-protection-plan__arrow-right svg {
  display: none;
}
.spz_1002 .cards_two ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
  justify-content: center;
}
.spz_1002 .cards_two ul li {
  width: auto;
  padding: 0 6px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .cards_two ul li {
    padding-bottom: 12px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .cards_two ul {
    margin: 0 -4px;
  }
  .spz_1002 .cards_two ul li {
    padding: 0 4px 16px;
  }
}
.spz_1002 .cards_twoData {
  width: 109px;
  height: 112px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 767.98px) {
  .spz_1002 .cards_twoData {
    width: 76px;
    height: 110px;
  }
}
.spz_1002 .cards_twoData span {
  width: 70px;
  height: 70px;
  border-radius: 4px;
  background: #DFF3FF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_1002 .cards_twoData span {
    margin-bottom: 7.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_1002 .cards_twoData span {
    margin-bottom: 7px;
  }
}
.spz_1002 .cards_twoData span img {
  display: block;
}
.spz_1002 .cards_twoData strong {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  min-height: 34px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
}
@media (max-width: 767.98px) {
  .spz_1002 .cards_twoData strong {
    font-size: 13px;
    line-height: 15.6px;
    padding: 0 5px;
  }
}/*# sourceMappingURL=styles.css.map */