@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.spz-1016 .header-minimal,
.spz-1016 .background-color-light-orange,
.spz-1016 .footer-minimal,
.spz-1016 .form-wrapper.is-sub-wrapper,
.spz-1016 .optanon-category-C0004,
.spz-1016 .spz-form-wrap ~ img,
.spz-1016 .spz-form-wrap .header-stack-form {
  display: none;
}

.spz-1016 {
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/bill/1016/background-desktop-tablet.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  padding: 64px 0;
  display: flex;
  justify-content: center;
}

.spz-1016 .form-fields-wrapper {
  padding-bottom: 0;
}

.spz-1016 .form-wrapper {
  background-color: transparent;
  border: none;
  padding: 0;
  grid-row-gap: 0;
}

.spz-1016 .form-signup.is-full {
  max-width: none;
  width: 100%;
}

.spz-1016 .spz-form-wrap {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 10000;
  background: #FFF;
  border-radius: 12px;
  padding: 32.5px 40px 23.5px;
  width: 100%;
  max-width: 600px;
  overflow: hidden;
}

.spz-1016 .popup-modal-screen {
  z-index: 99999;
}

@media (max-width: 767.98px) {
  .spz-1016.v2 .spz-form-wrap {
    padding: 20px 20px 23px;
  }
  .spz-1016.v2 .spz-form-wrap .existiing_account {
    padding-bottom: 13px;
  }
  .spz-1016.v2 .spz-form-wrap h2 {
    margin-bottom: 23px;
  }
}
.spz-1016 .spz-form-wrap h2 {
  font-family: Soehne kraftig, sans-serif;
  color: #1C1B1B;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 38.4px;
  letter-spacing: -0.64px;
  margin-bottom: 23px;
  margin-top: 0;
}

.spz-1016 .spz-form-wrap h2 .orange {
  color: #FF5A0A;
}

.spz-1016 .spz-form-wrap h5 {
  display: none;
}

.spz-1016 .form-field-columns {
  display: block;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper {
  position: relative;
  width: calc((100% - 16px) / 2);
  float: left;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.msDynamicsOption {
  width: 100%;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.null {
  display: none;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.hide {
  display: none;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.accountingSoftware {
  width: 100%;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.email,
.spz-1016 .spz-form-wrap .spz-input-wrapper.firstName,
.spz-1016 .spz-form-wrap .spz-input-wrapper.phone,
.spz-1016 .spz-form-wrap .spz-input-wrapper.signupType {
  margin-right: 16px;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.signupType,
.spz-1016 .spz-form-wrap #form-panel-3 {
  display: none;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper label {
  position: absolute;
  overflow: hidden;
  color: #78797B;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  top: 10px;
  left: 8px;
  letter-spacing: 0px;
  margin: 0;
  background: transparent;
  padding: 0 4px;
  transition-property: font-size, top, left, background;
  transition-duration: 0.3s;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 84%;
  white-space: nowrap;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input::-webkit-input-placeholder {
  color: transparent;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:-ms-input-placeholder {
  color: transparent;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input::-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus::-webkit-input-placeholder {
  color: #AAABAD;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus:-moz-placeholder {
  color: #AAABAD;
  opacity: 1;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus:-ms-input-placeholder {
  color: #AAABAD;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus::-moz-placeholder {
  color: #AAABAD;
  opacity: 1;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill,
.spz-1016 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill:hover,
.spz-1016 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill:focus,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill:hover,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(126, 126, 126, 0) inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #111 !important;
  z-index: 2;
  position: relative;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill:hover ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill:focus ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill:hover ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill:focus ~ label {
  font-size: 12px;
  line-height: 16px;
  background: linear-gradient(to top, #FCFCFD 0%, #FCFCFD 50%, white 50%, white 100%);
  top: -7px;
  left: 8px;
}

.spz-1016 input:not([type=radio]) {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input,
.spz-1016 .spz-form-wrap .spz-input-wrapper select {
  border: 1px solid #C3C5C7;
  background: #FCFCFD;
  overflow: hidden;
  color: #1C1B1B;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
  /* display: block; */
  margin-bottom: 16px;
  width: 100%;
  padding: 5px 11px 5px 11px;
  border-radius: 6px;
  letter-spacing: 0px;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  outline: 0;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.valid input, .spz-1016 .spz-form-wrap .spz-input-wrapper.error input {
  padding-right: 32px;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper select {
  padding-top: 5px;
  padding-right: 36px;
  color: transparent;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.valid select, .spz-1016 .spz-form-wrap .spz-input-wrapper.valid select {
  padding-right: 60px;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.hasValue select {
  color: #111;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper select option {
  color: #111;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper select.hide ~ * {
  display: none;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:hover,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:hover {
  border: 1px solid #AAABAD;
}

.spz-1016 form > .form-options {
  margin-bottom: 0;
}

.spz-1016 #form-panel-3 .form-option-title {
  color: #1C1B1B;
  font-family: Soehne kraftig, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  letter-spacing: 0.1px;
}

.spz-1016.safari #form-panel-3 .form-option-title {
  font-family: Soehne buch, sans-serif;
  letter-spacing: -0.9px;
  -webkit-font-smoothing: antialiased;
}

.spz-1016 #form-panel-3 {
  margin-top: 6.5px;
  border: none !important;
  grid-row-gap: 0;
  margin-bottom: 22.5px;
}

.spz-1016 #form-panel-3 > div:first-child {
  grid-column-gap: 0;
}

.spz-1016 .form-dropdown {
  margin-bottom: 6px;
  margin-top: -4px;
}

.spz-1016 #form-panel-3 .text-size-tiny {
  display: inline-block;
  color: #797C8C;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-left: 8px;
  margin-top: 2px;
  text-transform: lowercase;
}

.spz-1016 #form-panel-3 .form-option-fields {
  flex-direction: column;
  margin-top: 13.5px;
  grid-row-gap: 0;
}

.spz-1016 #form-panel-3 .form-option-field {
  display: inline-flex;
  grid-column-gap: 0;
  padding: 0;
}

.spz-1016 #form-panel-3 .form-option-field:nth-child(1) {
  margin-bottom: 11.5px;
}

.spz-1016 #form-panel-3 .form-option-label {
  color: #1C1B1B;
  font-family: Soehne leicht, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03px;
}

.spz-1016 #form-panel-3 :checked + .form-option-label {
  color: #1C1B1B;
  font-weight: 500;
  font-family: Soehne kraftig, sans-serif;
}

.spz-1016 #form-panel-3 input[type=checkbox] {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid #AAABAD;
  float: none;
  margin: 0px 7px 0 0;
}

.spz-1016 #form-panel-3 .spacer-xxsmall {
  display: none;
}

.spz-1016 #form-panel-3 input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.0912 5.18726L6.46573 10.8127L3.90869 8.2557' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: #024DBD;
  border: 1px solid #024DBD;
  background-position: center center;
}

.spz-1016 #form-panel-3 + #form-panel-3 {
  display: none;
}

.spz-1016 .spz-form-wrap .arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%2378797B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 12px;
  pointer-events: none;
  z-index: 5;
}

.spz-1016 .submit-button.button-signup-2 {
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.4px;
  border-radius: 6px;
  margin-top: 8px;
  border: none;
  height: 44px;
  background: #024DBD;
}

.spz-1016 .submit-button.button-signup-2:hover {
  background: #053791;
}

.spz-1016 .submit-button.button-signup-2:disabled {
  background: rgba(2, 77, 189, 0.4);
}

.spz-1016 .button-disclaimer {
  color: #1C1B1B;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 12px;
  margin-bottom: 24px;
}

.spz-1016 .button-disclaimer a {
  color: #024DBD;
  font-size: 12px;
  white-space: normal;
  line-height: 16px;
  font-weight: 400;
  text-decoration: none;
}

.spz-1016 .button-disclaimer a:hover {
  color: #053791;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

/* state */
.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:focus {
  border: 1px solid #024DBD;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper.error input,
.spz-1016 .spz-form-wrap .spz-input-wrapper.error select {
  border: 1px solid #B32820;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:focus ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper.hasValue input ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper.hasValue select ~ label {
  font-size: 12px;
  line-height: 16px;
  background: linear-gradient(to top, #FCFCFD 0%, #FCFCFD 50%, white 50%, white 100%);
  top: -7px;
  left: 8px;
}

.spz-1016 .spz-form-wrap .spz-input-wrapper input:focus ~ label,
.spz-1016 .spz-form-wrap .spz-input-wrapper select:focus ~ label {
  color: #024DBD;
}

/*
.spz-1016 .spz-form-wrap .spz-input-wrapper .error-messsage,
.spz-1016 .spz-form-wrap #productInterest-reqError{
  position: absolute;
  top:48px;
  left: 0;
  border-radius: 6px;
  background: #EEF0F1;
  padding: 8.5px 11.5px;
  color: #1C1B1B;
  font-family: Soehne leicht, sans-serif;
  font-size:  12px;
  font-weight: 400;
  line-height:  16px;
  pointer-events: none;
  z-index: 12;
  width: 100%;
  max-width: 216px;
  display: none;
}
.spz-1016 .spz-form-wrap #productInterest-reqError{
  position: relative;
  font-size:  12px !important;
  color: #1C1B1B !important;
  display: block;
  margin-top:6px;
  top: 0;
}
.spz-1016 .spz-form-wrap #productInterest-reqError[hidden]{
  display: none;
}
.spz-1016 .spz-form-wrap .spz-input-wrapper .error-messsage::before,
.spz-1016 .spz-form-wrap #productInterest-reqError::before{
  position: absolute;
  content:"";
  top: -6px;
  left: 15px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='6' viewBox='0 0 12 6' fill='none'%3E%3Cpath d='M0 6L12 6L7.41421 1.41421C6.63317 0.633165 5.36684 0.633166 4.58579 1.41421L0 6Z' fill='%23EEF0F1'/%3E%3C/svg%3E");
  width: 12px;
  height: 6px;
}
.spz-1016 .spz-form-wrap .spz-input-wrapper.error :focus ~ .error-messsage{
  display: block;
}
.spz-1016 .spz-form-wrap .spz-input-wrapper .validation-symbol{
  position: absolute;
  z-index: 11;
  width: 20px;
  height: 20px;
  display: none;
  top: 10px;
  right: 12.5px;
}
.spz-1016 .spz-form-wrap .spz-input-wrapper select ~  .validation-symbol{
  right: 39.5px;
}
.spz-1016 .spz-form-wrap .spz-input-wrapper.valid .validation-symbol ,.spz-1016 .spz-form-wrap .spz-input-wrapper.error .validation-symbol{
  display: block;
}
.spz-1016 .spz-form-wrap .spz-input-wrapper.valid .validation-symbol {

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM6.4515 9.22461L8.56299 11.3712L13.5481 5.99902L14.8003 7.21936L8.51835 13.999L5.20032 10.5258L6.4515 9.22461Z' fill='%23238D8C'/%3E%3C/svg%3E");

}
.spz-1016 .spz-form-wrap .spz-input-wrapper.error .validation-symbol{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM9.29308 7.34616C9.49661 7.54154 9.75305 7.63924 10.0624 7.63924C10.3718 7.63924 10.6242 7.53747 10.8195 7.33394C11.0231 7.13041 11.1248 6.87804 11.1248 6.57682C11.1248 6.25932 11.0231 6.00287 10.8195 5.80748C10.6242 5.6121 10.3718 5.5144 10.0624 5.5144C9.75305 5.5144 9.49661 5.6121 9.29308 5.80748C9.09769 6.00287 9 6.25932 9 6.57682C9 6.88618 9.09769 7.14263 9.29308 7.34616ZM9.07327 14.4778C9.10583 14.5022 9.14247 14.5144 9.18318 14.5144H10.9172C10.9579 14.5144 10.9905 14.5022 11.0149 14.4778C11.0475 14.4452 11.0638 14.4086 11.0638 14.3679V8.34751C11.0638 8.30681 11.0475 8.27424 11.0149 8.24982C10.9905 8.21725 10.9579 8.20097 10.9172 8.20097H9.18318C9.14247 8.20097 9.10583 8.21725 9.07327 8.24982C9.04885 8.27424 9.03663 8.30681 9.03663 8.34751V14.3679C9.03663 14.4086 9.04885 14.4452 9.07327 14.4778Z' fill='%23B32820'/%3E%3C/svg%3E");

}
*/
.spz-1016 .existiing_account {
  text-align: center;
  color: #1C1B1B;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  letter-spacing: 0px;
  padding-top: 24.5px;
}

.spz-1016 .existiing_account::before {
  background: #F6F6F3;
  content: "";
  z-index: -1;
  width: calc(100% + 80px);
  height: 100%;
  position: absolute;
  top: 0;
  left: -40px;
}

.spz-1016 .existiing_account a {
  color: #024DBD;
  transition: all 0.3s ease;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

.spz-1016 .existiing_account a:hover {
  text-decoration: underline;
  color: #053791;
}

.spz-1016 .form-wrapper .text-size-small.is-form {
  color: #1C1B1B;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding: 12px 0px 0;
  letter-spacing: 0px;
  position: relative;
}

.spz-1016 .form-wrapper .text-size-small.is-form::before {
  background: #F6F6F3;
  content: "";
  z-index: -1;
  width: calc(100% + 80px);
  height: calc(100% + 24px);
  position: absolute;
  top: 0;
  left: -40px;
}

.spz-1016 .form-wrapper .text-size-small.is-form a {
  color: #024DBD;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  font-family: Soehne kraftig, sans-serif;
  transition: all 0.3s ease;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

.spz-1016 .form-wrapper .text-size-small.is-form a:hover {
  text-decoration: underline;
  color: #053791;
}

@media (max-width: 767.98px) {
  .spz-1016 {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/bill/1016/background-mobile.webp");
    padding: 48px 18px;
  }
  .spz-1016 .spz-form-wrap {
    padding: 60px 20px 19.5px;
  }
  .spz-1016 .spz-form-wrap h2 {
    font-size: 28px;
    line-height: 31px;
    letter-spacing: -0.6px;
    margin-bottom: 19.5px;
  }
  .spz-1016 .spz-form-wrap .spz-input-wrapper {
    width: 100%;
  }
  .spz-1016 .spz-form-wrap .spz-input-wrapper input,
  .spz-1016 .spz-form-wrap .spz-input-wrapper select {
    margin-bottom: 18px;
  }
  .spz-1016 #form-panel-3 .text-size-tiny {
    display: block;
    margin-left: 0px;
    margin-top: 4px;
  }
  .spz-1016 #form-panel-3 {
    margin-top: 0.5px;
    margin-bottom: 18px;
  }
  .spz-1016 #form-panel-3 .flex-horizontal {
    display: block;
  }
  .spz-1016 .form-dropdown {
    margin-bottom: 2px;
    margin-top: 0px;
  }
  .spz-1016 #form-panel-3 .form-option-fields {
    flex-direction: column;
    align-items: flex-start;
  }
  .spz-1016 #form-panel-3 .form-option-field:nth-child(1) {
    margin-right: 0px;
  }
  .spz-1016 #form-panel-3 .form-option-field:first-child {
    margin-bottom: 12px;
  }
  .spz-1016 .submit-button.button-signup-2 {
    min-height: 0;
  }
  .spz-1016 .button-disclaimer {
    padding: 0;
    margin-top: 12.5px;
    margin-bottom: 20px;
  }
  .spz-1016 .existiing_account {
    padding-top: 20px;
  }
}
:root {
  --inputHeight: 54px;
}

.spz_t1004 {
  /*Form layout styling*/
  /*Form layout styling end*/
  /* Styling for label animation*/
  /* Styling for label animation end*/
}
.spz_t1004 > img {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answers-wrap {
    gap: 10px;
  }
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answers-wrap .answer-item {
    width: calc(50% - 10px);
  }
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answers-wrap .answer-item .answer-text {
    white-space: nowrap;
  }
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answers-wrap .answer-text {
  min-height: unset;
  padding-bottom: 9px;
  font-weight: 600;
  font-family: Soehne kraftig, sans-serif;
}
@media (max-width: 767px) {
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answers-wrap .answer-text {
    padding-bottom: 8px;
  }
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item {
  padding-left: 8px;
  padding-right: 8px;
  height: 210px;
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item.selected {
  border-width: 1px;
}
@media (max-width: 767px) {
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item {
    height: 184px;
  }
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item ul {
  padding-left: 7px;
  list-style: none;
  pointer-events: none;
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item ul li {
  text-align: left;
  color: #111;
  font-family: Soehne leicht, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  align-items: center;
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item ul li:not(:last-child) {
  padding-bottom: 4px;
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item ul li svg {
  width: 12px;
  margin-right: 8px;
  transform: translateY(-0.5px);
}
@media (max-width: 767px) {
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item ul {
    padding-left: 3px;
  }
}
@media (max-width: 767px) {
  .spz_t1004.v2 .spz-triage-wrap .question-1 .answer-item .answer-image {
    margin-bottom: 11px;
  }
}
.spz_t1004.v2 .spz-triage-wrap .question-1 .answer-text {
  max-width: 100%;
}

.hero_right {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .hero_right {
    width: 100%;
  }
}
.hero_right > .spz-form-wrap {
  display: none;
  max-width: 600px;
  margin: 0;
  background: #FFF;
  box-shadow: 0px 20px 24px -4px rgba(82, 45, 29, 0.04), 0px 8px 8px -4px rgba(82, 45, 29, 0.03);
  padding: 32px;
  margin-bottom: 8px;
}

.spz_t1004 .center {
  max-width: 1124px;
}

.spz_t1004 .site_header .site_header_main {
  height: 88px;
}

@media (max-width: 767px) {
  .spz_t1004 .site_header .site_header_main {
    height: 70px;
  }
}
.spz_t1004 .site_header_main .middle-container {
  height: 88px;
}

.spz_t1004 .site_header_main .logo {
  height: 39px;
  max-width: 315px;
  width: 100%;
}

.spz_t1004 .site_header_main .logo-link.logo_ititial .logo_full {
  height: 39.5px;
  width: 100%;
  transform: translateX(0px) translateY(-1px);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .site_header_main .middle-container {
    padding: 0 40px !important;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .site_header_main .middle-container {
    height: 70px;
    padding: 20px 24px !important;
  }
  .spz_t1004 .site_header_main .logo {
    height: 30px;
  }
  .spz_t1004 .site_header_main .logo-link {
    height: 30px;
  }
  .spz_t1004 .site_header_main .logo-link.logo_ititial {
    display: inline-block;
    min-width: 245px;
    transform: translateY(1px);
  }
  .spz_t1004 .site_header_main .logo-link.logo_ititial .logo_full {
    max-width: 245px !important;
    height: 30px;
  }
  .spz_t1004 .site_header_main .logo_to_scroll img {
    max-width: 245px !important;
    width: 245px !important;
    height: 30px;
  }
}
.spz_t1004 .spz-triage-wrap {
  max-width: 600px;
  width: 100%;
  margin: 0;
}
.spz_t1004 .spz-triage-wrap .is-sub-wrapper {
  border: 1px solid #D6D6E1;
  padding: 23.5px 32px 22.5px;
  max-width: 100%;
  border-radius: 0;
}
.spz_t1004 .spz-triage-wrap .is-sub-wrapper > .text-size-small {
  color: #797C8C;
  font-family: Soehne buch, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  width: 100%;
}
.spz_t1004 .spz-triage-wrap .is-sub-wrapper > .text-size-small:first-child {
  padding-bottom: 12px;
}
.spz_t1004 .spz-triage-wrap .is-sub-wrapper > .text-size-small a {
  color: #1B0EB1;
  font-family: Soehne buch, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  margin-left: -3px;
}

.spz_t1004 .questions-wrap {
  background: #FFF;
  /* box-shadow: 0px 20px 24px -4px rgba(82, 45, 29, 0.04), 0px 8px 8px -4px rgba(82, 45, 29, 0.03); */
  padding: 32px;
  border-radius: 12px;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .spz_t1004 .questions-wrap {
    padding: 20px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap {
    padding: 48px 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .spz-triage-wrap {
    max-width: 600px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap {
    max-width: 688px;
    margin: auto;
  }
}
.spz_t1004 .spz-triage-wrap .questions-progress {
  display: flex;
  justify-content: center;
  margin-bottom: 24.5px;
}

.spz_t1004 .spz-triage-wrap .questions-progress .progress-item {
  width: 48px;
  height: 4px;
  margin: 0 5px;
  border-radius: 20px;
  background: #E4E4E4;
}

.spz_t1004 .spz-triage-wrap .questions-progress .progress-item.completed {
  border: none;
  background: #E4E4E4;
}

.spz_t1004 .spz-triage-wrap .questions-progress .progress-item.active {
  border: none;
  background: #1EC3E0;
}

.spz_t1004 .spz-triage-wrap .question-superheading {
  color: #111;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 24px;
}
.spz_t1004 .spz-triage-wrap .spz-form-wrap .question-superheading {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-superheading {
    font-size: 24px;
    line-height: 32px;
  }
  .spz_t1004.step_three .spz-triage-wrap .question-superheading {
    margin-bottom: 22px !important;
  }
}
.spz_t1004 .spz-triage-wrap .question-1 .question-superheading,
.spz_t1004 .spz-triage-wrap .question-2 .question-superheading {
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-1 .question-superheading,
  .spz_t1004 .spz-triage-wrap .question-2 .question-superheading {
    margin-bottom: 5.5px;
  }
}
.spz_t1004 .spz-triage-wrap .question-heading {
  font-family: Soehne buch, sans-serif;
  text-align: center;
  color: #111;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 23.5px;
}

@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-heading {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24.5px;
  }
}
.spz_t1004 .spz-triage-wrap .spz-hidden {
  display: none;
}

.spz_t1004 .spz-triage-wrap .answers-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24.5px;
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap {
    margin-bottom: 24px;
  }
}

.spz_t1004 .spz-triage-wrap .question-2 .answers-wrap {
  margin-bottom: 24px;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap {
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap {
    gap: 16px;
    margin: 0 -8px 24.5px;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap {
    gap: 12px;
  }
}
.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item {
  width: 260px;
  height: 156px;
  padding: 20px 16px 20px 16px;
  text-align: center;
  border: 1px solid #D6D6E1;
  background: #FFF;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-item {
    width: 227px;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004:not(.v2) .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
    padding: 20px 10px 20px 10px;
  }
}

.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto 11px;
  flex: unset;
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
    width: 48px;
    height: 48px;
  }
}

.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item:hover {
  border: 1px solid #B5B5C0;
  background: #FFF;
}

.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item.selected {
  border: 2px solid #024DBD;
  background: #FFF;
}
.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item.selected .answer-text {
  font-family: Soehne kraftig, sans-serif;
  font-weight: 600;
}

.spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-item.selected .answer-text {
  font-family: Soehne leicht, sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-item {
    width: calc(50% - 16px);
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-item {
    width: 284px;
    height: 108px;
    padding: 16px;
  }
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
    transform: translateY(-1px);
    margin-bottom: -0.5px;
  }
  .spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-item .answer-image {
    margin-bottom: 11.5px;
  }
}
.spz_t1004 .spz-triage-wrap .answers-wrap .answer-text {
  text-align: center;
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 222px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-text {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
  }
}

.spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-text {
  font-family: Soehne leicht, sans-serif;
}

.spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-text {
  min-height: unset;
  max-width: 196px;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-text {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-text {
    white-space: normal;
    max-width: 165px;
  }
}

.spz_t1004 .spz-triage-wrap .answers-wrap .answer-textTwo {
  width: 100%;
  color: #111;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .answers-wrap .answer-textTwo {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
  }
}

.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item .answer-checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 7px;
  border: 1px solid #B5B5C0;
  border-radius: 2px;
}

.spz_t1004 .spz-triage-wrap .answers-wrap .answer-item.selected .answer-checkbox {
  border-radius: 2px;
  border: 1px solid #024DBD;
  background: #024DBD;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M12.0907%205.18726L6.46524%2010.8127L3.9082%208.2557%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spz_t1004 .spz-triage-wrap .question-item {
  position: relative;
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 {
    padding-top: 36px;
  }
}

.spz_t1004 .spz-triage-wrap .question-item.question-1 .go_back {
  display: none;
}
.spz_t1004 .spz-triage-wrap .question-item.question-1 .answer-textTwo {
  display: none;
}

.spz_t1004 .spz-triage-wrap .question-item.question-1 .answer-textTwo {
  display: none;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-1 .answers-wrap {
    gap: 10px;
    max-width: 464px;
    margin: 0 auto 24px;
    justify-content: space-between;
  }
}
.spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap {
  gap: 15.5px;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap {
    gap: 9px;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap {
    gap: 12px;
    margin: 0 -4px 23.5px;
  }
}
.spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
  width: 260px;
  height: 182px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
    width: 227px;
  }
}

.spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-checkbox {
  border-radius: 99px;
  border: 1px solid #B5B5C0;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item.selected {
  padding-top: 19px;
}
.spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item.selected .answer-checkbox {
  background-image: none;
  background-color: transparent;
  border-color: #024DBD;
  top: 6.5px;
  left: 5.5px;
}
.spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item.selected .answer-checkbox::after {
  content: "";
  width: 9.6px;
  height: 9.6px;
  border-radius: 99px;
  background: #024DBD;
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item.selected {
    padding-top: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-item.selected .answer-text {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-2 .answers-wrap .answer-item.selected .answer-text {
    white-space: normal;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
    width: calc(50% - 16px);
  }
}
@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
    width: 284px;
    height: 152px;
  }
  .spz_t1004 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-text {
    font-size: 14px;
    line-height: 22px;
  }
}
.spz_t1004 .spz-triage-wrap .question-item.question-2 .next-question {
  transform: translateY(0.5px);
}

.spz_t1004 .spz-triage-wrap .next-question {
  height: 50px;
  width: 100%;
  background: #024DBD;
  color: #FFF;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.4s ease;
}
.spz_t1004 .spz-triage-wrap .next-question img {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex: unset;
  transform: translateX(10px);
}

.spz_t1004 .spz-triage-wrap .next-question:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)) 100%, #024DBD;
}

.spz_t1004 .spz-triage-wrap .next-question:active,
.spz_t1004 .spz-triage-wrap .next-question:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)) 100%, #024DBD;
}

@media (max-width: 767px) {
  .spz_t1004 .spz-triage-wrap .next-question {
    max-width: 284px;
    height: 50px;
    font-size: 16px;
    line-height: 22px;
  }
}
.spz_t1004 .spz-form-wrap form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
}
.spz_t1004 .question-form {
  position: relative;
}

.spz_t1004.step_three .questions-wrap {
  padding-bottom: 23.5px;
}
@media (max-width: 767px) {
  .spz_t1004.step_three .questions-wrap {
    padding-bottom: 15.5px;
  }
}
.spz_t1004.step_three .spz-triage-wrap {
  max-width: 600px;
}
.spz_t1004.step_three .questions-wrap {
  padding: 0;
  box-shadow: none;
  background: transparent;
}
.spz_t1004.step_three .questions-wrap .question-superheading {
  display: none;
}
.spz_t1004.step_three .question-form .go_back {
  top: 15px;
  left: 15px;
  z-index: 99999;
}

.spz_t1004 .error-message {
  border-radius: 2px;
  background: #FFF3ED;
  color: #D22730;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 24px;
}
.spz_t1004 .error-message svg {
  width: 16px;
  height: 16px;
}

.spz_t1004 .error-message svg {
  margin-right: 4px;
}

@media (max-width: 767px) {
  .spz_t1004 .error-message {
    font-size: 12px;
    line-height: 20px;
    padding: 7px 12px;
    max-width: 284px;
    margin-left: auto;
    margin-right: auto;
  }
}
.spz_t1004 .go_back {
  position: absolute;
  left: -15.5px;
  top: -15.5px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 200px;
  transition: all 0.3s ease;
  color: #024DBD;
  font-family: Soehne buch, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: none;
}
.spz_t1004 .go_back img,
.spz_t1004 .go_back svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  transform: translateY(0.5px);
  transition: all 0.4s ease;
}
.spz_t1004 .go_back:hover {
  background: #FAFAFA;
  padding-right: 5px;
}
.spz_t1004 .go_back:hover svg,
.spz_t1004 .go_back:hover img {
  margin-right: 9px;
}
@media (max-width: 767px) {
  .spz_t1004 .go_back {
    left: 0;
    top: 0;
  }
}

.spz_t1004 .spz-input-wrapper.null {
  display: none;
}
.spz_t1004 .signup-column {
  grid-row-gap: 0;
  grid-column-gap: 0;
}
.spz_t1004 .signup-left {
  margin-top: -26px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .signup-left {
    margin-top: 0;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .signup-left {
    margin-top: 0;
    padding-bottom: 32px;
  }
  .spz_t1004 .signup-left .spacer-small {
    min-height: 0;
  }
}
.spz_t1004 .container-large.vertical-padding-first {
  padding-bottom: 5em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t1004 .container-large.vertical-padding-first {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .spz_t1004 .container-large.vertical-padding-first {
    padding-bottom: 0;
  }
}
.spz_t1004 .existiing_account {
  text-align: center;
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 8px;
}
.spz_t1004 .existiing_account a {
  color: #1B0EB1;
  transition: all 0.3s ease;
  display: inline-block;
  letter-spacing: 0.8px;
  margin-left: 1px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.spz_t1004 .existiing_account a:hover {
  text-decoration: underline;
}
.spz_t1004 .disclaimer_2 {
  text-align: center;
  padding-top: 8px;
}
.spz_t1004 .disclaimer_2 p {
  color: #797C8C;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 0;
}
.spz_t1004 .disclaimer_2 p a {
  color: #1B0EB1;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.spz_t1004 .disclaimer_2 p a:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */