$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

:root {
  --inputHeight: 52px;
}

.spz_t9001 {
  .thank-you-screen {
    .form_outer {
      display: none;
    }
  }

  &.usercube {
    .form_outer {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-usercube-desktop.webp');

      @include tablet() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-usercube-tablet.webp');
      }

      @include mobile() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-usercube-mobile.webp');
      }
    }
  }

  &.password_policy {
    .form_outer {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-assword_policy_enforcer-desktop.webp');

      @include tablet() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-password_policy_enforcer-tablet.webp');
      }

      @include mobile() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-password_policy_enforcer-mobile.webp');
      }
    }
  }

  &.data_access {
    .form_outer {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-enterpise_auditor-desktop.webp');

      @include tablet() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-enterpise_auditor-tablet.webp');
      }

      @include mobile() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-enterpise_auditor-mobile.webp');
      }
    }
  }

  &.data_classification {
    .form_outer {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-data_classification-desktop.webp');

      @include tablet() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-data_classification-tablet.webp');
      }

      @include mobile() {
        background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-data_classification-mobile.webp');

        .form_heading h2 {
          padding: 0 25px;
        }
      }

    }
  }

  .progress,
  .header-flex-container {
    display: none;
  }

  .welcome-screen {
    padding: 0;

    >h2,
    >p,
    >.overlay-form,
    >.language-selector {
      display: none;
    }
  }

  .form-horizontal {
    >div {
      width: calc(50% - 8px);

      &.privacy-text {
        display: none;
      }

      @include mobile() {
        width: 100%;
      }

      &.error-summary {
        width: 100%;
      }

      &.error,
      &.email_error {

        input,
        select,
        textarea {
          border-color: #DF0000;
          background-color: #fff;
        }

        select {
          color: transparent;

          &:focus,
          &:active {
            color: #354556;

            option {
              &:first-child {
                color: #354556;
              }
            }
          }
        }

        .focused,
        .has-value {

          input,
          select,
          textarea {
            +label[class*=label-spz-] {
              color: #DF0000;
            }
          }
        }

        .focused input,
        .focused select,
        .focused textarea {
          border-color: #DF0000;
          background-color: #fff;
        }

        .has-value input,
        .has-value select,
        .has-value textarea {
          border-color: #DF0000;
          background-color: #fff;
        }

        .has-value,
        .focused {
          select {
            color: #354556;

            option {
              color: #354556;

              &:first-child {
                color: transparent;

              }
            }

            &:hover {
              option {
                &:first-child {
                  color: #354556;
                }
              }
            }
          }
        }
      }
    }
  }

  .contact-cont {
    padding-top: 0;

    >.container,
    .v-office-locations-heading {
      display: none;
    }
  }

  .form-wrapper-2 {
    padding: 0;
  }

  .form_outer {
    padding: 50px 0;
    background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-auditor-desktop.webp');
    backdrop-filter: blur(4px);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    min-height: 100vh;

    @include tablet() {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-auditor-tablet.webp');
      flex-wrap: wrap;
      height: auto;
      position: relative;
      overflow: auto;
      justify-content: space-between;
    }

    @include mobile() {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/9001/bg-auditor-mobile.webp');
      flex-wrap: wrap;
      height: auto;
      position: relative;
      overflow: auto;
    }
  }


  /*Background end */

  /*Style form wrapping div like shadows wrapper background border-radius etc...*/
  .spz-form-wrap {
    max-width: 554px;
    /*Set form container width*/
    width: 100%;
    border-radius: 8px;
    padding: 40px;
    background-color: #fff;
    text-align: center;

    @include tablet() {
      max-height: unset;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include mobile() {
      padding: 28px 20px 28px;
      transform: none;
    }
  }

  /*Style form wrapping div end*/
  @media(max-width: 767px) {
    .spz-form-wrap {
      width: 100%;
      max-height: unset;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  .spz-form-wrap .the-form {
    margin-top: 14px;
  }

  /*Form layout styling*/
  .spz-form-wrap form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0 16px;

    @include mobile() {
      gap: 0;
    }

    .error-summary {
      width: 100%;
      color: #DF0000;
      font-family: Open Sans;
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      background: white;
      padding: 0 23.5px;
      transform: translateY(-20px);

      &::before {
        content: '';
        display: none;
        width: 16px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M2.67463 13.9453H13.3265C13.4995 13.9453 13.6695 13.9004 13.82 13.815C13.9704 13.7296 14.0962 13.6066 14.1849 13.458C14.2736 13.3095 14.3222 13.1405 14.3261 12.9675C14.3299 12.7946 14.2888 12.6236 14.2068 12.4712L8.88119 2.58062C8.50338 1.87937 7.49775 1.87937 7.11994 2.58062L1.79431 12.4712C1.7123 12.6236 1.67121 12.7946 1.67505 12.9675C1.6789 13.1405 1.72755 13.3095 1.81625 13.458C1.90496 13.6066 2.03068 13.7296 2.18113 13.815C2.33158 13.9004 2.50162 13.9453 2.67463 13.9453Z' stroke='%23DF0000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.82043 6.10587L7.99981 9.91837L8.17887 6.10743C8.17998 6.08307 8.1761 6.05874 8.16749 6.03592C8.15887 6.01311 8.14569 5.99229 8.12876 5.97474C8.11182 5.95719 8.09149 5.94328 8.06899 5.93385C8.0465 5.92443 8.02232 5.91969 7.99793 5.91993C7.97397 5.92016 7.9503 5.9252 7.92832 5.93473C7.90634 5.94426 7.88649 5.95811 7.86994 5.97544C7.8534 5.99277 7.84049 6.01324 7.83199 6.03564C7.82348 6.05804 7.81956 6.08192 7.82043 6.10587Z' stroke='%23DF0000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 12.4141C7.87639 12.4141 7.75555 12.3774 7.65277 12.3087C7.54999 12.2401 7.46988 12.1424 7.42258 12.0282C7.37527 11.914 7.36289 11.7884 7.38701 11.6671C7.41113 11.5459 7.47065 11.4345 7.55806 11.3471C7.64547 11.2597 7.75683 11.2002 7.87807 11.1761C7.99931 11.152 8.12497 11.1643 8.23918 11.2116C8.35338 11.2589 8.45099 11.339 8.51967 11.4418C8.58834 11.5446 8.625 11.6654 8.625 11.7891C8.625 11.9548 8.55915 12.1138 8.44194 12.231C8.32473 12.3482 8.16576 12.4141 8 12.4141Z' fill='%23DF0000'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: left center;
      }

      &.v-show {
        margin: 0 auto 24px;
        text-align: center;

        &::before {
          display: inline-block;
          transform: translateX(-2px)translateY(2px);
        }
      }
    }
  }

  .spz-form-wrap .mktoFormRow {
    max-width: calc(50% - 8px) !important;
    width: 100%;
  }

  /*Form layout styling end*/

  /* Styling for label animation*/
  .inner-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0 8px;

    .spz-input-wrap {
      &:nth-of-type(8) {
        width: 100%;
      }
    }

    .g-recaptcha {
      margin: 12px auto 14px;
    }

    .privacy {
      padding-top: 16.5px !important;
    }

    &:has(.spz-input-wrap.hide) {
      .g-recaptcha {
        display: none;
      }

      .privacy {
        padding-top: 15.5px !important;

        @include mobile() {
          padding-top: 16.5px !important;
        }
      }
    }
  }

  .spz-input-wrap {
    position: relative;
    width: 100%;
    padding: 0 0 16px;

    @include mobile() {
      width: 100%;
      padding-bottom: 16px;
    }

    textarea {
      height: 100px;
      resize: none;
    }

    input,
    select,
    textarea {
      width: 100%;
      border-radius: 8px;
      border: 1px solid #E4E4E4;
      padding: 14px 15px;
      text-overflow: ellipsis;
      color: #354556;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      outline: none;
      margin-bottom: 0;
      caret-color: #0090FF;
      box-shadow: none;

      &:focus,
      &:active {
        box-shadow: none;
      }

      &.error,
      &.email_error {
        border-color: #DF0000;
        background-color: #fff;

        +label[class*=label-spz-] {
          color: #DF0000;
        }

        &.focused,
        &.has-value {
          +label[class*=label-spz-] {
            color: #DF0000;
          }
        }

        input,
        select,
        textarea {
          border-color: #DF0000;
        }

        select {
          color: transparent;

          &:focus,
          &:active {
            color: #354556;

            option {
              &:first-child {
                color: #354556;
              }
            }
          }
        }
      }
    }

    select {
      color: transparent;
      padding-right: 40px;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none"%3E%3Cpath d="M8.46764 12.5326C8.60816 12.6723 8.79825 12.7507 8.99639 12.7507C9.19453 12.7507 9.38462 12.6723 9.52514 12.5326L15.5251 6.53264C15.648 6.38916 15.7122 6.20461 15.7049 6.01585C15.6976 5.82709 15.6194 5.64804 15.4858 5.51447C15.3522 5.3809 15.1732 5.30265 14.9844 5.29536C14.7957 5.28806 14.6111 5.35227 14.4676 5.47514L9.00014 10.9426L3.53264 5.46764C3.39141 5.32641 3.19987 5.24707 3.00014 5.24707C2.80041 5.24707 2.60887 5.32641 2.46764 5.46764C2.32641 5.60887 2.24707 5.80041 2.24707 6.00014C2.24707 6.19987 2.32641 6.39141 2.46764 6.53264L8.46764 12.5326Z" fill="%2354585C"/%3E%3C/svg%3E');
      background-repeat: no-repeat !important;
      background-position: 93% center !important;
      background-size: 18px !important;
      background-color: #fff;
      -webkit-appearance: none;
      cursor: pointer;

      @include mobile() {
        background-position: 94% center !important;
      }

      &:focus,
      &:active {
        color: #354556;
        box-shadow: none;

        option {
          &:first-child {
            color: #354556;
          }
        }
      }

      @include tablet() {
        background-position: 94.6% center;
      }

      @include mobile() {
        background-position: 94.5% center;
      }
    }

    &.focused input,
    &.focused select,
    &.focused textarea {
      border-color: #0090FF;

      &.error,
      &.email_error {
        border-color: #DF0000;
        background-color: #fff;
      }
    }

    &.has-value input,
    &.has-value select,
    &.has-value textarea {
      border-color: #66BCFF;

      &.error,
      &.email_error {
        border-color: #DF0000;
        background-color: #fff;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 1) inset !important;
      transition: background-color 5000s ease-in-out 0s !important;
      -webkit-text-fill-color: #2B2B2B !important;
      z-index: 2;
      position: relative;
    }

  }

  .spz-input-wrap input,
  .spz-input-wrap select {
    height: var(--inputHeight) !important;

    option {
      &:first-child {
        color: transparent;

        &:hover {
          color: #354556;
        }
      }
    }
  }

  .form-horizontal {
    .privacy {
      width: 100%;
      color: #54585C;
      text-align: center;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 8px;

      a {
        color: #54585C;
        transition: all 0.3s ease;
        border: none;
        text-decoration: underline;

        &:hover {
          color: #0090FF;
        }
      }

      @include mobile() {
        padding-left: 25px;
        padding-right: 25px;
      }
    }

    input[type="submit"] {
      margin-top: 12px;
      float: left;
      color: #FFF;
      font-family: Open Sans;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      border-radius: 4px;
      padding: 13px 24px;
      background: #D22730;
      border-width: 0;
      width: 100%;
      height: 54px;
      outline: 0;
      appearance: none;
      -webkit-appearance: none;
      transition: all 0.3s ease;

      &:hover {
        background: #E63B44;
      }

      &:focus,
      &:active {
        background: #BE131C;
      }

      @include tablet() {
        transform: translateX(0);
      }

      @include mobile() {
        transform: translateX(0);
        margin-top: 11.5px;
      }
    }
  }

  .spz-input-wrap label[class*="label-spz-"] {
    position: absolute;
    left: 16px;
    line-height: var(--inputHeight);
    top: 0;
    transition: top 0.25s linear;
    padding: 0;
    color: #54585C;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    pointer-events: none;
    z-index: 5;
    margin-bottom: 0;
  }

  .focused,
  .has-value {
    label[class*="label-spz-"] {
      top: calc(-1 * (var(--inputHeight) / 4 - 4.5px));
      /*need to work on it to make it calculated automatically*/
      background: #fff;
      line-height: normal;
      transition: top 0.15s linear;
      padding: 0 6px;
      color: #354556;
      font-size: 12px;
      left: 10px;

      @include mobile() {
        left: 13px;
        padding: 0 3px;
      }
    }
  }

  .has-value,
  .focused {
    select {
      color: #354556;

      option {
        color: #354556;

        &:first-child {
          color: transparent;
        }
      }
    }

    &.error {
      select {
        color: #354556;

        option {
          color: #354556;

          &:first-child {
            color: transparent;
          }
        }
      }
    }
  }

  /* Styling for label animation end*/

  .form_logo {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 23.5px;
    margin-bottom: 32.5px;

    img {
      display: block;
      width: auto;
      margin: auto;
    }
  }

  .form_heading {
    padding-bottom: 14px;

    h2 {
      margin: 0;
      color: #000!important;
      font-family: "Roboto"!important;
      text-align: center!important;
      font-size: 32px!important;
      font-weight: 500!important;
      line-height: 40px!important;
      padding: 0 14px!important;
      margin-bottom: 0!important;

      @include mobile() {
        font-size: 24px!important;
        line-height: 32px!important;
      }
    }
  }

  .securityInfo {
    color: #54585C;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    float: left;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 16px;

    a {
      text-decoration-skip-ink: none;
      -webkit-text-decoration-skip-ink: none;
      color: inherit;
      text-decoration: underline;
      transition: all 0.3s ease;

      &:hover {
        color: #D22730;
      }

      &:focus,
      &:active {
        color: #54585C;
      }
    }

    @include mobile() {
      padding: 0 25px;
    }
  }

  @media (min-width: 768px) and (max-width: 1259px),
  (min-width: 1260px) and (max-width: 1599px),
  (min-width: 1600px) {
    .securityInfo .visible-xs-inline {
      display: none;
    }
  }

  .form_main {
    overflow: auto;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (min-width: 1200px) {
      align-items: unset;
    }

    @include mobile() {
      padding: 0 25px;
      align-items: flex-start;
    }
  }

  .cookie-information-cont {
    z-index: 99999999999999999;
  }

  .error-message {
    color: #DF0000;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
    margin-top: 4px;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .error-message svg {
    margin-right: 4px;
  }

  .footer-flex-container {
    display: none;
  }
}