$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_231 {
  #content {
    .cards {
      .card-3 {
        order: 1;
        margin-left: 0;
        border-radius: 10px 0 0 10px;
      }

      .card-2 {
        order: 2;
        margin-left: -.0625rem;
      }

      .card-1 {
        order: 3;
        margin-left:-.125rem;
      }

      .card-0 {
        order: 4;
        margin-left: -.1875rem;
        border-radius: 0 10px 10px 0;
      }
      @media only screen and (max-width: 960px) {
        display: flex;
        flex-direction: row-reverse;
        min-width: 1305px;
        .card-0, .card-1, .card-2 {
          order: initial;
        }
      }
    }
    @media only screen and (max-width: 960px) {
      .cards_outer{
        overflow: auto;
        margin-top: -1rem;
        padding-top: 1rem;
      }
    }
  }
  .tsc-store-card-view .tsc-card .license-features h3{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    img{
      transform: rotate(180deg);
      margin-top: 0;
      margin-right: 0;
      display: none;
    }
  }
}