@media only screen and (min-width: 901px) {
  body.spz_1001_v1 {
    overflow-x: hidden;
  }

  body.spz_1001_v1 .awr-home__render-components {
    overflow: hidden;
  }

  .spz-bg-awr-offWhite {
    background: #F0F9FF;
  }

  .spz_1001_v1 .awr-hero__container {
    position: relative;
    left: 105px;
  }

  .spz_1001_v1 .awr-rich-text+div {
    margin-top: 0;
  }

  .spz_1001_v1 .awr-hero.spz-bg-awr-offWhite>div {
    padding: 0;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left>div:first-child.flex.w-full {
    display: none;
  }

  .spz-awr-toggle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f5f5f4;
    gap: 8px;
    font-size: 18px;
  }

  .spz-awr-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    padding: 2px;
  }

  .spz-awr-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .spz-awr-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #186699;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 12px;
  }

  .spz-awr-slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  .spz_1001_v1 .awr-hero__text-panel {
    gap: unset;
  }

  .spz-awr-switch input:checked+.spz-awr-slider::before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  .spz_1001_v1 .awr-hero__find-protection-container {
    border: none;
    margin: 0;
  }

  .spz_1001_v1 .awr-find-your-protection-plan {
    border: none;
    background: transparent;
    gap: unset;
  }

  .spz_1001_v1 .spz_awz-hero__subHead {
    color: #186699;
    font-family: Manrope, Manrope Fallback;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    display: inline-block;
  }

  .spz_1001_v1 .awr-rich-text h1 {
    color: #000000;
    font-family: Manrope, Manrope Fallback;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.8px;
    margin: 8px 0 24px;
    padding-right: 0;
    letter-spacing: 0px;
    display: inline-block;
  }

  body.spz_1001_v1 .awr-rich-text h2 {
    display: none;
  }

  .spz_1001_v1 .awr-rich-text .spz_subheading_two {
    color: #000000;
    font-family: Manrope, Manrope Fallback;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0;
    margin-bottom: 24px;
    display: inline-block;
  }

  .spz-awr-toggle-container label[for="spz-awr-toggle"] {
    border: none;
    color: #00000099;
    text-align: right;
    font-family: Manrope, Manrope Fallback;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }

  .spz-awr-toggle-container label[for="spz-awr-toggle"].checked {
    color: #000000;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper {
    border-radius: 6px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
    padding: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    border: 1px solid rgba(24, 102, 153, 0.40);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__zipcode-container>.relative.w-full>.pointer-events-none {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/v1748853323/oncourse/1001/frame_1171275736.svg) no-repeat;
    background-size: 14px;
    background-position: 14px 50%;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__arrow-right {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/v1748853347/oncourse/1001/arrow-left_1.svg) no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    width: 12.25px !important;
    height: 14px !important;
    position: relative;
    left: 0;
    top: 0.5px;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper:hover,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper:active,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper:focus-within {
    border: 1px solid rgba(24, 102, 153, 0.80);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code {
    background: none;
    border: none;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 9px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    color: #000;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-text-fill-color: #000000 !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code:active,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code:focus {
    color: #000;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-webkit-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code::-webkit-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code::-moz-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:-ms-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code::-ms-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-webkit-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-moz-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:-ms-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-ms-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input[type=text]:focus-within,
  form.awr-find-your-protection-plan__wrapper input[type=text]:active {
    border: none;
    outline: none;
  }

  form.awr-find-your-protection-plan__wrapper input[type=text]:focus {
    --tw-ring-shadow: none;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input {
    color: #00000099;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::-webkit-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::-webkit-input-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::-moz-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::-moz-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus:-ms-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active:-ms-input-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::-ms-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::-ms-input-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::placeholder {
    color: transparent !important;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left {
    min-width: 450px;
    max-width: 450px;
    width: 50%;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__zipcode-container .inset-y-0 svg {
    position: relative;
    top: -1.5px !important;
    left: 4.5px;
    opacity: 0;
    width: 17px;
    height: 20px;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__arrow-right svg {
    width: 9px;
    height: 10.286px;
    opacity: 0;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button {
    background: #186699;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 46px;
    padding: 19px 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: unset;
    width: 148.25px;
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button:hover {
    background: #0A4C70;
    transition: all 0.3s ease;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action p,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span p {
    color: #FFFFFF;
    text-align: center;
    font-family: Manrope, Manrope Fallback;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-right: 10px;
    letter-spacing: 0;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__input-error {
    position: absolute;
    top: calc(100% + 4px);
    color: #B83436;
    font-family: Manrope, Manrope Fallback;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper.spz_invalid_zip {
    border-color: rgba(184, 52, 54, 0.80);
  }

  .awr-find-your-protection-plan__call-to-action {
    gap: unset;
    position: relative;
  }

  .awr-find-your-protection-plan__arrow-right svg {
    width: 9px;
    height: 12.286px;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action {
    padding: 0;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    border-radius: 0;
  }

  .spz_1001_v1 .awr-hero__image-panel {
    width: 60.3%;
    -webkit-transform: translate(-29px, 0);
    -ms-transform: translate(-29px, 0);
    transform: translate(-29px, 0);
    height: 600px;
  }

  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span[data-testid="spinner"]
  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action[data-testid="spinner"] {
    width: 13px !important;
    height: 13px !important;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: -10px;
  }

  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span[data-testid="spinner"] svg 
  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action[data-testid="spinner"] svg {
    width: 100%;
    height: 100%;
  }

  .spz_1001_v1 .awr-hero__image-panel>img {
    display: none;
  }

  .spz_1001_v1 .awr-hero__image-panel img.awr-hero__image {
    height: 100%;
    object-fit: cover;
  }
}


@media only screen and (max-width: 1200px) {
  .spz_1001_v1 .awr-hero__container {
    left: 63px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .spz_1001_v1 .awr-hero__image-panel {
    width: 50%;
    transform: translate(43px, 0);
  }

  .spz_1001_v1 .awr-hero__image-panel img.awr-hero__image {
    object-position: left;
  }
}

@media only screen and (max-width: 1023.98px) {
  body.spz_1001_v1 {
    overflow-x: hidden;
  }

  .spz_1001_v1 .awr-rich-text h2 {
    display: none;
  }

  body.spz_1001_v1 .awr-home__render-components {
    overflow: hidden;
  }

  .spz-bg-awr-blue {
    background: #F0F9FF;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left>div:first-child.flex.w-full {
    display: none;
  }

  .spz-awr-toggle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #f5f5f4;
    gap: 8px;
    font-size: 18px;
  }

  .spz-awr-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    padding: 2px;
  }

  .spz-awr-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .spz-awr-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #186699;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 12px;
  }

  .spz-awr-slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  .spz_1001_v1 .awr-hero__text-panel {
    gap: unset;
  }

  .spz-awr-switch input:checked+.spz-awr-slider::before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }

  .spz_1001_v1 .awr-hero__find-protection-container {
    border: none;
    margin: 0;
  }

  .spz_1001_v1 .awr-find-your-protection-plan {
    border: none;
    background: transparent;
    gap: unset;
  }

  .spz_1001_v1 .spz_awz-hero__subHead {
    color: #186699;
    font-family: Manrope, Manrope Fallback;

    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 19.5px;
    letter-spacing: 0.39px;
    text-transform: uppercase;
    display: inline-block;
  }

  .spz_1001_v1 .awr-rich-text h1 {
    color: #000000;
    font-family: Manrope, Manrope Fallback;

    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: 52.8px;
    margin: 8px 0 24px;
    padding-right: 0;
    letter-spacing: 0px;
    display: inline-block;
  }

  .spz_1001_v1 .awr-rich-text .spz_subheading_two {
    display: none;
  }

  .spz_1001_v1 ul.spz-banner-tags {
    list-style: none;
    list-style-type: none;
    margin: 0 0 48px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4px;
    max-width: 100%;
    -webkit-transform: translate(0px, -1px);
    -ms-transform: translate(0px, -1px);
    transform: translate(0px, -1px);
  }

  ul.spz-banner-tags li {
    color: #006699;
    text-align: center;
    font-family: Manrope, Manrope Fallback;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: -0.07px;
    border-radius: 999px;
    background: rgba(0, 102, 153, 0.10);
    padding: 3.8px 10px;
  }

  ul.spz-banner-tags br+li {
    letter-spacing: -0.1px;
    position: relative;
    left: -3px;
    top: 1px;
  }

  .spz-awr-toggle-container label[for="spz-awr-toggle"] {
    border: none;
    color: #00000099;
    text-align: right;
    font-family: Manrope, Manrope Fallback;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }

  .spz-awr-toggle-container label[for="spz-awr-toggle"].checked {
    color: #000000;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper {
    border-radius: 6px;
    background: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
    padding: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    border: 1px solid rgba(24, 102, 153, 0.40);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__zipcode-container>.relative.w-full>.pointer-events-none.spz_input_focus {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/v1748523548/oncourse/1001/map_black.svg) no-repeat;
    background-size: 11px;
    background-position: 16px 50%;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code {
    background: none;
    border: none;
    padding-left: 40px;
    padding-top: 6px;
    padding-bottom: 9px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.014em;
    color: #000;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code:active,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code:focus {
    color: #000;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset !important;
    box-shadow: 0 0 0px 1000px #ffffff inset !important;
    -webkit-text-fill-color: #000000 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-webkit-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code::-webkit-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code::-moz-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:-ms-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code::-ms-input-placeholder {
    color: #00000099 !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-webkit-input-placeholder {
    color: #00000099 !important;
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-moz-placeholder {
    color: #00000099 !important;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:-ms-input-placeholder {
    color: #00000099 !important;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::-ms-input-placeholder {
    color: #00000099 !important;
    -ms-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code::placeholder {
    color: #00000099 !important;
    -webkit-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
  }

  form.awr-find-your-protection-plan__wrapper input[type=text]:focus-within,
  form.awr-find-your-protection-plan__wrapper input[type=text]:active {
    border: none;
    outline: none;
  }

  form.awr-find-your-protection-plan__wrapper input[type=text]:focus {
    --tw-ring-shadow: none;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::-webkit-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::-webkit-input-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::-moz-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::-moz-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus:-ms-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active:-ms-input-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::-ms-input-placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::-ms-input-placeholder {
    color: transparent !important;
  }

  form.awr-find-your-protection-plan__wrapper input#zip-code:focus::placeholder,
  form.awr-find-your-protection-plan__wrapper input#zip-code:active::placeholder {
    color: transparent !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code.spz-input-focusout::-webkit-input-placeholder {
    color: #5A5A4F !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code.spz-input-focusout::-moz-placeholder {
    color: #5A5A4F !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code.spz-input-focusout:-ms-input-placeholder {
    color: #5A5A4F !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code.spz-input-focusout::-ms-input-placeholder {
    color: #5A5A4F !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code.spz-input-focusout::placeholder {
    color: #5A5A4F !important;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input {
    color: #00000099;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left {
    min-width: unset;
    max-width: 450px;
    width: 50%;
    padding-top: 0;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__zipcode-container .inset-y-0 svg {
    position: relative;
    top: -1.4px !important;
    left: 4.2px;
    opacity: 0;
    width: 17px;
    height: 20px;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__zipcode-container>.relative.w-full>.pointer-events-none {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/v1748853323/oncourse/1001/frame_1171275736.svg) no-repeat;
    background-size: 14px;
    background-position: 14px 50%;

  }

  .spz_1001_v1 .awr-find-your-protection-plan__arrow-right svg {
    width: 9px;
    height: 12.286px;
    opacity: 0;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button {
    background: #186699;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 46px;
    padding: 19px 18px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: unset;
    width: 148.25px;
    -webkit-transform: translateX(1px);
    -ms-transform: translateX(1px);
    transform: translateX(1px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button:hover {
    background: #0A4C70;
    transition: all 0.3s ease;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span p,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action p {
    color: #FFFFFF;
    text-align: center;
    font-family: Manrope, Manrope Fallback;

    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-right: 10px;
    letter-spacing: 0;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper.spz_invalid_zip {
    border-color: rgba(184, 52, 54, 0.80) !important;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__input-error {
    position: absolute;
    top: calc(100% + 4px);
    color: #B83436;
    font-family: Manrope, Manrope Fallback;

    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 0;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__arrow-right {
    background: url(https://res.cloudinary.com/spiralyze/image/upload/v1748853347/oncourse/1001/arrow-left_1.svg) no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    width: 12.25px !important;
    height: 14px !important;
    position: relative;
    left: 0;
    top: 0.5px;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper:hover,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper:active,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper:focus-within {
    border: 1px solid rgba(24, 102, 153, 0.80);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__call-to-action {
    gap: unset;
    position: relative;
  }

  .spz_1001_v1 .awr-find-your-protection-plan__arrow-right svg {
    width: 9px;
    height: 12.286px;
    opacity: 0;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span,
  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action {
    padding: 0;
    display: inline-block;
    font-weight: 600;
    border-radius: 0;
  }

  .spz_1001_v1 .awr-hero__image-panel {
    width: 50%;
    -webkit-transform: translate(-12px, 0);
    -ms-transform: translate(-12px, 0);
    transform: translate(-12px, 0);
    height: 600px;
  }

  .spz_1001_v1 .awr-hero__image-panel img.awr-hero__image {
    object-fit: contain;
  }

  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span[data-testid="spinner"],
  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action[data-testid="spinner"] {
    width: 13px !important;
    height: 13px !important;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: -10px;
  }

  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button span[data-testid="spinner"] svg,
  body.spz_1001_v1 form.awr-find-your-protection-plan__wrapper button .awr-find-your-protection-plan__call-to-action[data-testid="spinner"] svg {
    width: 100%;
    height: 100%;
  }

  .spz_1001_v1 .awr-hero__container {
    left: 0;
  }

  .spz_1001_v1 .awr-hero.spz-bg-awr-blue {
    padding: 0;
  }

  .spz_1001_v1 .awr-hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 23px;
    padding: 0;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left {
    width: 100%;
    max-width: 100%;
    padding: 70px 72px 0;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left .awr-rich-text {
    text-align: center;
  }

  .spz_1001_v1 .awr-rich-text h1 {
    max-width: 100%;
    margin: 8px auto 17px;
    padding-right: 0;
  }

  .spz_1001_v1 .awr-rich-text .spz_subheading_two {
    max-width: 65%;
    margin: 0 auto 24px;
  }

  .spz_1001_v1 ul.spz-banner-tags {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    max-width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .spz_1001_v1 ul.spz-banner-tags li {
    padding: 3px 9.9px;
  }

  .spz_1001_v1 ul.spz-banner-tags br+li {
    letter-spacing: -0.1px;
    position: relative;
    left: unset;
    top: unset;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper {
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
  }

  .spz_1001_v1 .awr-hero__image-panel {
    display: block;
    width: 100%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    height: auto;
    margin-top: 25px;
    display: block;
  }

  .spz_1001_v1 ul.spz-banner-tags br.desktop-break {
    display: none;
  }

  .spz_1001_v1 .awr-hero__image-panel>img {
    display: none;
  }

  .spz_1001_v1 .awr-hero__image-panel img.awr-hero__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left .awr-rich-text+div {
    margin: 0;
  }

  .spz_1001_v1 .awr-hero__container>div {
    gap: 22px;
  }
}

@media only screen and (max-width: 767px) {
  .spz_1001_v1 .awr-hero.spz-bg-awr-blue {
    padding: 0;
  }

  .spz_1001_v1 .awr-hero__text-panel.awr-hero__text-panel--left {
    padding: 38px 16px 0;
  }

  .spz_1001_v1 .awr-rich-text h1 {
    max-width: 100%;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 40.8px;
    padding-right: 0px;
    padding-left: 0px;
    letter-spacing: 0;
    margin-top: 9px;
    max-width: 100%;
  }

  .spz_1001_v1 .awr-rich-text h2 {
    display: none;
  }

  .spz_1001_v1 ul.spz-banner-tags li {
    padding: 3.5px 10px;
  }

  .spz_1001_v1 .awr-rich-text .spz_subheading_two {
    max-width: 100%;
  }

  .spz_1001_v1 .awr-hero__image-panel {
    display: block;
    margin-top: 0;
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper {
    max-width: 328px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .spz_1001_v1 .spz_awz-hero__subHead {
    letter-spacing: 0.39px;
  }

  .spz_1001_v1 ul.spz-banner-tags {
    -webkit-transform: translate(0, -1px);
    -ms-transform: translate(0, -1px);
    transform: translate(0, -1px);
  }

  .spz_1001_v1 form.awr-find-your-protection-plan__wrapper input#zip-code {
    padding-top: 6px;
    padding-bottom: 11px;
  }
}

.spz_1001_v1 .awr-find-your-protection-plan__tabs-container,
.spz_1001_v1 .awr-find-your-protection-plan__tabs-container:before {
  display: none;
}