img {
  image-rendering: -webkit-optimize-contrast;
}

.spz_10001 {
  /* logo */
  /* Accordion Styling Starts Here */
  /* Feature */
  /*  .accrodion-section .content-part .accordion.active{
    border-top: 1px solid #DCDCDC;
  } */
  /*  .accrodion-section .content-part .accordion:last-child{
    border-bottom: 1px solid #DCDCDC;
  } */
  /*  .accrodion-section .content-part .accordion:nth-child(1) .accor-paratexts p,
   .accrodion-section .content-part .accordion .accor-paratexts p:nth-child(2){
    margin-bottom: 19px; 
  } */
  /* Accordion Styling Ends Here */
}
.spz_10001 #affix-flag {
  display: none;
}
.spz_10001 .new-hero {
  background: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6001/bg_1920.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 244px 0 80px;
  overflow: hidden;
}
@media (max-width: 1440px) {
  .spz_10001 .new-hero {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6001/bg_1440.webp");
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .new-hero {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6001/bg_768.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .new-hero {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6001/bg_360.webp");
  }
}
.spz_10001 .new-hero .form-cont .btn-row {
  display: flex;
}
@media (max-width: 767.98px) {
  .spz_10001 .new-hero .form-cont .btn-row {
    flex-wrap: wrap;
  }
  .spz_10001 .new-hero .form-cont .btn-row .form-widget-full {
    width: 100%;
    padding-bottom: 24px;
  }
}
.spz_10001 .new-hero .form-cont .btn-row button {
  height: 54px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_red {
  border-radius: 4px;
  background: #D22730;
  width: 185px;
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 0;
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_red::after {
  content: "Schedule Demo";
  font-size: 16px;
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_red:hover {
  background-color: #E63B44;
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_red:active, .spz_10001 .new-hero .form-cont .btn-row .btn_filled_red:focus {
  background-color: #BE131C;
}
@media (max-width: 767.98px) {
  .spz_10001 .new-hero .form-cont .btn-row .btn_filled_red {
    max-width: 324px;
    margin: auto;
    width: 100%;
  }
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_blue {
  border-radius: 4px;
  border: 1px solid #FFF;
  background: transparent;
  width: 184px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_blue:hover {
  border-color: #D22730;
  background: rgba(210, 39, 48, 0.1);
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_blue:active, .spz_10001 .new-hero .form-cont .btn-row .btn_filled_blue:focus {
  border-color: #D22730;
  background: rgba(210, 39, 48, 0.2);
}
.spz_10001 .new-hero .form-cont .btn-row .btn_filled_blue + .text-row {
  display: none;
}
@media (max-width: 767.98px) {
  .spz_10001 .new-hero .form-cont .btn-row .btn_filled_blue {
    width: 100%;
  }
}
.spz_10001 .new-hero .form-cont .btn-row .btn-wrap {
  margin-left: 24px;
}
@media (max-width: 767.98px) {
  .spz_10001 .new-hero .form-cont .btn-row .btn-wrap {
    width: 100%;
    max-width: 324px;
    margin: auto;
  }
}
.spz_10001 .hero-container {
  width: 1280px;
  padding: 0 20px;
  margin: auto;
}
.spz_10001 .hero-flex {
  display: flex;
  flex-wrap: wrap;
}
.spz_10001 .hero-title-contain {
  width: calc(100% - 644px);
}
.spz_10001 .new-hero .hero-product-name {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.spz_10001 .new-hero .hero-main-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  text-transform: none;
  margin: 7px 0 16px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .new-hero .hero-main-title {
    padding-right: 20px;
  }
}
.spz_10001 .hero-title-contain p {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 39.5px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .hero-title-contain p {
    margin-bottom: 40px;
  }
}
.spz_10001 .hero-buttons.head-cont {
  display: block !important;
  padding: 0;
  background: transparent;
}
.spz_10001 .hero-buttons.head-cont .buttons-cont {
  margin-bottom: 0;
}
.spz_10001 .hero-image-contain {
  position: relative;
}
.spz_10001 .hero-image-contain img {
  display: none;
}
.spz_10001 .hero-image-contain::after {
  position: absolute;
  content: "";
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/hero_image.webp");
  width: 740px;
  height: 527px;
  background-size: cover;
  background-repeat: no-repeat;
  left: 8px;
  top: -144px;
}
@media only screen and (min-width: 1441px) {
  .spz_10001 .hero-image-contain::after {
    background-size: contain;
  }
}
.spz_10001 .new-head-cont {
  display: none;
}
.spz_10001 .head-cont:not(.new-head-cont) {
  display: none;
}
.spz_10001 .hero-organiza-container {
  max-width: 1280px;
  width: 100%;
  margin-top: 215px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}
.spz_10001 .hero-organiza-content p {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 0;
}
.spz_10001 .hero-organiza-content ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
  margin: 0;
}
.spz_10001 .hero-organiza-content ul li {
  margin-top: 20px;
}
.spz_10001 .hero-organiza-content ul li img {
  height: 72px;
}
.spz_10001 .hero-organiza-content ul li:last-child img {
  opacity: 0.5;
}
@media only screen and (min-width: 992px) and (max-width: 1099.98px) {
  .spz_10001 .hero-buttons.head-cont .buttons-cont {
    flex-wrap: wrap;
  }
  .spz_10001 .hero-buttons.head-cont .buttons-cont .button-section {
    margin-right: 0;
  }
  .spz_10001 .new-hero .hero-main-title span {
    display: block;
  }
}
@media (max-width: 1099.98px) {
  .spz_10001 .hero-title-contain {
    width: calc(100% - 768px);
  }
}
@media (max-width: 991.98px) {
  .spz_10001 {
    /* logo */
  }
  .spz_10001 .new-hero {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6001/bg_768.webp");
    padding: 73px 0 79px;
  }
  .spz_10001 .hero-container {
    width: 100%;
    padding: 0 38px;
  }
  .spz_10001 .hero-title-contain {
    width: 100%;
    margin-bottom: 64px;
  }
  .spz_10001 .hero-image-contain {
    width: 100%;
  }
  .spz_10001 .hero-image-contain::after {
    display: none;
  }
  .spz_10001 .hero-image-contain img {
    display: block;
    width: 100%;
  }
  .spz_10001 .hero-organiza-content ul li {
    margin-top: 32px;
  }
  .spz_10001 .hero-organiza-content ul li img {
    height: 54px;
  }
  .spz_10001 .hero-organiza-container {
    margin-top: 64.5px;
    padding: 0 38px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 {
    /* logo */
  }
  .spz_10001 .new-hero {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/6001/bg_360.webp");
    padding: 52px 0 63.5px;
  }
  .spz_10001 .hero-container {
    padding: 0 18px;
  }
  .spz_10001 .hero-title-contain {
    margin-bottom: 40px;
  }
  .spz_10001 .hero-title-contain p {
    margin-bottom: 39.5px;
  }
  .spz_10001 .new-hero .hero-main-title span {
    display: block;
  }
  .spz_10001 .new-hero .hero-main-title {
    font-size: 32px;
    line-height: 40px;
    margin: 12px 0;
  }
  .spz_10001 .new-hero.audit .hero-main-title {
    font-size: 32px;
    font-weight: 500;
    margin-top: 12.5px;
    margin-bottom: 16px;
  }
  .spz_10001 .hero-buttons button {
    width: 100%;
  }
  .spz_10001 .hero-buttons .get-demo {
    margin-right: 0px;
    /* margin-bottom: 24px; */
  }
  .spz_10001 .hero-buttons .product-tour {
    margin-left: 0px;
  }
  .spz_10001 .new-head-cont {
    display: block;
  }
  .spz_10001 .new-head-cont.head-cont .breadcrumbs {
    margin-bottom: 0;
  }
  .spz_10001 .new-head-cont.head-cont {
    padding: 32px 0 4px;
  }
  .spz_10001 .hero-organiza-container {
    padding: 0 18px;
    margin-top: 49px;
  }
  .spz_10001 .hero-organiza-content ul {
    max-width: 380px;
    width: 100%;
    margin: 0 auto;
  }
  .spz_10001 .hero-organiza-content ul li:nth-child(4),
  .spz_10001 .hero-organiza-content ul li:nth-child(5) {
    margin-top: 20px;
  }
  .spz_10001 .hero-buttons.head-cont .buttons-cont .button-section:last-child {
    margin-bottom: 0;
  }
  .spz_10001 .hero-buttons.head-cont .buttons-cont .button-section:last-child .text-row {
    padding: 0;
  }
}
.spz_10001 .accrodion-section {
  padding: 78.5px 0 76.5px;
  background: linear-gradient(0deg, rgba(214, 229, 253, 0.1) 0%, rgba(214, 229, 253, 0.1) 100%), #FFF;
}
.spz_10001 .accrodion-section .container {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  padding: 0 38px;
}
.spz_10001 .accrodion-section .content-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.spz_10001 .accrodion-section .solution-accordion .content-wrap .content-part {
  margin-top: -4px;
}
.spz_10001 .accrodion-section h2 {
  color: #354556;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  margin: 0 auto 49px;
}
.spz_10001 .accrodion-section .content-part {
  max-width: 478px;
  width: 100%;
}
.spz_10001 .accrodion-section .content-part .accordion {
  padding: 20px;
  border-radius: 4px;
  background: #F3F4FA;
  margin-bottom: 12px;
  cursor: pointer;
}
.spz_10001 .accrodion-section .content-part .accordion:last-child {
  margin-bottom: 0;
}
.spz_10001 .accrodion-section .content-part .accordion .accor-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-top: 1px solid #DCDCDC; */
  /* padding: 20px 0; */
  cursor: pointer;
}
.spz_10001 .accrodion-section .content-part .accordion img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .accrodion-section .content-part .accordion picture {
    display: block;
    margin-left: -20px;
  }
}
.spz_10001 .accrodion-section .content-part .accordion.active .accor-title {
  border-top: 0;
}
.spz_10001 .accrodion-section .content-part .accordion .accor-title h4 {
  color: #354556;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
}
.spz_10001 .accrodion-section .content-part .accordion .accor-title svg {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .accrodion-section .content-part .accordion .accor-title svg {
    margin-top: -1px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .accrodion-section .content-part .accordion .accor-title svg {
    margin-top: -1px;
    margin-right: -0.5px;
    width: 19px;
  }
}
.spz_10001 .accrodion-section .content-part .accordion.active .accor-title svg {
  transform: rotate(181deg);
}
.spz_10001 .accrodion-section .content-part .accordion .accor-paratexts {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.spz_10001 .accrodion-section .content-part .accordion.active .accor-paratexts {
  height: auto;
  transition: all 0.5s ease-in-out;
  margin-top: 16px;
}
.spz_10001 .accrodion-section .accordion_images .image-container .img-wrap:not(.accor-paratexts .img-wrap) {
  position: absolute;
  right: -157px;
  max-width: 730px;
}
.spz_10001 .accrodion-section .content-part .accordion .img-wrap {
  display: none;
}
.spz_10001 .accrodion-section .content-part .accordion .accor-paratexts p {
  font-family: Open sans, Droid Sans, Helvetica Neue, HelveticaNeue, Segoe UI, Helvetica, Arial, sans-serif;
  color: #54585C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}
.spz_10001 .accrodion-section .content-part .accordion .accor-paratexts p + p {
  margin-top: 24px;
}
.spz_10001 .accrodion-section .content-part .accordion .accor-paratexts p:nth-child(1) {
  margin-bottom: 8px;
}
.spz_10001 .accrodion-section .content-part .accordion .ctaWrapper {
  display: flex;
  margin-top: 23.5px;
}
@media (max-width: 767.98px) {
  .spz_10001 .accrodion-section .content-part .accordion .ctaWrapper {
    margin-top: 24px;
  }
}
.spz_10001 .accrodion-section .content-part .accordion a {
  color: #FFF;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  background: #D22730;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 185px;
  width: 100%;
  height: 54px;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
}
.spz_10001 .accrodion-section .content-part .accordion a:hover {
  background: #E63B44;
}
.spz_10001 .accrodion-section .content-part .accordion a:active {
  background: #BE131C;
}
.spz_10001 .accrodion-section .content-part .accordion button {
  border-radius: 4px;
  border: 1px solid #D22730;
  color: #D22730;
  text-align: center;
  leading-trim: both;
  text-edge: cap;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  background: rgba(0, 0, 0, 0);
  width: 220px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
}
.spz_10001 .accrodion-section .content-part .accordion button:hover {
  background: rgba(210, 39, 48, 0.1);
}
.spz_10001 .accrodion-section .content-part .accordion button:active {
  background: rgba(210, 39, 48, 0.2);
}
.spz_10001 .accrodion-section .slide-part {
  width: 100%;
  margin-left: 32px;
  height: auto;
}
.spz_10001 .accordion_images {
  height: 100%;
}
.spz_10001 .accrodion-section .solution-accordion .slide-part {
  margin-left: 0;
  margin-right: 20px;
}
.spz_10001 .accrodion-section .accrodion-section .accordion_images {
  max-width: 730px;
  width: 100%;
}
.spz_10001 .accrodion-section .accordion_images .image-container {
  display: none;
  background: #F3F4FA;
  height: 100%;
}
.spz_10001 .accrodion-section .accordion_images .image-container.active {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s linear;
  border-radius: 4px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spz_10001 .accrodion-section .accordion_images .image-container picture {
  border-radius: 4px;
  overflow: hidden;
  background: #F3F4FA;
}
.spz_10001 .accrodion-section .accordion_images .image-container img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}
@media (max-width: 1023.98px) {
  .spz_10001 .accrodion-section {
    padding: 79.5px 0px;
  }
  .spz_10001 .accrodion-section h2 {
    margin: 0 auto 49px;
    font-size: 48px;
    line-height: 56px;
  }
  .spz_10001 .accrodion-section .content-part {
    max-width: 100%;
  }
  .spz_10001 .accrodion-section .slide-part {
    display: none;
  }
  .spz_10001 .accrodion-section .solution-accordion .content-wrap,
  .spz_10001 .accrodion-section .content-wrap {
    justify-content: center;
  }
  .spz_10001 .accrodion-section .content-part .accordion.active .img-wrap {
    display: block;
    margin: 20px 0 0;
  }
  .spz_10001 .accrodion-section .content-part .accordion .accor-paratexts .img-wrap img {
    width: 100%;
    margin: 0 auto;
    image-rendering: -webkit-optimize-contrast;
  }
  .spz_10001 .accrodion-section .content-part .accordion a {
    margin-bottom: 0px;
  }
  .spz_10001 .accrodion-section .content-part .accordion.active .accor-paratexts {
    margin-bottom: 16px;
    margin-top: 15.5px;
  }
  .spz_10001 .accrodion-section .content-part .accordion:first-child.active {
    border-top: none;
    padding-bottom: 0.5px;
  }
  .spz_10001 .accrodion-section .content-part .accordion {
    padding: 20px 0 20px 20px;
  }
  .spz_10001 .accrodion-section .content-part .accordion .accor-title {
    padding-right: 20px;
  }
  .spz_10001 .accrodion-section .content-part .accordion .accor-paratexts {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .spz_10001 .accrodion-section {
    padding: 64.5px 0px 64px;
  }
  .spz_10001 .accrodion-section .container {
    padding: 0 18px;
  }
  .spz_10001 .accrodion-section h2 {
    padding: 0;
    margin: 0 0 40px;
    font-size: 32px;
    line-height: 40px;
  }
  .spz_10001 .accrodion-section .content-part .accordion {
    padding: 20px 0 20px 20px;
  }
  .spz_10001 .accrodion-section .content-part .accordion .accor-title h4 {
    font-size: 18px;
    padding-right: 5px;
    width: calc(100% - 30px);
  }
  .spz_10001 .accrodion-section .content-part .accordion a {
    margin-bottom: 16px;
  }
  .spz_10001 .accrodion-section .content-part .accordion.active .img-wrap {
    margin: 20px 0 0 -20px;
  }
  .spz_10001 .accrodion-section .content-part .accordion .accor-paratexts p {
    font-size: 16px;
    line-height: 24px;
  }
  .spz_10001 .accrodion-section .content-part .accordion .accor-paratexts,
  .spz_10001 .accrodion-section .content-part .accordion .accor-title {
    padding-right: 20px;
  }
  .spz_10001 .accrodion-section .content-part .accordion a {
    margin-bottom: 0;
    max-width: unset;
    height: 54px;
    font-size: 16px;
    line-height: 24px;
  }
  .spz_10001 .accrodion-section .content-part .accordion button {
    margin: 16px 0 0;
    max-width: unset;
    width: 100%;
  }
  .spz_10001 .accrodion-section .content-part .accordion .ctaWrapper {
    flex-direction: column;
  }
}
.spz_10001 .explore_products {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 47.5px;
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/3004/data-bg-desktop_1.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .explore_products {
    padding-bottom: 60px;
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/section-products-tablet-bg.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .explore_products {
    padding-top: 64px;
    padding-bottom: 65px;
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/section-products-mobile-bg.webp");
    background-color: #00299D;
    background-size: 100%;
  }
}
.spz_10001 .explore_products .container {
  padding: 0 20.45px;
  max-width: 1044px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .explore_products .container {
    padding: 0 20px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .explore_products .container {
    padding: 0;
  }
}
@media (max-width: 1760px) {
  .spz_10001 .explore_products {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 1440px) {
  .spz_10001 .explore_products {
    padding-right: 20px;
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .spz_10001 .explore_products {
    padding-right: 18px;
    padding-left: 18px;
  }
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_10001 .explore_products {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.spz_10001 .solutionTitle {
  text-align: center;
}
.spz_10001 .solutionSlider .section-eyebro-text {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 56px;
  padding-bottom: 48px;
  margin: 0 auto;
  max-width: 880px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .solutionSlider .section-eyebro-text {
    padding-bottom: 48.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .solutionSlider .section-eyebro-text {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 40px;
  }
}
.spz_10001 .product_list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -16px;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .product_list ul {
    margin: 0 -10px;
  }
}
.spz_10001 .product_list ul li {
  width: 33.33%;
  padding: 0 16px;
  margin-bottom: 32px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_10001 .product_list ul li {
    width: 33.33%;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .product_list ul li {
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .product_list ul {
    margin: 0;
  }
  .spz_10001 .product_list ul li {
    padding: 0 0;
    width: 100%;
    margin-bottom: 20px;
  }
  .spz_10001 .product_list ul li:nth-child(2) .product_top figure img, .spz_10001 .product_list ul li:first-child .product_top figure img {
    margin-bottom: -24.5px;
  }
  .spz_10001 .product_list ul li:last-child {
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 590px) and (max-width: 767.98px) {
  .spz_10001 .product_list ul {
    margin: 0 -5px;
  }
  .spz_10001 .product_list ul li {
    width: 50%;
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .spz_10001 .product_list ul li:last-child {
    margin-bottom: 10px;
  }
}
.spz_10001 .products_data {
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}
.spz_10001 .product_top {
  border-radius: 8px 8px 0px 0px;
  padding: 19px 19px 0;
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-bottom: none;
  background: #1F43A9;
}
@media (max-width: 767.98px) {
  .spz_10001 .product_top {
    padding: 19px 21px 0;
  }
}
.spz_10001 .product_top picture {
  display: block;
  width: 100%;
  margin: 0;
  position: relative;
}
.spz_10001 .product_top picture::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(174deg, rgba(31, 67, 169, 0) 34.94%, rgba(31, 67, 169, 0.32) 100.28%);
}
.spz_10001 .product_top picture img {
  display: block;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
  background: linear-gradient(174deg, rgba(31, 67, 169, 0) 34.94%, rgba(31, 67, 169, 0.32) 100.28%);
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .product_top picture img {
    height: 160px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.spz_10001 .product_bottom {
  background-color: #fff;
  border-top: 2px solid #CACACA;
  padding: 18.5px 20px 20px;
}
@media (max-width: 767.98px) {
  .spz_10001 .product_bottom {
    padding: 18px 20px 20px;
    position: relative;
    z-index: 9;
  }
}
@media only screen and (min-width: 590px) and (max-width: 767.98px) {
  .spz_10001 .product_bottom {
    padding: 10px;
  }
}
.spz_10001 .product_bottom > a {
  color: #354556;
  font-family: Roboto;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 7.5px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_10001 .product_bottom > a {
    font-size: 18px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .product_bottom > a {
    font-size: 18px;
    line-height: 26px;
  }
}
.spz_10001 .product_bottom p {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 24px;
  margin-top: 0;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .product_bottom p {
    min-height: 48px;
  }
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_10001 .product_bottom p {
    min-height: 72px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .product_bottom p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20.5px;
    min-height: unset;
  }
}
.spz_10001 .btn_list {
  display: flex;
}
.spz_10001 .products_data .custom_btn {
  display: flex;
  width: 126px;
  height: 40px;
  padding: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: transparent;
  color: #D22730;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  border: 1px solid #D22730;
  transition: all 0.3s ease;
}
.spz_10001 .products_data .custom_btn:hover {
  background: rgba(210, 39, 48, 0.1);
}
.spz_10001 .products_data .custom_btn:active,
.spz_10001 .products_data .custom_btn:focus {
  background: rgba(210, 39, 48, 0.2);
  outline: none;
}
.spz_10001 .why_netwrix {
  padding: 83px 0;
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-bg.webp");
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 1920px) {
  .spz_10001 .why_netwrix {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-1920-bg.webp");
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .why_netwrix {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-tablet-bg.webp");
    padding-bottom: 32px;
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrix {
    padding: 64px 0 84px;
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-mobile-bg.webp");
  }
}
.spz_10001 .why_netwrix .container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrix .container {
    padding: 0 18px;
  }
}
.spz_10001 .why_netwrixTitle {
  padding-bottom: 56.5px;
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixTitle {
    padding-bottom: 47px;
  }
}
.spz_10001 .why_netwrixTitle h2 {
  color: #354556;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  margin: 0;
}
.spz_10001 .why_netwrixTitle h2 br:nth-of-type(2) {
  display: none;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .why_netwrixTitle h2 br {
    display: none;
  }
  .spz_10001 .why_netwrixTitle h2 br:nth-of-type(2) {
    display: inline-block;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixTitle h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .spz_10001 .why_netwrixTitle h2 br {
    display: none;
  }
}
.spz_10001 .why_netwrixList ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0 -16px;
}
.spz_10001 .why_netwrixList ul li {
  width: 33.33%;
  padding: 0 16px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .why_netwrixList {
    padding: 0 20px;
  }
  .spz_10001 .why_netwrixList ul {
    margin: 0 -16px;
  }
  .spz_10001 .why_netwrixList ul li {
    width: 50%;
    padding: 0 16px 48px;
  }
  .spz_10001 .why_netwrixList ul li:last-child {
    width: 100%;
  }
  .spz_10001 .why_netwrixList ul li:last-child .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-tablet-2-bg.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixList ul {
    margin: 0;
  }
  .spz_10001 .why_netwrixList ul li {
    width: 100%;
    padding: 0 0 48px;
  }
  .spz_10001 .why_netwrixList ul li:last-child {
    padding-bottom: 0;
  }
}
.spz_10001 .why_netwrixData {
  height: 100%;
  box-shadow: 0px 12px 56px 0px rgba(0, 0, 0, 0.08);
  position: relative;
  padding: 1px;
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-bg.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-tablet-1-bg.webp");
  }
}
@media only screen and (min-width: 991px) and (max-width: 1023px) {
  .spz_10001 .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-tablet-2-bg.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-mobile-2-bg.webp");
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .spz_10001 .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-tablet-2-bg.webp");
  }
}
.spz_10001 .why_netwrixData .why_dataInner {
  height: 100%;
  border-radius: 8px;
  padding: 55px 32px 31px 31px;
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixData .why_dataInner {
    padding: 47px 23px 23px 23px;
  }
}
.spz_10001 .why_netwrixData span {
  width: 56px;
  height: 56px;
  position: absolute;
  left: 32px;
  top: -28px;
  padding: 1px;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(157deg, #0CDEEC 8.94%, #0C6CFD 39.4%, #0042EC 64.49%, #801EFC 91.07%);
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.02);
}
.spz_10001 .why_netwrixData span i {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #F3F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spz_10001 .why_netwrixData span i img {
  width: 40px;
  height: 40px;
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixData span {
    top: -24px;
    left: 20px;
  }
}
.spz_10001 .why_netwrixData strong {
  display: block;
  color: #354556;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 12px;
}
@media (max-width: 767.98px) {
  .spz_10001 .why_netwrixData strong {
    font-size: 20px;
    line-height: 26px;
    font-family: "Open Sans";
  }
}
.spz_10001 .why_netwrixData p {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
}
.spz_10001 .datasheet {
  padding: 77px 0;
  background: #fff;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .datasheet {
    padding-top: 80px;
    padding-bottom: 179.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .datasheet {
    padding: 80px 0 40px;
  }
}
.spz_10001 .datasheet .container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .datasheet .container {
    padding: 0 40px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .datasheet .container {
    padding: 0 18px;
  }
}
.spz_10001 .datasheet_detail {
  border-radius: 8px;
  background: linear-gradient(129deg, #00299D 7.6%, #000E37 210.55%);
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/datasheet-img-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .datasheet_detail {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/datasheet-img-tablet-bg.webp");
    flex-direction: column-reverse;
    min-height: 640px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .datasheet_detail {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/datasheet-img-mobile-bg.webp");
    flex-direction: column-reverse;
    min-height: 560px;
  }
}
.spz_10001 .datasheet_left {
  width: 50%;
  position: relative;
  z-index: 0;
}
.spz_10001 .datasheet_left figure {
  display: block;
  width: 100%;
  position: absolute;
  left: -28px;
  top: -28px;
}
.spz_10001 .datasheet_left figure img {
  display: block;
  width: 620px;
  height: 522px;
  filter: drop-shadow(3.983px 0px 19.914px rgba(0, 0, 0, 0.1)) drop-shadow(0px 23.897px 55.759px rgba(0, 0, 0, 0.16));
  max-width: 100%;
  image-rendering: -webkit-optimize-contrast; /* Safari-specific */
  image-rendering: crisp-edges;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_10001 .datasheet_left figure {
    left: -12px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .datasheet_left {
    width: 100%;
    z-index: 1;
    overflow: visible;
  }
  .spz_10001 .datasheet_left figure {
    position: relative;
    bottom: 0;
    top: unset;
    left: 0;
    filter: drop-shadow(3.983px 0px 19.914px rgba(0, 0, 0, 0.1)) drop-shadow(0px 23.897px 55.759px rgba(0, 0, 0, 0.16));
    will-change: filter;
    width: 688px;
    height: 578px;
    margin: 0 auto -240px;
  }
  .spz_10001 .datasheet_left figure img {
    width: 688px;
    height: 578px;
    margin: -58px auto 0;
    filter: none;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .datasheet_left {
    width: 100%;
    z-index: 1;
    overflow: visible;
  }
  .spz_10001 .datasheet_left figure {
    position: relative;
    bottom: 0;
    top: unset;
    left: 0;
    filter: drop-shadow(3.983px 0px 19.914px rgba(0, 0, 0, 0.1)) drop-shadow(0px 23.897px 55.759px rgba(0, 0, 0, 0.16));
    will-change: filter;
    width: 323.928px;
    height: 271px;
    margin: 0 auto -71.5px;
  }
  .spz_10001 .datasheet_left figure img {
    width: 323.928px;
    height: 271px;
    margin: -15.5px auto 0;
    filter: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .spz_10001 .datasheet_left figure {
    width: 450px;
    height: 350px;
    margin: 0 auto -71.5px;
  }
  .spz_10001 .datasheet_left figure img {
    width: 450px;
    height: 350px;
    margin: -15.5px auto 0;
  }
}
.spz_10001 .datasheet_right {
  width: 47%;
  padding: 49.5px 70px 56px 12px;
  position: relative;
  z-index: 1;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .datasheet_right {
    z-index: 2;
  }
}
.spz_10001 .datasheet_right strong {
  display: block;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  padding-bottom: 27px;
}
.spz_10001 .datasheet_right h2 {
  color: #FFF;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 16px;
  margin: 0;
}
.spz_10001 .datasheet_right p {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom: 39.5px;
}
.spz_10001 .datasheet_right a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 54px;
  max-height: unset;
  line-height: 24px;
  font-weight: 600;
  border-radius: 4px;
  background: #0090FF;
}
.spz_10001 .datasheet_right a:hover {
  background: #66BCFF !important;
}
.spz_10001 .datasheet_right a:active, .spz_10001 .datasheet_right a:focus {
  background: #0047BB !important;
  outline: none;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .datasheet_right {
    width: 100%;
    padding: 50px 120px 0 56px;
  }
  .spz_10001 .datasheet_right p {
    padding-bottom: 39px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .datasheet_right {
    width: 100%;
    padding: 18px 24px 24px;
  }
  .spz_10001 .datasheet_right h2 {
    font-size: 24px;
    line-height: 32px;
  }
  .spz_10001 .datasheet_right strong {
    padding-bottom: 18px;
  }
  .spz_10001 .datasheet_right p {
    padding-bottom: 40px;
  }
}
.spz_10001 .netwrix_help {
  background: #fff;
  padding-top: 42.5px;
  padding-bottom: 80px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_help {
    padding-bottom: 16.5px;
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_help {
    padding-top: 80.5px;
    padding-bottom: 41px;
  }
}
.spz_10001 .netwrix_help .why_netwrixData {
  box-shadow: 0px 12px 56px 0px rgba(0, 0, 0, 0.06);
}
@media only screen and (min-width: 992) and (max-width: 1023px) {
  .spz_10001 .netwrix_help .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-tablet-2-bg.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_help .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-mobile-1-bg.webp");
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .spz_10001 .netwrix_help .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-tablet-2-bg.webp");
  }
}
.spz_10001 .netwrix_help .why_netwrixTitle {
  padding-bottom: 48px;
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_help .why_netwrixTitle {
    padding-bottom: 39.5px;
  }
}
.spz_10001 .netwrix_help .why_dataInner {
  padding: 24px 24px 22.5px 23.5px;
}
.spz_10001 .netwrix_help .why_dataInner > img {
  margin-bottom: 24.5px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_help .why_dataInner {
    padding: 23.5px 24px 22.5px 23px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_help .why_dataInner {
    padding: 23px 23px 23px 23px;
  }
  .spz_10001 .netwrix_help .why_dataInner > img {
    margin-bottom: 24px;
  }
}
.spz_10001 .netwrix_help .why_netwrixList ul {
  margin: 0 -12px;
}
.spz_10001 .netwrix_help .why_netwrixList ul li {
  width: 25%;
  padding: 0 12px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_help .why_netwrixList ul li {
    width: 50%;
    padding-bottom: 24px;
  }
  .spz_10001 .netwrix_help .why_netwrixList ul li:last-child .why_netwrixData {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-card-bg.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_help .why_netwrixList ul li {
    width: 100%;
  }
  .spz_10001 .netwrix_help .why_netwrixList ul li:not(:last-child) {
    padding-bottom: 24px;
  }
  .spz_10001 .netwrix_help .why_netwrixList ul li:nth-child(2) img, .spz_10001 .netwrix_help .why_netwrixList ul li:nth-child(3) img, .spz_10001 .netwrix_help .why_netwrixList ul li:last-child img {
    height: 43px;
    width: 164px;
  }
  .spz_10001 .netwrix_help .why_netwrixList ul li:last-child {
    padding-bottom: 0;
  }
}
.spz_10001 .netwrix_help .why_netwrixData p {
  color: #354556;
}
.spz_10001 .netwrix_faq {
  padding-top: 0;
  padding-bottom: 0;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 * {
  pointer-events: none;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .text {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.spz_10001 .netwrix_faq .faq-cont {
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/questions-1920-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 39.5px 0 79px;
}
@media (max-width: 1440px) {
  .spz_10001 .netwrix_faq .faq-cont {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/questions-bg.webp");
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_faq .faq-cont {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-tablet-bg.webp");
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_faq .faq-cont {
    background-image: url("https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10001/why-netwrix-mobile-bg.webp");
  }
}
.spz_10001 .netwrix_faq .faq-cont h1,
.spz_10001 .netwrix_faq .faq-cont h2 {
  color: #354556;
  text-align: center;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 29px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_faq .faq-cont h1,
  .spz_10001 .netwrix_faq .faq-cont h2 {
    padding-bottom: 49px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_faq .faq-cont h1,
  .spz_10001 .netwrix_faq .faq-cont h2 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_faq .container {
    width: 100%;
    max-width: 718px;
    margin: auto;
    padding: 0 20px;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_faq .container {
    width: 100%;
    padding: 0 18px;
  }
}
.spz_10001 .netwrix_faq .container * {
  background: transparent;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 {
  width: 100%;
  max-width: 880px;
  margin: auto;
  float: none;
  padding: 0;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 {
  padding: 20px 0 19px;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #E4E4E4;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item:hover .title,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2:hover .title {
  color: #0090FF;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .title,
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .title {
    padding-right: 40px;
  }
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item:first-child,
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2:first-child {
    padding-top: 0;
  }
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .title,
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .title {
    padding-right: 38px;
  }
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item.opened .fa-chevron-down, .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item.active .fa-chevron-down,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2.opened .fa-chevron-down,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2.active .fa-chevron-down {
  transform: translateY(-50%) rotate(180deg);
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .fa-chevron-down,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .fa-chevron-down {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  font-size: 0;
  padding: 0;
  margin-top: -0.5px;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .fa-chevron-down::before,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .fa-chevron-down::before {
  display: block;
  width: 22px;
  height: 22px;
  content: "";
  background-image: url("https://res.cloudinary.com/spiralyze/image/upload/v1744300205/netwrix/10001/icon-arrow-down.svg");
  background-size: 22px;
  background-repeat: no-repeat;
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .title,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .title {
  color: #354556;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .title,
  .spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .title {
    padding-right: 25px;
  }
}
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item .text,
.spz_10001 .netwrix_faq .container > .row > .col-xs-22 .faq-item-2 .text {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 100%;
}
@media (max-width: 767.98px) {
  .spz_10001 .netwrix_faq .container > .row {
    margin: 0;
  }
}
.spz_10001 .faq_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.spz_10001 .spz_modal {
  display: none !important;
}/*# sourceMappingURL=style.css.map */