img {
  image-rendering: -webkit-optimize-contrast;
}

.spz_t2003 .hero-full-width-wrapper {
  display: none;
}
.spz_t2003 .scroll-mask {
  pointer-events: none;
}
.spz_t2003 .hero_spz {
  text-align: center;
  background-color: #F1F0EC;
  padding-top: 66px;
}
.spz_t2003 .eyebrow-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 230px;
  margin: 0 auto;
}
.spz_t2003 .eyebrow-hero img {
  width: 100%;
  max-width: 108px;
}
.spz_t2003 .eyebrow-hero span {
  color: #111;
  font-family: 'Soehne Buch';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: normal;
  text-transform: lowercase;
  margin-top: -3px;
}
.spz_t2003 .eyebrow-hero span strong {
  font-family: 'Soehne Halbfett';
  font-weight: 600;
  letter-spacing: normal;
}
.spz_t2003 .hero_spz h1.header-hero {
  color: #111;
  text-align: center;
  font-family: 'Soehne Leicht';
  font-size: 52px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px;
  margin: 8px auto 26px;
  width: 100%;
  max-width: 800px;
}
.spz_t2003 .hero_spz .form-email {
  margin-bottom: 6px;
}
.spz_t2003 #email-form {
  margin: 0 auto;
  max-width: 440px;
}
.spz_t2003 #email-form .form_input {
  height: 50px;
  color: #797C8C;
  text-overflow: ellipsis;
  font-family: 'Soehne Leicht';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  border-top: 1px solid #D6D6E1;
  border-bottom: 1px solid #D6D6E1;
  border-left: 1px solid #D6D6E1;
  background: #FFF;
}
.spz_t2003 #email-form .form_input:hover {
  border-top: 1px solid #B5B5C0;
  border-bottom: 1px solid #B5B5C0;
  border-left: 1px solid #B5B5C0;
}
.spz_t2003 #email-form .form_input.active {
  border-top: 1px solid #D6D6E1;
  border-bottom: 1px solid #D6D6E1;
  border-left: 1px solid #D6D6E1;
  color: #111;
}
.spz_t2003 #email-form .form_input.typing {
  border-top: 1px solid #3898EC;
  border-bottom: 1px solid #3898EC;
  border-left: 1px solid #3898EC;
  color: #111;
}
.spz_t2003 #email-form .form_input:-webkit-autofill,
.spz_t2003 #email-form .form_input:-webkit-autofill:hover,
.spz_t2003 #email-form .form_input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #111;
}
.spz_t2003 #email-form .form_input::-moz-placeholder {
  font-family: 'Soehne Buch';
  color: #797C8C;
  opacity: 1;
}
.spz_t2003 #email-form .form_input:-moz-placeholder {
  font-family: 'Soehne Buch';
  color: #797C8C;
  opacity: 1;
}
.spz_t2003 #email-form .form_input::-webkit-input-placeholder {
  font-family: 'Soehne Buch';
  color: #797C8C;
  opacity: 1;
}
.spz_t2003 #email-form .form_input:-ms-input-placeholder {
  font-family: 'Soehne Buch';
  color: #797C8C;
  opacity: 1;
}
.spz_t2003 #email-form .form_input:focus::-moz-placeholder {
  opacity: 0;
}
.spz_t2003 #email-form .form_input:focus:-moz-placeholder {
  opacity: 0;
}
.spz_t2003 #email-form .form_input:focus::-webkit-input-placeholder {
  opacity: 0;
}
.spz_t2003 #email-form .form_input:focus:-ms-input-placeholder {
  opacity: 0;
}
.spz_t2003 #email-form .button.is-single-field {
  color: #FFF;
  text-align: center;
  font-family: 'Soehne Halbfett';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  min-width: 157px;
  max-height: 50px;
  padding: 12px 0px 12px;
}
.spz_t2003 #email-form .button.is-single-field:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #024DBD;
  border: 2px solid transparent;
}
.spz_t2003 .hero_spz .button-disclaimer {
  color: #111;
  font-family: 'Soehne Leicht';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  margin-bottom: 22px;
}
.spz_t2003 .hero_spz .button-disclaimer a {
  color: #1B0EB1;
  font-family: 'Soehne Leicht';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.spz_t2003 .hero_spz .button-disclaimer a:hover {
  text-decoration-line: underline;
}
.spz_t2003 .hero_spz .tabs {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  gap: 8px;
  margin: 0 auto 23px;
}
.spz_t2003 .hero_spz .tab-content {
  display: none;
  margin-top: 10px;
}
.spz_t2003 .hero_spz .tab-content.active {
  display: block;
}
.spz_t2003 .hero_spz .border-animation {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #024DBD;
  transform: scaleX(0);
  transform-origin: left;
}
.spz_t2003 .hero_spz .tab-button {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  overflow: hidden;
  background-color: transparent;
  color: #111;
  font-family: 'Soehne Buch';
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  white-space: nowrap;
  min-width: 120px;
  padding: 10px 8px 9px;
}
.spz_t2003 .hero_spz .tab-button.active {
  font-weight: 600;
  font-family: 'Soehne Halbfett';
  pointer-events: none;
}
.spz_t2003 .hero_spz .tab-button.active:before,
.spz_t2003 .hero_spz .tab-button:hover:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.20);
}
.spz_t2003 .hero_spz .tab-button.active:not(:has(.border-animation)):before {
  background-color: #024DBD;
}
.spz_t2003 .hero_spz .tab-button.active .border-animation {
  animation: expand 7s linear forwards;
}

@keyframes expand {
  0% {
      transform: scaleX(0);
  }

  100% {
      transform: scaleX(1);
  }
}

@media(max-width: 991.98px) {
  .spz_t2003 .hero_spz .container-large {
      width: 100%;
      max-width: 100%;
  }
  .spz_t2003 .hero_spz h1.header-hero {
      max-width: 700px;
  }
  .spz_t2003 .hero_spz .tab-content.active {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      overflow: hidden;
  }
  .spz_t2003 .hero_spz .tab-content .pictureWrapper {
      width: 858px;
      height: auto;
      text-align: center;
      display: inline-block;
      margin-left: -45px;
      margin-right: -45px;
  }
}

@media(max-width: 767.98px) {
  .spz_t2003 .hero_spz {
      padding-top: 50px;
  }
  .spz_t2003 .hero_spz h1.header-hero {
      font-size: 36px;
      line-height: 40px;
      margin: 9px auto 25px;
      padding: 0 20px;
  }
  .spz_t2003 #email-form {
      flex-direction: column;
      padding: 0 18px;
  }
  .spz_t2003 #email-form .button.is-single-field {
      width: 100%;
  }
  .spz_t2003 #email-form .form_input {
      margin-bottom: 12px;
  }
  .spz_t2003 .hero_spz .button-disclaimer {
      margin-bottom: 22px;
      padding: 0 18px;
  }
  .spz_t2003 .hero_spz .tabs {
      margin: 0 auto 19px;
  }
  .spz_t2003 .hero_spz .tab-content .pictureWrapper {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media(max-width: 360.98px) {
  .spz_t2003 .hero_spz .tab-content .pictureWrapper {
      width: 404px;
      margin-left: -22px;
      margin-right: -22px;
  }
}

/* ======= Card Desig ========= */
.spz_t2003 .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto 28px;
}

.spz_t2003 .card {
  width: 100%;
  max-width: 180px;
  height: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.60);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  padding: 20px 16px 17px;
  position: relative;
  cursor: pointer;
}
.spz_t2003 .card.active {
  background: #FFF;
  -moz-box-shadow: 0px 12px 16px -4px rgba(17, 17, 17, 0.06), 0px 4px 6px -2px rgba(17, 17, 17, 0.03);
  -webkit-box-shadow: 0px 12px 16px -4px rgba(17, 17, 17, 0.06), 0px 4px 6px -2px rgba(17, 17, 17, 0.03);
  box-shadow: 0px 12px 16px -4px rgba(17, 17, 17, 0.06), 0px 4px 6px -2px rgba(17, 17, 17, 0.03);
  bottom: 6px;
}
.spz_t2003 .card > span {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 8px;
  left: 8px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.20);
  cursor: pointer;
}
.spz_t2003 .card.active .cardInner + span {
  position: absolute;
  width: 17px;
  height: 18px;
  background-image: url('//res.cloudinary.com/spiralyze/image/upload/v1724761057/bill/2001/Checkboxblue.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0;
  border: inherit;
}

.spz_t2003 .card input {
  display: flex;
  position: relative;
  left: 0;
  height: 0;
  cursor: pointer;
}

.spz_t2003 .card .cardInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0;
}

.spz_t2003 .card .cardInner img {
  width: 100%;
  max-width: 64px;
  border-radius: 8px;
  margin-bottom: 11px;
}

.spz_t2003 .card .cardInner span {
  color: #111;
  text-align: center;
  font-family: 'Soehne Buch';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.spz_t2003 .card.active .cardInner span {
  font-weight: 600;
  font-family: 'Soehne Halbfett';
}

@media (max-width: 1270.98px) {
  .spz_t2003 .card-container {
      max-width: 700px;
  }
}
@media (max-width: 1089.98px) {
  .spz_t2003 .card {
      max-width: 222px;
  }
  .spz_t2003 .card.active {
      bottom: 0;
  }
}
@media (min-width: 992px) {
  .spz_t2003 .card:hover {
      background: #FFF;
  }
}
@media (max-width: 991.98px) {
  .spz_t2003 .card-container {
      max-width: 770px;
      padding: 0 39px;
  }
  .spz_t2003 .card + span {
      top: 7px;
      left: 7px;
  }
}
@media (max-width: 767.98px) {
  .spz_t2003 .card-container {
      max-width: 500px;
      padding: 0 18px;
  }
  .spz_t2003 .card {
      max-width: 156px;
      padding: 16px 12px 12px;
  }
  .spz_t2003 .card .cardInner img {
      max-width: 48px;
      margin-bottom: 12px;
  }
  .spz_t2003 .card .cardInner span {
      font-size: 12px;
      line-height: 16px;
  }
}
@media (max-width: 359.98px) {
  .spz_t2003 .card-container {
      padding: 0 16px;
  }
  .spz_t2003 .card {
      max-width: 138px;
  }
}