$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1300.98px;
$tablet-pro: 992px;
$tablet: 991.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (min-width: #{$tablet-lg}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6993),
.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6998),
.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-7500),
.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6959) {
  padding: 0 !important;
  width: auto !important;
  max-height: none !important;
  background: none !important;
  color: inherit;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: auto;
  overflow: visible !important;

  >div {
    max-height: unset !important;
    overflow: visible !important;
  }

  @include tablet() {
    width: 100% !important;
  }
}

.spz_3003 #flying-focus {
  display: none;
}

.spz_3003 div[data-lastpass-root] {
  display: none;
}

.spz_3003 .sgpb-popup-overlay-6993,
.spz_3003 .sgpb-popup-overlay-6998,
.spz_3003 .sgpb-popup-overlay-7500,
.spz_3003 .sgpb-popup-overlay-6959 {
  display: none;
}

html.sgpb-overflow-hidden {
  overflow: auto !important;
}

.spz_3003.sgpb-overflow-hidden-body .container-main {
  filter: none !important;
}

.spz_3003 #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-6993),
.spz_3003 #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-6998),
.spz_3003 #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-7500),
.spz_3003 #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-6959) {
  display: block !important;
  pointer-events: none;
  // visibility: hidden;
  transition: visibility 0.3s ease;
}

.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-6993)[style=""],
.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-6998)[style=""],
.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-7500)[style=""],
.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div-wrapper:has(#sg-popup-content-wrapper-6959)[style=""] {
  pointer-events: auto;
  visibility: visible;
  display: block !important;
}

.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6993),
.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6998),
.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-7500),
.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6959) {
  width: 100%;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  // background: rgba(41, 48, 84, 0.80);
  // backdrop-filter: blur(5.5px);
  // -webkit-backdrop-filter: blur(5.5px);
  display: flex;
  // overflow: auto;
  // padding: 48px 0;
  // transition: opacity 0.3s ease;
  // opacity: 0;
}

.spz_3003.sgpb-overflow-hidden-body .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6993),
.spz_3003.sgpb-overflow-hidden-body .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6998),
.spz_3003.sgpb-overflow-hidden-body .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-7500),
.spz_3003.sgpb-overflow-hidden-body .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6959) {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6993) .sgpb-popup-close-button-2,
.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6998) .sgpb-popup-close-button-2,
.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-7500) .sgpb-popup-close-button-2,
.spz_3003 .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6959) .sgpb-popup-close-button-2 {
  display: none;
}

.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6993),
.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6998),
.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-7500),
.spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6959) {

  transition: transform 0.3s ease;
  // transform: translateY(-2000px);
}

.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6993),
.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6998),
.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-7500),
.spz_3003.sgpb-overflow-hidden-body #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6959) {
  transform: translateY(0px);
}

.spz_3003 .form_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 576px;
  width: 100%;
  border-radius: 28px;
  border: 8px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0px 12px 32px 0px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  position: relative;

  .gfield_label {
    .gfield_required {
      display: none;
    }
  }
}

.spz_3003 .form_wrapper .gform_title {
  display: none;
}

.spz_3003 .form_wrapper .gform_description,
.spz_3003 .form_wrapper p:empty,
.spz_3003 .form_wrapper h3+p {
  padding: 0;
}

.spz_3003 .form_wrapper .close-popup {
  position: absolute;
  cursor: pointer;
  top: 16px;
  right: 16px;
}

.spz_3003 .form_wrapper .close-popup:hover {
  filter: contrast(2);
}

.spz_3003 .form_wrapper .close-popup svg {
  display: block;
}

.spz_3003 #sg-popup-content-wrapper-6993 .form_wrapper .sgpb-main-html-content-wrapper,
.spz_3003 #sg-popup-content-wrapper-6998 .form_wrapper .sgpb-main-html-content-wrapper,
.spz_3003 #sg-popup-content-wrapper-7500 .form_wrapper .sgpb-main-html-content-wrapper,
.spz_3003 #sg-popup-content-wrapper-6959 .form_wrapper .sgpb-main-html-content-wrapper {
  background-color: #fff;
  padding: 24.5px 32px 28px;
}

.spz_3003 .form_wrapper h3 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
  text-align: center;
  color: #293054;
  padding-bottom: 17.5px;
}

.spz_3003 .form_wrapper>div {
  width: 100%;
}

.spz_3003 #content-main .form_wrapper {
  .gform_fields {
    display: flex !important;
    flex-wrap: wrap;
    gap: 16px !important;
  }
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible {
  position: relative;
  max-width: calc(50% - 8px);
  width: 100%;
  padding-bottom: 0 !important;

  &#field_6_5,
  &#field_15_5,
  &#field_4_5 {
    max-width: 100%;
  }
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible.hide {
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: none;
  position: absolute;
}

.spz_3003 .form_wrapper .gform_fields #field_3_7,
.spz_3003 .form_wrapper .gform_fields #field_3_10,
.spz_3003 .form_wrapper .gform_fields #field_3_25,
.spz_3003 .form_wrapper .gform_fields #field_3_8 {
  display: none;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible label {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgba(41, 48, 84, 0.70);
  z-index: 1;
  width: auto;
  pointer-events: none;
  position: absolute;
  left: 16.5px;
  top: 16.5px;
  margin: 0;
  transition: all 0.3s ease-in-out 0s;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible.active label {
  font-size: 12px;
  line-height: 17px;
  top: -9px;
  left: 12px;
  padding: 0 5px;
  background-color: #fff;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible:has(select):not(.active) label {
  opacity: 0;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #293054;
  border-radius: 16px;
  border: 1px solid #ECF2F2;
  height: auto;
  box-shadow: none;
  outline: none;
  padding: 16px 15px;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input:-webkit-autofill,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input:-webkit-autofill:hover,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input:-webkit-autofill:focus,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select:-webkit-autofill,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select:-webkit-autofill:hover,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select:-webkit-autofill:focus,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea:-webkit-autofill,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea:-webkit-autofill:hover,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(126, 126, 126, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #293054 !important;
  position: relative;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input::-moz-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select::-moz-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea::-moz-placeholder {
  opacity: 0;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input:-moz-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select:-moz-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea:-moz-placeholder {
  opacity: 0;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input::-webkit-input-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select::-webkit-input-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea::-webkit-input-placeholder {
  opacity: 0;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input:-ms-input-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select:-ms-input-placeholder,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea:-ms-input-placeholder {
  opacity: 0;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cg clip-path='url(%23clip0_13244_73)'%3E%3Cpath d='M5 7L8.29289 10.2929C8.68342 10.6834 9.31658 10.6834 9.70711 10.2929L13 7' stroke='%23293054' stroke-opacity='0.7' stroke-width='1.5'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_13244_73'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 18px;
  padding-right: 30px;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible:not(.active) select {
  color: rgba(41, 48, 84, 0.70);
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select option {
  color: #293054;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible.focused input,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible.focused select,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible.focused textarea {
  border-color: #293054;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible#field_3_18 {
  flex: 1;
  max-width: 100%;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible#field_3_8 {
  max-width: 100%;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea {
  height: 96px;
}

/* This is for Privacy text */
.spz_3003 .form_wrapper .gfield.gfield_visibility_visible#field_3_9 {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  text-align: center;
  max-width: 100%;
  color: #193446;
  padding: 0;
}

.spz_3003 .form_wrapper .gfield.gfield_visibility_visible#field_3_9 a {
  display: inline-block;
  /* fixed to wrap both words */
  font-weight: 400;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible:has(.gfield_validation_message) label,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible:has(.gfield_validation_message):not(.active) select {
  color: #FF4349;
}

.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible:has(.gfield_validation_message) input,
.spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible:has(.gfield_validation_message) select {
  border-color: #FF4349;
}

.spz_3003 .form_wrapper .gfield .gfield_validation_message {
  color: #FF4349;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.spz_3003 .form_wrapper .gform_heading,
.spz_3003 .form_wrapper .gform_validation_errors {
  display: none;
}

/* Form footer */
.spz_3003 .form_wrapper .gform-footer.gform_footer {
  text-align: center;
  height: auto !important;
  margin-top: 7px;
  margin-bottom: 20px;
}

.spz_3003 .form_wrapper .gform-footer.gform_footer button {
  max-width: 220px;
  width: 100%;
  border-radius: 100px;
  padding: 16px;
  margin-top: 1px;
  font-size: 18px;
  line-height: 24px;
  box-shadow: none !important;
}

// .spz_3003 .form_wrapper .gform-footer.gform_footer button:active,
// .spz_3003 .form_wrapper .gform-footer.gform_footer button:focus {
//   background: #c423f9;
//   color: #ffffff;
// }


.spz_3003 .form_wrapper .gform_confirmation_message {
  text-align: center;
  padding: 30px 0;
}

@media (max-width: 991.98px) {

  .spz_3003 .form_wrapper {
    max-width: 704px;
    margin: auto;
  }

  .spz_3003 #sg-popup-content-wrapper-6993 .form_wrapper .sgpb-main-html-content-wrapper,
  .spz_3003 #sg-popup-content-wrapper-6998 .form_wrapper .sgpb-main-html-content-wrapper,
  .spz_3003 #sg-popup-content-wrapper-7500 .form_wrapper .sgpb-main-html-content-wrapper,
  .spz_3003 #sg-popup-content-wrapper-6959 .form_wrapper .sgpb-main-html-content-wrapper {
    padding: 24.5px 32px 28px;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .spz_3003 .form_wrapper .gfield.gfield_visibility_visible#field_3_9 {
    margin-left: 0;
    margin-right: 0;
    width: auto;
    max-width: max-content;
    letter-spacing: -0.12px;
  }
}

@media (max-width: 767.98px) {
  .spz_3003 .form_wrapper {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6993),
  .spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6998),
  .spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-7500),
  .spz_3003 #sgpb-popup-dialog-main-div:has(#sg-popup-content-wrapper-6959) {
    overflow-y: hidden !important;
  }

  .spz_3003 #sg-popup-content-wrapper-6993 .form_wrapper .sgpb-main-html-content-wrapper,
  .spz_3003 #sg-popup-content-wrapper-6998 .form_wrapper .sgpb-main-html-content-wrapper,
  .spz_3003 #sg-popup-content-wrapper-7500 .form_wrapper .sgpb-main-html-content-wrapper,
  .spz_3003 #sg-popup-content-wrapper-6959 .form_wrapper .sgpb-main-html-content-wrapper {
    padding: 26.5px 16px 28.5px;
  }

  .spz_3003 .form_wrapper .close-popup {
    top: 12px;
    right: 12px;
  }

  .spz_3003 .form_wrapper h3 {
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    padding-bottom: 19.5px;
  }

  .spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible {
    max-width: 100%;
  }

  .spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible input,
  .spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible select,
  .spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible textarea {
    line-height: 19px !important;
    min-height: 56px !important;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
  }

  .spz_3003 .form_wrapper .gfield.gfield_visibility_visible#field_3_9 {
    font-size: 10px;
    line-height: 14px;
  }

  .spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible label {
    font-size: 14px;
    line-height: 19px;
    left: 16px;
    top: 17.5px;
  }

  .spz_3003 .form_wrapper .gform-footer.gform_footer button {
    max-width: 100%;
    min-height: 56px;
    font-size: 16px;
    line-height: 27px;
    padding-top: 10.5px;
    padding-bottom: 10.5px
  }

  .spz_3003 .form_wrapper .gform-footer.gform_footer {
    margin-bottom: 20.5px;
  }

  .spz_3003 .form_wrapper .gform_fields .gfield.gfield_visibility_visible.active label {
    font-size: 10px;
    line-height: 14px;
    top: -8px;
  }
}

/* Form CSS end */


// 1004 css

.spz_3003 img {
  image-rendering: -webkit-optimize-contrast;
}

// .spz_3003 header.header-main,
// .spz_3003 .footer-main .pre-footer,
// .spz_3003 .footer-main .copy-rights p .icon-logo,
// .spz_3003 .hero_section ~ *,
// .spz_3003 .hero_section .title_row,
// .spz_3003 #row1,
// .spz_3003 .hero-form-wrapper ~ div,
// .spz_3003.small-form #field_3_4 ~ * {
//   display: none;
// }
.spz_3003 {
  .heroContent {

    >.aside,
    >.dsg-wrap {
      display: none;
    }
  }

  .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6993),
  .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-7500),
  .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6998),
  .sgpb-popup-dialog-main-div-theme-wrapper-2:has(#sg-popup-content-wrapper-6959) {
    position: relative !important;
  }
}

.spz_3003 #flying-focus {
  width: auto !important;
  /* Do not delete this. Resolved blank page scroll issue while resizing. */
}

.spz_3003 .container-main {
  min-height: 100dvh;
}

// .spz_3003 main {
//   display: flex;
//   flex-direction: column;
//   padding: 0;
// }

.spz_3003 .hero_section {
  background-image: url('https://res.cloudinary.com/spiralyze/image/upload/v1752124850/canoeintelligence/3003/SVG_ARROWS-1440px_with_bg-2.png');
  background-size: cover;
  background-position: center;
  background-color: #1b2141;
  padding-top: 22px;
  padding-bottom: 120px;
  flex: 1 0 auto;

  @media only screen and (min-width: 1920px) {
    background-image: url('https://res.cloudinary.com/spiralyze/image/upload/v1752166016/canoeintelligence/3003/SVG_ARROWS-1920px_with_bg.png');
  }
}

.spz_3003 .heroContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;
  gap: 90px;
  padding: 90px 80px 82.5px;
  margin: 0 auto;
}

.spz_3003 .heroLeft {
  max-width: 638px;
  width: 100%;

  h4 {
    color: #1BFFC3;
    font-family: system-ui, Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 3.49px;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 6.5px;
    margin-top: 7px;

    @include mobile() {
      margin-bottom: 10.5px;
    }
  }
}

.spz_3003 .hero_section h1 {
  font-size: 48px;
  line-height: 52.8px;
  font-weight: 400;
  color: #fff;
  padding-bottom: 29px;

  @include tablet-pro() {
    font-size: 46px;
  }

  br {
    display: inline;

    &:nth-of-type(2) {
      display: none;
    }

    @include tablet-lg() {
      display: none;
    }

    @include tablet-pro() {
      display: none;
    }

    @include tablet() {
      display: none;

      &:nth-of-type(2) {
        display: inline;
      }
    }

    @include mobile() {
      display: none;
    }
  }
}

.spz_3003 .hero_section ul li {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.85);
  padding-left: 32px;
  padding-bottom: 28px;

  &:last-child {
    padding-bottom: 0;
  }
}

.spz_3003 .hero_section ul li::before {
  background-image: url('https://res.cloudinary.com/spiralyze/image/upload/v1748884533/canoeintelligence/1003/icon.svg');
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 22px;
  height: 14px;
  top: 6px;
}

.spz_3003 .hero_section ul li strong {
  font-weight: 600;
  color: #fff;
}

.spz_3003 .heroRight {
  display: block;
  max-width: 576px;
  width: 100%;
  margin: 0 -8px 0 0;
}

.spz_3003 {
  .logo_outer {
    width: 100%;

    .container {
      padding-left: 80px;
      padding-right: 80px;

      >.dsg-wrap {
        display: none;
      }

      h3 {
        font-family: "DM Serif Display", sans-serif;
        font-size: 24px;
        line-height: 26px;
        font-weight: 400;
        color: #fff;
      }

      @include tablet() {
        padding-left: 40px;
        padding-right: 40px;

        h3 {
          max-width: unset;
        }
      }

      @include mobile() {
        padding-left: 20px;
        padding-right: 20px;

        h3 {
          max-width: unset;
          font-size: 20px;
          line-height: 22px;
          padding-bottom: 17px;
        }
      }
    }
  }

  @media only screen and (min-width: 1200px) {
    .header-main .nav-bar .btn-header {
      padding-right: 1px;

      [href="/demo-request/"] {
        width: 233px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        line-height: 40px;
        box-shadow: none;

        &:hover {
          box-shadow: none;
        }
      }
    }
  }
}

.spz_3003 .logo-wrapper {
  padding: 25.5px 0;
  margin-bottom: 49px;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .spz_3003 .hero_section {
    background-position: center;
  }

  .spz_3003 .heroContent {
    gap: 30px;
    padding: 90px 30px 82.5px;
  }

  .spz_3003 {
    .logo_outer {
      .container {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }

  .spz_3003 .heroLeft {
    max-width: 50%;
  }

  .spz_3003 .heroRight {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .spz_3003 .heroRight ul {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .spz_3003 .hero_section {
    background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/canoeintelligence/3003/svg_arrows-768px_with_bg_webp.webp');
    padding-bottom: 32px;
  }

  .spz_3003 .heroContent {
    flex-direction: column;
    gap: 0;
    padding: 66px 40px 68.5px;
  }

  .spz_3003 .heroLeft {
    max-width: 100%;
  }

  .spz_3003 .hero_section h1 {
    font-size: 44px;
    line-height: 48.4px;
    padding-bottom: 27px;
    margin-top: 3px;
    max-width: 100%;
  }

  .spz_3003 .heroLeft ul {
    display: none;
  }

  .spz_3003 .heroRight ul {
    margin-top: 34px;
    padding: 0 8px;
  }

  .spz_3003 .hero_section ul li strong {
    letter-spacing: normal;
  }

  .spz_3003 .heroRight {
    width: auto;
    max-width: unset;
    margin: 0 -8px;
  }

  .spz_3003 h3 {
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
  }

  .spz_3003 .logo-wrapper {
    margin-bottom: 33px;
  }
}

@media (min-width: 768px) {
  .spz_3003 .hero_section .form_bg h3 {
    font-size: 32px;
    line-height: 35px;
  }
}

@media (max-width: 767.98px) {
  .spz_3003 .hero_section {
    background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/canoeintelligence/3003/svg_arrows-360px_webp_3.webp');
  }

  .spz_3003 .hero_section .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .spz_3003 .hero_section h1 {
    font-size: 36px;
    line-height: 48.4px;
    margin-top: 0;
    padding-bottom: 39.6px;
  }

  .spz_3003 .heroRight ul {
    margin-top: 34px;
  }

  .spz_3003 .hero_section ul li {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    padding-bottom: 29px;
  }

  .spz_3003 .heroContent {
    padding: 66px 20px 54px;
  }

  .spz_3003 .container>h3 {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
  }

  .spz_3003 .logo-wrapper {
    padding: 18px 0;
    margin-bottom: 32px;
  }

}

.spz_3003 {
  .logo_list {
    padding-top: 25.5px;

    ul {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0 -8px;

      li {
        width: auto;
        padding: 0 8px;

        &::before {
          display: none;
        }
      }
    }

    @include tablet-pro() {
      ul {
        justify-content: flex-start;
        gap: 32px 48px;
      }
    }

    @include tablet() {
      max-width: 690px;
      padding-top: 25.5px;
      padding-bottom: 58px;

      ul {
        justify-content: flex-start;
        gap: 32px 69px;
        margin: 0;

        li {
          padding: 0;

          &:first-child {
            img {
              width: 126px;
              height: 50px;
            }
          }
        }
      }
    }

    @include mobile() {
      padding-top: 19px;
      padding-bottom: 10px;

      ul {
        justify-content: flex-start;
        gap: 16px 40px;
        margin: 0;

        li {
          padding: 0;

          &:first-child {
            img {
              width: 88px;
              height: 35px;
            }
          }
        }
      }
    }
  }

  .logo_main {
    width: auto;

    picture {
      display: block;

      img {
        display: block;
      }
    }
  }

  &.canoe_intelligence {
    .hero_section {
      @include tablet() {
        padding-bottom: 86px;
      }

      @include mobile() {
        padding-bottom: 86px;
      }

      h1 {
        padding-bottom: 31px;

        @include tablet() {
          padding-bottom: 28.5px;
        }

        @include mobile() {
          padding-bottom: 30px;
        }
      }
    }

    .logo_list {
      @include tablet() {
        padding-bottom: 0;
      }
    }

    .heroLeft {
      h4 {
        margin-bottom: 8.5px;

        @include tablet() {
          margin-bottom: 7px;
        }

        @include mobile() {
          margin-bottom: 10.5px;
        }
      }
    }

    #sg-popup-content-wrapper-6993,
    #sg-popup-content-wrapper-6998,
    #sg-popup-content-wrapper-7500,
    #sg-popup-content-wrapper-6959 {
      .form_wrapper {
        .sgpb-main-html-content-wrapper {
          padding-top: 8px;
        }
      }
    }

    .access_brochure {
      display: none;
    }

    .form_wrapper:has(#gform_confirmation_message_6) {
      #gform_confirmation_message_6 {
        color: #293054;
        text-align: center;
        font-family: "Open Sans";
        font-size: 22px;
        font-weight: 400;
        line-height: 30.8px;
        padding: 22.5px 0 40px;

        @include tablet() {
          padding: 14.5px 0 32px;
        }

        @include mobile() {
          padding: 5.5px 0 24px;
          font-size: 18px;
          line-height: 25.2px;
        }
      }

      .access_brochure {
        display: block;
        height: 56px;
        box-shadow: none;
        max-width: 317px;
        margin: auto;
      }
    }
  }

  &.canoe_assetData {
    .hero_section {
      @include tablet() {
        padding-bottom: 96px;
      }

      @include mobile() {
        padding-bottom: 86px;
      }

      h1 {
        padding-bottom: 30px;

        br {
          &:nth-of-type(2) {
            display: none;
          }
        }

        @include tablet() {
          padding-bottom: 28px;

          br {
            display: none;

            &:nth-of-type(2) {
              display: inline;
            }
          }

        }

        @include mobile() {
          padding-bottom: 33px;
        }
      }
    }

    .logo_outer {
      .container {

        .logo_list {
          @include tablet() {
            padding-bottom: 0;
          }
        }
      }
    }

    .heroLeft {
      h4 {
        margin-bottom: 7px;

        @include mobile() {
          margin-bottom: 13.5px;
        }
      }
    }

    #sg-popup-content-wrapper-6993,
    #sg-popup-content-wrapper-6998,
    #sg-popup-content-wrapper-7500,
    #sg-popup-content-wrapper-6959 {
      .form_wrapper {
        .sgpb-main-html-content-wrapper {
          padding-top: 8px;
        }
      }
    }
  }

  &.canoe_connect {
    #row2 {
      background: #ECF2F2 !important;

      h2 {
        color: #293054;
      }

      p {
        color: rgba($color: #293054, $alpha: 0.7);
      }
    }

    .hero_section {
      @include tablet() {
        padding-bottom: 96px;
      }

      @include mobile() {
        padding-bottom: 86px;
      }

      h1 {
        padding-bottom: 31px;

        @include tablet() {
          padding-bottom: 29px;
        }

        @include mobile() {
          padding-bottom: 34.5px;
        }
      }

      &+.hero-title {
        padding-top: 116px;
        padding-bottom: 118px;

        // background: #E7ECEC!important;
        @include tablet() {
          padding: 93px 0 92px;
        }

        @include mobile() {
          padding-top: 42px;
          padding-bottom: 51px;
        }
      }
    }

    .heroLeft {
      h4 {
        margin-bottom: 8.5px;

        @include mobile() {
          margin-bottom: 13px;
        }
      }
    }

    .heroContent {
      @include tablet() {
        padding-bottom: 94.5px;
      }

      @include mobile() {
        padding-bottom: 80px;
      }
    }

    .logo_outer {
      .container {
        margin-top: -2px;

        .logo_list {
          @include tablet() {
            padding-bottom: 0;
          }
        }

        // h3 {
        //   font-size: 32px;
        //   line-height: 35.2px;
        //   padding-bottom: 8px;

        //   @include tablet() {
        //     font-size: 24px;
        //     line-height: 26.2px;
        //     padding-bottom: 9.5px;
        //   }

        //   @include mobile() {
        //     font-size: 20px;
        //     line-height: 22px;
        //     padding-bottom: 17px;
        //   }
        // }
      }
    }

    #sg-popup-content-wrapper-6993,
    #sg-popup-content-wrapper-6998,
    #sg-popup-content-wrapper-7500,
    #sg-popup-content-wrapper-6959 {
      .form_wrapper {
        .sgpb-main-html-content-wrapper {
          padding-top: 8px;
        }
      }
    }
  }

  .form_nav {
    padding-bottom: 32.5px;

    @include mobile() {
      padding-bottom: 34.5px;
    }

    .form_navOuter {
      display: flex;
      flex-wrap: wrap;

      .form_navItem {
        width: 50%;

        a {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          height: 43px;
          color: rgba(41, 48, 84, 0.50);
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          line-height: 21.6px;
          text-transform: uppercase;
          border-bottom: 2px solid #ECF2F2;
          transition: all 0.3s ease;

          @include mobile() {
            height: 42px;
            font-size: 14px;
            line-height: 18.9px;
          }

          &:hover {
            text-decoration: none;
          }

          &.active {
            color: #00B1B1;
            border-color: #00B1B1;
          }
        }
      }
    }
  }

  #field_3_9 {
    &+#field_3_9 {
      display: none;
    }
  }

  .btn_brochure {
    &+a.btn-aurora {
      display: none;
    }
  }

  .btn_demo {
    &+a.btn-fill {
      display: none;
    }
  }

  .tab_form {
    display: none;
    position: relative;
    height: 0;
    overflow: hidden;

    &.active {
      display: block;
      height: auto;
      overflow: visible;
    }
  }

  .heroRight {
    position: relative;

    // @include tablet() {
    //   min-height: 800px;
    // }

    .load-wrapper {
      padding: 40px 40px 40px;
      border-radius: 8px;
      background: white;
      width: 100%;
      height: 100%;
      // position: absolute;
      // top: 0;
      // left: 0;
      z-index: 999999999;
      display: flex;
      justify-content: center;
      align-items: center;

      @include tablet() {
        height: 400px;
        max-width: 704px;
        margin: auto;
        // left: 50%;
        // transform: translateX(-50%);
      }
    }

    .lds-dual-ring:after {
      content: " ";
      display: block;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      border: 6px solid #000;
      border-color: #000 transparent #000 transparent;
      animation: lds-dual-ring 1.2s linear infinite;
    }

    .lds-dual-ring {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80px;
      height: 80px;
      margin: 80px auto;
    }

    @keyframes lds-dual-ring {
      0% {
        transform: rotate(0deg);
      }

      100% {
        transform: rotate(360deg);
      }
    }
  }

}