.spz_10002 .form-col-container > p:first-child strong {
  color: var(--color-green-5);
  text-align: center;
  font-family: var(--heading-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin-bottom: 0;
}

.spz_10002 .mktoForm .mktoFormRow.width50,
.spz_10002 .mktoForm .mktoFormRow.form-input-width50 {
  width: calc(50% - 10px) !important;
}

.spz_10002 main .form .mktoForm select,
.spz_10002 main .form .mktoForm textarea,
.spz_10002main .form .mktoForm input,
.spz_10002 main .form form input {
  height: 48px;
  color: var(--color-gray-13);
  font-family: var(--body-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  border-color: var(--color-gray-6);
  padding: 9px 16px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spz_10002 .error + input,
.spz_10002 .error + select {
  color: var(--color-rose-4);
}

.spz_10002 main .form select {
  padding-right: 32px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M6 9L12 15L18 9" stroke="%23A5A29F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-position: 95.5% center;
}
@media (max-width: 767px) {
  .spz_10002 main .form select {
    background-position: 96.2% center;
  }
}

.spz_10002 .privacy-policy input {
  height: auto;
}

.spz_10002 form select:has(option[value=""]:checked) {
  color: var(--color-gray-13);
}
.spz_10002 form select:has(option[value=""]:checked).mktoInvalid {
  border-color: var(--color-rose-4);
}

.spz_10002 .privacy-policy .mktoFormCol {
  margin-bottom: 0 !important;
}

.spz_10002 main .form form select:focus,
.spz_10002 main .form form textarea:focus,
.spz_10002 main .form form input:focus,
.spz_10002 main .form form .mktoForm .mktoInvalid:focus {
  outline: none;
  border-color: var(--color-green-5);
}

.spz_10002 .mktoForm .mktoFieldWrap:not(.form-checkbox-flex):not(.form-multi-checkboxes) .mktoLabel {
  color: var(--color-gray-7);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  top: 25px;
  z-index: 4;
  left: 4px;
}

.spz_10002 .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.active,
.spz_10002 label#Lbltemptextm,
.spz_10002 label#Lbltemptext2m,
.spz_10002 label#LblNotes__c_account {
  font-size: 12px;
  line-height: 18px;
  top: 1px;
  padding: 0 5px;
  color: var(--color-gray-7);
  left: 12px;
}

.spz_10002 .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.focus {
  color: var(--color-green-4);
}

.spz_10002 .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.error {
  color: var(--color-rose-4);
}

.spz_10002 .error select,
.spz_10002 .error textarea,
.spz_10002 .error input,
.spz_10002 .mktoForm .mktoInvalid,
.spz_10002 .mktoForm .mktoInvalid.form-checkbox-option label::before {
  border-color: var(--color-rose-4);
}

.spz_10002 .form-col-container .form-element-container {
  min-height: 0;
}

.spz_10002 .mktoForm .mktoErrorMsg {
  margin-left: 16px;
  margin-top: 2px;
}

.spz_10002 .fname-parent {
  order: 1;
}

.spz_10002 .lname-parent {
  order: 2;
}

.spz_10002 .email-parent {
  order: 3;
}

.spz_10002 .job-parent {
  order: 4;
}

.spz_10002 .company-parent {
  order: 5;
}

.spz_10002 .phone-parent {
  order: 6;
}

.spz_10002 .employee_c-parent {
  order: 7;
}

.spz_10002 .country-parent {
  order: 8;
}

.spz_10002 .demo-parent {
  order: 9;
}

.spz_10002 .disclaimer-parent-1 {
  order: 10;
}

.spz_10002 .disclaimer-parent-2 {
  order: 11;
}

.spz_10002 .mktoButtonRow {
  order: 12;
}

.spz_10002 .form-msg {
  order: 13;
}

.spz_10002 .demo-parent .mktoFieldWrap {
  margin-top: 16px;
}

.spz_10002 .form-checkbox-option > label::before {
  border-color: var(--color-green-5);
  top: 1px;
}

.spz_10002 input:checked + label::before {
  background-color: var(--color-green-5);
}

.spz_10002 .bhrForm__partnerDisclaimer {
  color: var(--color-gray-12);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0px;
}

.spz_10002 .form-checkbox-option input:checked + label::after {
  top: 3px;
}

.spz_10002 .form-element-container {
  margin-bottom: 0;
}

.spz_10002 main .form .mktoForm .mktoButton {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  height: 56px;
  padding: 0;
  width: 100%;
  margin: 20px auto 0;
}

.spz_10002 main .form .mktoForm .mktoButton:focus {
  background-color: var(--color-green-5);
}

.spz_10002 .disclaimer-parent-1 .bhrForm__partnerDisclaimer {
  padding: 0;
}

.spz_10002 .disclaimer-parent-1 label {
  margin-bottom: 0;
}

.spz_10002 .privacy-policy .mktoFieldWrap a {
  text-underline-offset: 2px;
  text-decoration-skip-ink: none;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-decoration-skip-ink: none;
}

@media (max-width: 767.98px) {
  .spz_10002 {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 41px;
  }
  .spz_10002 .form-col-container > p:first-child strong {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: -0.5px;
  }
  .spz_10002 .mktoForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }
  .spz_10002 .mktoForm > div {
    width: 100%;
  }
  .spz_10002 .mktoForm .mktoFormRow.form-input-width50,
  .spz_10002 .mktoForm .mktoFormRow.width50 {
    width: 100% !important;
  }
}
.spz_10002 .form {
  margin-bottom: 108px;
}
@media (min-width: 768px) and (max-width: 1024.98px) {
  .spz_10002 .form {
    margin-bottom: 74px;
  }
}
@media (max-width: 767px) {
  .spz_10002 .form {
    margin-bottom: 44.5px;
  }
}
.spz_10002 .step_2 .form {
  margin-bottom: 34px;
}
@media (min-width: 768px) and (max-width: 1024.98px) {
  .spz_10002 .step_2 .form {
    margin-bottom: 74px;
  }
}
@media (max-width: 767px) {
  .spz_10002 .step_2 .form {
    margin-bottom: 44.5px;
  }
}
.spz_10002 main .form .form-col .form-col-container .form-element-container {
  min-height: unset;
}
.spz_10002 main .form.white-container .form-col .form-col-container {
  padding: 44px 32px 44px 31.5px;
  margin-top: -4px;
  box-shadow: 0px 20px 40px 0px rgba(0, 51, 29, 0.12);
}
@media (min-width: 768px) and (max-width: 1024.98px) {
  .spz_10002 main .form.white-container .form-col .form-col-container {
    margin: 46px -26px 0;
    padding-left: 32px;
  }
}
@media (max-width: 767px) {
  .spz_10002 main .form.white-container .form-col .form-col-container {
    margin: -1px -6px 0;
    padding: 32px 24px;
  }
}
.spz_10002 main .form .mktoForm .mktoFieldWrap:not(.form-checkbox-flex):not(.form-multi-checkboxes) .mktoLabel,
.spz_10002 main .form .form-input-wrapper:not(.form-checkbox-options) label {
  font-size: 16px;
  line-height: 24px;
  top: 25px;
  padding: 0 16px;
}
.spz_10002 main .form .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.active,
.spz_10002 main .form .form-input-wrapper label.active,
.spz_10002 label#Lbltemptextm,
.spz_10002 label#Lbltemptext2m,
.spz_10002 label#LblNotes__c_account {
  top: 0;
  left: 12px;
  padding: 0 5px;
  font-size: 12px;
  line-height: 18px;
}
.spz_10002 main .form .bhrForm__partnerDisclaimer,
.spz_10002 main .form .form-col .form-consent {
  color: #48413F;
}
.spz_10002 main .form .bhrForm__partnerDisclaimer a,
.spz_10002 main .form .form-col .form-consent a {
  text-underline-offset: 2.5px;
}
.spz_10002 main .form .bhrForm__partnerDisclaimer a:hover,
.spz_10002 main .form .form-col .form-consent a:hover {
  color: #2E7918;
}
.spz_10002 main .form .bhrForm__partnerDisclaimer a:visited,
.spz_10002 main .form .form-col .form-consent a:visited {
  color: #48413F;
}
.spz_10002 main .form .mktoForm .mktoButton,
.spz_10002 main .form .form-col .form-submit-wrapper .button {
  margin-top: 24px;
  background-color: #2E7918;
  transition: all 0.3s ease;
}
.spz_10002 main .form .mktoForm .mktoButton:hover, .spz_10002 main .form .mktoForm .mktoButton:focus, .spz_10002 main .form .mktoForm .mktoButton:active,
.spz_10002 main .form .form-col .form-submit-wrapper .button:hover,
.spz_10002 main .form .form-col .form-submit-wrapper .button:focus,
.spz_10002 main .form .form-col .form-submit-wrapper .button:active {
  background-color: #03551C;
}
.spz_10002 span.mktoButton {
  display: none !important;
}
@media (max-width: 767px) {
  .spz_10002 .form-col-container > p:nth-of-type(1) {
    padding: 0 32px;
  }
  .spz_10002 .form-col-container > p:nth-of-type(1) strong {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 8px !important;
  }
}
.spz_10002 .form-col-container > p:nth-of-type(2) {
  color: #676260;
  padding-bottom: 3.5px;
}
@media (max-width: 767px) {
  .spz_10002 .form-col-container > p:nth-of-type(2) {
    font-size: 16px;
    line-height: 24px;
  }
}
.spz_10002 .form-wrapper:not(.step_2) .form-col-container button.mktoButton {
  display: none;
}
.spz_10002 .form-wrapper:not(.step_2) .form-col-container span.mktoButton {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}
.spz_10002 .stepper {
  padding-bottom: 24.5px;
}
.spz_10002 .stepper img {
  display: block;
  width: 104px;
  margin: auto;
}/*# sourceMappingURL=10002.css.map */