$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023.98px;
$tablet-sm: 768px;
$mobile: 767px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_14003_v1 {
  &.hidden {
    overflow: hidden;
  }

  .quote-container {
    position: relative;
    z-index: 2;
  }

  >img[height="1"] {
    display: none;
  }

  main {
    >div.section.form-container {
      display: none;
    }
  }

  .spz_hero {
    padding: 45px 0 82.5px;
    background: #fff;
    position: relative;
    overflow: hidden;

    @media only screen and (min-width: 2560px) {
      padding-bottom: 77.5px !important;
    }

    @media only screen and (min-width: 1440px) and (max-width: 2055px) {
      +.section.title-container {
        padding-top: 12.5px;
      }
    }

    @include tablet() {
      padding: 45px 0 12px;

      +.section.title-container {
        padding-top: 32px;
      }
    }

    @include mobile() {
      padding: 45px 10px 31px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1.5px;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/bamboohr/14003/bg_ui_-_desktop_1.webp');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom center;
      pointer-events: none;
      z-index: 1;

      @media only screen and (min-width: 2560px) {
        background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/bamboohr/14003/bg_ui_-_full_hd.webp');
        bottom: -28.6%;
        left: -27.5px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 1778px!important;
      }

      @media only screen and (min-width: 1920px) {
        background-size: 1400px;
      }

      // @media only screen and (min-width: 2200px) {
      //   bottom: -15%;
      // }
      @include tablet() {
        bottom: -1.5px;
        left: -6.5px;
        background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/bamboohr/14003/bg_ui_-_desktop.webp');
        background-size: 1145px;
        width: calc(100% + 6.5px);
      }

      @include mobile() {
        background: none;
      }
    }

    .auto_container {
      position: relative;
      z-index: 2;
    }
  }

  .hero_rightAnimation {
    position: absolute;
    right: -179.5px;
    top: -32px;
    width: 488px;
    height: 899px;
    z-index: 0;

    @media only screen and (min-width: 2560px) {
      right: 8.1%;
      top: -91px;
      width: 576px;
      height: 992px;
    }

    @include desktop-sm() {
      width: 355.955px;
      height: 469.205px;
    }

    @include tablet-pro() {
      width: 355.955px;
      height: 469.205px;
    }

    @include tablet() {
      // width: 375.955px;
      // height: 631.205px;
      // right: -239px;
      // top: -5px;
      display: none;
    }

    @include mobile() {
      // width: 366.955px;
      // height: 673.205px;
      // right: -240px;
      // top: -17px;
      display: none;
    }
  }

  .hero_leftAnimation {
    position: absolute;
    left: -176px;
    top: -54px;
    width: 432px;
    height: 810px;
    z-index: 0;
    @media only screen and (min-width: 2560px) {
      left: 5.2%;
      top: -156px;
      width: 544px;
      height: 992px;
    }

    @include desktop-sm() {
      width: 355.955px;
      height: 469.205px;
    }

    @include tablet-pro() {
      width: 355.955px;
      height: 469.205px;
    }

    @include tablet() {
      // width: 343.955px;
      // height: 550.205px;
      // left: -199px;
      // top: 2px;
      display: none;
    }

    @include mobile() {
      // width: 301.955px;
      // height: 494.205px;
      // left: -196px;
      // top: 26px;
      display: none;
    }
  }

  .auto_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    @include tablet() {
      max-width: 700px;
    }
  }

  .spz_heroDetail {
    max-width: 800px;
    margin: auto;
    padding-bottom: 40px;
    position: relative;
    z-index: 1;

    @include tablet() {
      padding-bottom: 27.5px;
    }

    @include mobile() {
      padding-bottom: 32px;
    }

    h1 {
      color: #38312F;
      text-align: center;
      font-family: Fields;
      font-size: 56px;
      font-weight: 700;
      line-height: 67px;
      margin: 0;

      span {
        display: block;
        color: #599D15;
      }

      @include tablet() {
        margin: 0 0 12.5px;
      }

      @include mobile() {
        font-size: 36px;
        line-height: 46px;
      }
    }

    p {
      color: #58524F;
      text-align: center;
      font-family: Inter;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      margin: 0 0 31.5px;

      @include mobile() {
        margin-bottom: 23px;
      }
    }
  }

  .cta_outer {
    display: flex;
    justify-content: center;
  }

  .custom_cta {
    padding: 18px 20px;
    height: 60px;
    width: 171px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #2E7918;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 auto;
    transition: all 0.3s ease;

    &:hover {
      background-color: #03551C;
    }

    &:focus,
    &:active {
      border: 2px solid #AAE868;
      background: #2E7918;
    }

    &.outline {
      background-color: #fff;
      border: 2px solid #2E7918;
      color: #2E7918;

      &:hover {
        background-color: #03551C;
        border-color: #03551C;
        color: #fff;
      }

      &:focus,
      &:active {
        outline: 2px solid #AAE868;
      }
    }

    @include mobile() {
      width: 100%;
      max-width: 360px;
      margin: auto;
    }
  }

  .hero_imageContainer {
    position: relative;
    max-width: 938px;
    margin: auto;
  }

  .hero_imageMain {
    border-radius: 24px;
    border: 1.5px solid #599D15;
    box-shadow: -10px 10px 0 0 #599D15;
    max-width: 899px;
    max-height: 506.5px;
    overflow: hidden;

    picture {
      display: block;
      background-color: #fff;

      img {
        display: block;
        width: 100%;
        border-radius: 24px;
        transition: opacity 0.2s ease;
        opacity: 1;

        &.blur {
          filter: blur(2px);
          -moz-filter: blur(2px);
        }

        &.fade-out {
          opacity: 0;
        }

        .fade-in {
          opacity: 1;
        }
      }
    }

    @include tablet() {
      width: 797px;
      transform: translateX(9px);
    }

    @include mobile() {
      display: none;
    }
  }

  .form_container {
    max-width: 560px;
    margin: auto;
    border-radius: 16px;
    border: 1.5px solid #599D15;
    background: #FFF;
    box-shadow: -10px 10px 0 0 #599D15;
    padding: 31px 30.5px 30.5px;

    @include mobile() {
      padding: 24px 19.5px 23.5px;
      border-radius: 32px;
      border: 0.567px solid #2E7918;
      box-shadow: -10px 10px 0 0 #2E7918;
    }

    .form {
      width: 100%;
      max-width: 100%;

      .form-col {
        margin: auto;
      }
    }

    .form .form-col-container>p+p {
      display: none;
    }

    .form .form-col-container>p:nth-of-type(1) {
      margin: 0 0 11.5px;

      strong {
        color: #03551C;
        font-family: Fields;
        font-size: 24px;
        font-weight: 600;
        line-height: 30px;
        display: block;
        text-align: center;
        margin-bottom: 0;
      }

      @include mobile() {
        margin-bottom: 3.5px;
      }
    }

    .form .mktoForm .mktoFormRow.width50,
    .form .mktoForm .mktoFormRow.form-input-width50 {
      width: calc(50% - 10px);
    }

    .form input,
    .form select {
      height: 48px;
      color: var(--color-gray-13);
      font-family: var(--body-font-family);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      border-color: var(--color-gray-6);
      padding: 9px 15px;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile() {
        height: 44px;
        padding: 9px 11px;
      }
    }

    .form select {
      padding-right: 32px;
    }

    .form .privacy-policy input {
      height: auto;
    }

    .form form select:has(option[value=""]:checked) {
      color: var(--color-gray-13);
    }

    .form .privacy-policy .mktoFormCol {
      margin-bottom: 0 !important;
    }

    .form select:focus,
    .form textarea:focus,
    .form input:focus,
    .form .mktoForm .mktoInvalid:focus {
      outline: none;
      border-color: var(--color-green-5);
    }

    .form .mktoForm .mktoFieldWrap:not(.form-checkbox-flex):not(.form-multi-checkboxes) .mktoLabel {
      color: var(--color-gray-7);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      top: 25px;
      z-index: 4;
      padding-left: 16px;

      @include mobile() {
        padding-left: 12px;
        top: 22.5px;
      }
    }

    .form .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.active,
    .form label#Lbltemptextm,
    .form label#Lbltemptext2m,
    .form label#LblNotes__c_account {
      font-size: 12px;
      line-height: 18px;
      top: 1px;
      padding: 0 5px;
      color: var(--color-gray-7);
      left: 12px;

      @include mobile() {
        left: 8px;
      }
    }

    .form .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.focus {
      color: var(--color-green-5);
    }

    .form .mktoForm .mktoFieldWrap:not(.form-checkbox-flex) .mktoLabel.error {
      color: var(--color-rose-4);
    }

    .form .error select,
    .form .error textarea,
    .form .error input,
    .form .mktoForm .mktoInvalid,
    .form .mktoForm .mktoInvalid.form-checkbox-option label::before {
      border-color: var(--color-rose-4);
    }

    .form .form-col-container .form-element-container {
      min-height: 0;
    }

    .form .mktoForm .mktoErrorMsg {
      margin-left: 16px;
      margin-top: 2px;
      @include mobile(){
        margin-left: 0;
      }
    }

    .form .fname-parent {
      order: 1;
    }

    .form .lname-parent {
      order: 2;
    }

    .form .email-parent {
      order: 3;
    }

    .form .phone-parent {
      order: 4;
    }

    .form .job-parent {
      order: 5;
    }

    .form .company-parent {
      order: 6;
    }

    .form .employee_c-parent {
      order: 7;
    }

    .form .country-parent {
      order: 8;
    }

    .form .demo-parent {
      order: 9;
    }

    .form .disclaimer-parent-1 {
      order: 10;
    }

    .form .mktoButtonRow {
      order: 11;
    }


    .form .disclaimer-parent-2 {
      order: 10;
    }

    .form .form-msg {
      order: 13;
    }

    .form .demo-parent .mktoFieldWrap {
      margin-top: 16px;
    }

    .form .form-checkbox-option>label::before {
      border-color: var(--color-green-5);
      top: 1px;
    }

    .form input:checked+label::before {
      background-color: var(--color-green-5);
    }

    .form .bhrForm__partnerDisclaimer {
      color: var(--color-gray-10);
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0px;
      // max-width: 370px;
      // margin: auto;
    }

    .privacy-policy .form-checkbox-flex>#LblDisclaimer__c {
      margin-bottom: 0;
    }

    .form .form-checkbox-option input:checked+label::after {
      top: 3px;
    }

    .form .form-element-container {
      margin-bottom: 0;
    }

    .form .mktoButton {
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
      height: 56px;
      max-width: 220px;
      padding: 0;
      width: 100%;
      margin: 20px auto 0;
    }

    .form .mktoButton:focus {
      background-color: var(--color-green-5);
    }

    .form .disclaimer-parent-1 {
      .mktoFieldWrap {
        margin-top: 20px;
        max-width: 440px;
      }

      .bhrForm__partnerDisclaimer {
        padding: 0;
      }
    }

    .form .disclaimer-parent-1 label {
      margin-bottom: 0;
    }

    .form .privacy-policy .mktoFieldWrap a {
      text-underline-offset: 2px;
      text-decoration-skip-ink: none;
      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-text-decoration-skip-ink: none;
    }

    @media (max-width: 1199.98px) {
      //  {
      //   flex-direction: column;
      // }

      .text ul li::before {
        left: 0px;
      }

      .text ul li strong {
        margin-right: -1px;
      }

      .flex-center {
        padding-bottom: 48px
      }
    }

    @media (max-width: 767.98px) {

      .flex-center {
        width: 100%;
        padding-left: 24px;
        padding-right: 24px;
      }

      .text .title {
        font-size: 24px;
        line-height: 30px;
        margin-top: 27px;
      }

      //  .text .subtitle {
      //   font-size: 16px;
      //   line-height: 24px;
      //   margin-top: 17px;
      // }

      .text ul {
        margin-top: 36px;
      }

      .text ul li {
        margin-top: 16px;

        &:first-child {
          margin-top: 0;
        }
      }

      .text ul li::before {
        top: 0;
      }

      .text ul li strong {
        margin-right: 0px;
      }

      .form {
        width: 100%;
        // padding-left: 24px;
        // padding-right: 24px;
        // padding-top: 31px;
      }

      //  .form .form-col-container>p:first-child strong {
      //   font-size: 24px;
      //   line-height: 30px;
      //   margin-bottom: -0.5px;
      // }

      .form .mktoForm {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
      }

      .form .mktoForm>div {
        width: 100%;
      }

      .form .mktoForm .mktoFormRow.form-input-width50,
      .form .mktoForm .mktoFormRow.width50 {
        width: 100%;
      }
    }
  }

  .form_container .form input:-webkit-autofill,
  .form_container .form input:-webkit-autofill:hover,
  .form_container .form input:-webkit-autofill:focus,
  .form_container .form select:-webkit-autofill,
  .form_container .form select:-webkit-autofill:hover,
  .form_container .form select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 1) inset !important;
    transition: background-color 5000s ease-in-out 0s !important;
    -webkit-text-fill-color: var(--color-gray-13) !important;
    z-index: 2;
    position: relative;
  }

  .form_container .form select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23777270' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 9px center;
  }

  .form_container .form .mktoForm .mktoFormRow:has(select.mktoInvalid:not(:focus)) label.active.focus,
  .form_container .form .mktoForm .mktoFormRow:has(select.mktoInvalid:not(:focus)) label.active {
    color: var(--color-rose-4);
  }
}