$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_t2010 {
  header > section > div > div{
    >P{
      &:nth-of-type(2){
        margin-bottom: 0;
      }
      &:nth-of-type(3){
        margin-top: 42px;
        @include tablet(){
          margin-top: 32px;
        }
        @include mobile(){
          margin-top: 24px;
        }
      }
    }
    > a {
      border-radius: 8px;
      background: #4D9A25;
      border-color: #4D9A25;
      padding: 14.5px 24.5px;
      min-width: 340px;
      height: 68px;
      justify-content: center;
      align-items: center;
      gap: 0;
      margin-top: 42px;
      margin-bottom: 0;
      span{
        margin-right: -4px;
        transform: translateX(-2px);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
      }
      svg{
        transform: translateX(16px)translateY(2px);
        transition: all 0.2s ease-in-out;
      }
      &:hover{
        svg{
          transform: translateX(20px)translateY(2px);
        }
      }
      @include tablet(){
        min-width: 341px;
        height: 68px;
        padding: 14.5px 36.5px;
        margin-top: 32px;
        margin-bottom: 0px;
        svg{
          transform: translateX(17px);
        }
        &:hover{
          svg{
            transform: translateX(21px);
          }
        }
      }
      @include mobile(){
        min-width: 301px;
        height: 64px;
        padding: 14.5px 26.5px;
        font-size: 20px;
        line-height: 30px;
        margin-top: 24px;
        margin-bottom: 8px;
        span{
          font-size: 20px;
          line-height: 30px;
        }
        svg{
          transform: translateX(10.5px)translateY(2px);
        }
        &:hover{
          svg{
            transform: translateX(14.5px)translateY(2px);
          }
        }
      }
    }
  }
}