$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

.spz_t4014 {
  .hero_sec > div > div {
    > a {
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      border-radius: 8px;
      color: #fff;
      background: #FF6B00;
      border-color: #FF6B00;
      padding: 14.5px 38px;
      min-width: 327px;
      height: 68px;
      gap: 0;
      margin-top: 42px;
      span{
        margin-right: -4px;
        transform: translateX(-1.5px);
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
      }
      svg{
        transform: translateX(14.5px)translateY(1px);
        transition: all 0.2s ease-in-out;
        @include mobile(){
          transform: translateX(13.5px)translateY(1px);
        }
      }
      &:hover{
        svg{
          transform: translateX(16.5px)translateY(1px);
        }
      }
      @include tablet(){
        margin-top: 32px;
      }
      @include mobile(){
        padding-left: 32px;
        padding-right: 32px;
        min-width: 301px;
        height: 64px;
        justify-content: center;
        margin-top: 24px;
        span{
          font-size: 20px;
          line-height: 30px;
        }
        // svg{
        //   transform: translateX(8.5px) translateY(1.5px);
        // }
      }
    }
    >h2{
      padding-top: 42px;
      @include tablet(){
        padding-top: 32px;
      }
      @include mobile(){
        padding-top: 24px;
      }
    }
  }
}