$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1399px;
$tablet-pro: 1024px;
$tablet: 1023.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.spz_11002 {
  .new_hero {
    padding: 90px 0 68px;
    background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg-1920.webp');
    background-size: cover;
    background-repeat: no-repeat;

    @include desktop() {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg_1.webp');
      background-size: 100% 100%;
    }

    @include tablet() {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg-tablet.webp');
      padding: 80px 0 68px;

      .auto_container {
        padding: 0 49px;
      }
    }

    @include mobile() {
      background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg-mobile.webp');
      padding: 64px 0 52px;
    }
  }

  .auto_container {
    width: 100%;
    max-width: 1164px;
    padding: 0 20px;
    margin: auto;
  }

  .new_heroTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include tablet-pro() {
      padding-bottom: 30px;
    }
  }

  .hero_topLeft {
    width: 61%;
    max-width: 700px;
    padding-right: 40px;

    @include tablet() {
      width: 100%;
      padding-right: 0;
    }

    @include mobile() {
      width: 100%;
      padding-right: 0;
    }

    h1 {
      color: #FFF;
      font-family: Roboto;
      font-size: 56px;
      font-weight: 700;
      line-height: 64px;
      margin: 0;
      padding-bottom: 16px;

      @include tablet() {
        padding-bottom: 16.5px;
      }

      @include mobile() {
        font-size: 48px;
        font-weight: 500;
        line-height: 56px;
      }
    }

    p {
      color: #FFF;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;
      margin: 0;
      padding-bottom: 40px;

      @include tablet() {
        padding-bottom: 39.5px;
      }

      @include mobile() {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 32px;
      }
    }

    .form-cont {
      margin: 0;
      max-width: 482px;

      @include tablet() {
        max-width: 100%;
      }
    }
  }

  .hero_topRight {
    width: 39%;

    figure {
      margin: 0;
      display: block;

      img {
        display: block;
        max-width: 560px;
        margin-left: auto;
        width: calc(100% + 121.5px);
        transform: translate(-41.5px, -10.5px);
      }
    }

    @include tablet-pro() {
      figure {
        img {
          width: 100%;
          transform: none;
        }
      }
    }

    @include tablet() {
      width: 100%;
      padding-top: 11.5px;

      figure {
        img {
          margin: auto;
          width: 100%;
          transform: none;
        }
      }
    }

    @include mobile() {
      width: 100%;
      padding-top: 22px;

      figure {
        img {
          margin: auto;
          width: 100%;
          transform: none;
        }
      }
    }
  }

  .hero_bottom {
    margin-top: -10px;

    h3 {
      color: #FFF;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      margin: 0;
      padding-bottom: 23.5px;
    }

    @include tablet-pro() {
      margin-top: 0;
    }

    @include tablet() {
      margin-top: 0;

      h3 {
        padding-bottom: 24px;
      }
    }

    @include mobile() {
      margin-top: 20px;

      h3 {
        padding-bottom: 23.9px;
      }
    }
  }

  .topics_list {
    ul {
      padding-left: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -6px;

      li {
        width: auto;
        padding: 0 6px 12px;
      }
    }
  }

  .topic_data {
    span {
      display: block;
      border-radius: 8px;
      border: 1px solid rgba(255, 255, 255, 0.40);
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(2px);
      -moz-backdrop-filter: blur(2px);
      -webkit-backdrop-filter: blur(2px);
      padding: 7px 15.422px 7px 15px;
      text-align: center;
      color: #FFF;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;

      @include mobile() {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  .spz_wrapper {
    display: flex !important;
    width: 100%;
    max-width: 100% !important;
    min-width: unset !important;
    flex-wrap: nowrap;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    padding: 3px;
    height: 62px;
    transition: all 0.3s ease-in-out;

    &:hover {
      border-color: #CACACA;
    }

    @include mobile() {
      flex-wrap: wrap;
      height: auto;
      max-width: 100% !important;
      margin: auto !important;
    }

    &:has(#errorBodyForm.v-show) {
      border-color: #DF0000;
      margin-top: 20px !important;

      // >div:nth-child(2) input {
      //   background: #BE131C;

      //   &:hover {
      //     background: #E63B44;
      //   }

      //   &:focus,
      //   &:active {
      //     background: #BE131C;
      //   }
      // }
    }

    #errorBodyForm {
      bottom: 50px !important;

      @include mobile() {
        bottom: 108px !important;
      }
    }
    &.er_1{
      #errorBodyForm{
        font-size: 0;
        &::after{
          content: 'Work Email cannot be blank.';
          font-size: 14px;
        }
      }
    }
    &.er_2{
      #errorBodyForm{
        font-size: 0;
        &::after{
          content: 'Enter your work e-mail.';
          font-size: 14px;
        }
      }
    }

    >div {
      &:first-child {
        width: 279px;

        @include tablet() {
          width: calc(100% - 195px);
        }

        @include mobile() {
          width: 100%;
        }


        input[type="email"] {
          height: 100% !important;
          border: none;
          padding: 15px 12px;
          color: #54585C !important;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 400;
          text-align: left !important;
          line-height: 24px !important;
          overflow: hidden;
          text-overflow: ellipsis;

          &::-webkit-input-placeholder {
            color: #54585C;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }

          &::-moz-placeholder {
            color: #54585C;
            font-family: "Open Sans";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }

          &:focus,
          &:active {
            outline: none;
            box-shadow: none;
            border: none;
            color: #354556 !important;
          }

          @include mobile() {
            height: 54px !important;
            margin-bottom: 4px;
          }
        }
      }

      &:nth-child(2) {
        width: 195px;

        input {
          width: 100%;
          height: 100% !important;
          border-radius: 4px !important;
          background: #D22730;
          color: #FFF;
          font-family: "Open Sans" !important;
          font-size: 16px !important;
          font-weight: 600 !important;
          line-height: 24px !important;
          box-shadow: none !important;
          border: none !important;
          transition: all 0.3s ease-in-out;

          &:hover {
            background: #E63B44;
          }

          &:focus,
          &:active {
            background: #BE131C;
          }
        }

        @include mobile() {
          width: 100%;

          input {
            height: 54px !important;
          }
        }
      }
    }

    &+.additional-block {
      max-width: 100%;

      @include tablet() {
        margin: 0;
      }

      .security-info {
        width: 100%;
        text-align: left;
        color: #E4E4E4;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        padding: 16px 0px;

        a {
          color: #fff;
          text-decoration-line: underline;
          text-decoration-style: solid;
          text-decoration-skip-ink: auto;
          text-decoration-thickness: 6.5%;
          text-underline-offset: 1.5px;
          border: none;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: #0090FF;
          }

          @include mobile() {
            margin-left: 4px;
          }
        }
      }
    }
  }

  .breadcrumbs {
    display: none;
  }

  .wrapper {
    >.content {
      display: none;
    }
  }

  .guide_detail {
    padding: 80.5px 0 69px;
    background-color: #fff;

    .auto_container {
      max-width: 840px;

      @include tablet() {
        padding: 0 49px;
      }
    }

    @include mobile() {
      padding: 64.5px 0 54px;
    }
  }

  .guide_detailInner {
    @include mobile() {
      margin-right: -1px;
    }

    p {
      color: #54585C;
      font-family: "Open Sans";
      font-size: 18px;
      font-weight: 400;
      line-height: 26px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  .two-way-navigation{
    padding-top: 74px;

    @include mobile() {
      padding-top: 54px;
    }
  }
}