img {
  image-rendering: -webkit-optimize-contrast;
}

.spz_11002 .new_hero {
  padding: 90px 0 68px;
  background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg-1920.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1440px) {
  .spz_11002 .new_hero {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg_1.webp");
    background-size: 100% 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .new_hero {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg-tablet.webp");
    padding: 80px 0 68px;
  }
  .spz_11002 .new_hero .auto_container {
    padding: 0 49px;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .new_hero {
    background-image: url("//res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/11002/bg-mobile.webp");
    padding: 64px 0 52px;
  }
}
.spz_11002 .auto_container {
  width: 100%;
  max-width: 1164px;
  padding: 0 20px;
  margin: auto;
}
.spz_11002 .new_heroTop {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_11002 .new_heroTop {
    padding-bottom: 30px;
  }
}
.spz_11002 .hero_topLeft {
  width: 61%;
  max-width: 700px;
  padding-right: 40px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .hero_topLeft {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .hero_topLeft {
    width: 100%;
    padding-right: 0;
  }
}
.spz_11002 .hero_topLeft h1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  margin: 0;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .hero_topLeft h1 {
    padding-bottom: 16.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .hero_topLeft h1 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
  }
}
.spz_11002 .hero_topLeft p {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  padding-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .hero_topLeft p {
    padding-bottom: 39.5px;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .hero_topLeft p {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 32px;
  }
}
.spz_11002 .hero_topLeft .form-cont {
  margin: 0;
  max-width: 482px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .hero_topLeft .form-cont {
    max-width: 100%;
  }
}
.spz_11002 .hero_topRight {
  width: 39%;
}
.spz_11002 .hero_topRight figure {
  margin: 0;
  display: block;
}
.spz_11002 .hero_topRight figure img {
  display: block;
  max-width: 560px;
  margin-left: auto;
  width: calc(100% + 121.5px);
  transform: translate(-41.5px, -10.5px);
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_11002 .hero_topRight figure img {
    width: 100%;
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .hero_topRight {
    width: 100%;
    padding-top: 11.5px;
  }
  .spz_11002 .hero_topRight figure img {
    margin: auto;
    width: 100%;
    transform: none;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .hero_topRight {
    width: 100%;
    padding-top: 22px;
  }
  .spz_11002 .hero_topRight figure img {
    margin: auto;
    width: 100%;
    transform: none;
  }
}
.spz_11002 .hero_bottom {
  margin-top: -10px;
}
.spz_11002 .hero_bottom h3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  padding-bottom: 23.5px;
}
@media (min-width: 1024px) and (max-width: 1399px) {
  .spz_11002 .hero_bottom {
    margin-top: 0;
  }
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .hero_bottom {
    margin-top: 0;
  }
  .spz_11002 .hero_bottom h3 {
    padding-bottom: 24px;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .hero_bottom {
    margin-top: 20px;
  }
  .spz_11002 .hero_bottom h3 {
    padding-bottom: 23.9px;
  }
}
.spz_11002 .topics_list ul {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -6px;
}
.spz_11002 .topics_list ul li {
  width: auto;
  padding: 0 6px 12px;
}
.spz_11002 .topic_data span {
  display: block;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding: 7px 15.422px 7px 15px;
  text-align: center;
  color: #FFF;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 767.98px) {
  .spz_11002 .topic_data span {
    font-size: 14px;
    line-height: 22px;
  }
}
.spz_11002 .spz_wrapper {
  display: flex !important;
  width: 100%;
  max-width: 100% !important;
  min-width: unset !important;
  flex-wrap: nowrap;
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  background: #FFF;
  padding: 3px;
  height: 62px;
  transition: all 0.3s ease-in-out;
}
.spz_11002 .spz_wrapper:hover {
  border-color: #CACACA;
}
@media (max-width: 767.98px) {
  .spz_11002 .spz_wrapper {
    flex-wrap: wrap;
    height: auto;
    max-width: 100% !important;
    margin: auto !important;
  }
}
.spz_11002 .spz_wrapper:has(#errorBodyForm.v-show) {
  border-color: #DF0000;
  margin-top: 20px !important;
}
.spz_11002 .spz_wrapper #errorBodyForm {
  bottom: 50px !important;
}
@media (max-width: 767.98px) {
  .spz_11002 .spz_wrapper #errorBodyForm {
    bottom: 108px !important;
  }
}
.spz_11002 .spz_wrapper.er_1 #errorBodyForm {
  font-size: 0;
}
.spz_11002 .spz_wrapper.er_1 #errorBodyForm::after {
  content: "Work Email cannot be blank.";
  font-size: 14px;
}
.spz_11002 .spz_wrapper.er_2 #errorBodyForm {
  font-size: 0;
}
.spz_11002 .spz_wrapper.er_2 #errorBodyForm::after {
  content: "Enter your work e-mail.";
  font-size: 14px;
}
.spz_11002 .spz_wrapper > div:first-child {
  width: 279px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .spz_wrapper > div:first-child {
    width: calc(100% - 195px);
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .spz_wrapper > div:first-child {
    width: 100%;
  }
}
.spz_11002 .spz_wrapper > div:first-child input[type=email] {
  height: 100% !important;
  border: none;
  padding: 15px 12px;
  color: #54585C !important;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  text-align: left !important;
  line-height: 24px !important;
}
.spz_11002 .spz_wrapper > div:first-child input[type=email]::-webkit-input-placeholder {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.spz_11002 .spz_wrapper > div:first-child input[type=email]::-moz-placeholder {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.spz_11002 .spz_wrapper > div:first-child input[type=email]:focus, .spz_11002 .spz_wrapper > div:first-child input[type=email]:active {
  outline: none;
  box-shadow: none;
  border: none;
  color: #354556 !important;
}
@media (max-width: 767.98px) {
  .spz_11002 .spz_wrapper > div:first-child input[type=email] {
    height: 54px !important;
    margin-bottom: 4px;
  }
}
.spz_11002 .spz_wrapper > div:nth-child(2) {
  width: 195px;
}
.spz_11002 .spz_wrapper > div:nth-child(2) input {
  width: 100%;
  height: 100% !important;
  border-radius: 4px !important;
  background: #D22730;
  color: #FFF;
  font-family: "Open Sans" !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 24px !important;
  box-shadow: none !important;
  border: none !important;
  transition: all 0.3s ease-in-out;
}
.spz_11002 .spz_wrapper > div:nth-child(2) input:hover {
  background: #E63B44;
}
.spz_11002 .spz_wrapper > div:nth-child(2) input:focus, .spz_11002 .spz_wrapper > div:nth-child(2) input:active {
  background: #BE131C;
}
@media (max-width: 767.98px) {
  .spz_11002 .spz_wrapper > div:nth-child(2) {
    width: 100%;
  }
  .spz_11002 .spz_wrapper > div:nth-child(2) input {
    height: 54px !important;
  }
}
.spz_11002 .spz_wrapper + .additional-block {
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .spz_wrapper + .additional-block {
    margin: 0;
  }
}
.spz_11002 .spz_wrapper + .additional-block .security-info {
  width: 100%;
  text-align: left;
  color: #E4E4E4;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  padding: 16px 0px;
}
.spz_11002 .spz_wrapper + .additional-block .security-info a {
  color: #fff;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration-thickness: 6.5%;
  text-underline-offset: 1.5px;
  border: none;
  transition: all 0.3s ease-in-out;
}
.spz_11002 .spz_wrapper + .additional-block .security-info a:hover {
  color: #0090FF;
}
@media (max-width: 767.98px) {
  .spz_11002 .spz_wrapper + .additional-block .security-info a {
    margin-left: 4px;
  }
}
.spz_11002 .breadcrumbs {
  display: none;
}
.spz_11002 .wrapper > .content {
  display: none;
}
.spz_11002 .guide_detail {
  padding: 80.5px 0 69px;
  background-color: #fff;
}
.spz_11002 .guide_detail .auto_container {
  max-width: 840px;
}
@media (min-width: 768px) and (max-width: 1023.98px) {
  .spz_11002 .guide_detail .auto_container {
    padding: 0 49px;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .guide_detail {
    padding: 64.5px 0 54px;
  }
}
@media (max-width: 767.98px) {
  .spz_11002 .guide_detailInner {
    margin-right: -1px;
  }
}
.spz_11002 .guide_detailInner p {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.spz_11002 .guide_detailInner p:not(:last-child) {
  margin-bottom: 40px;
}
.spz_11002 .two-way-navigation.with-related-topics {
  padding-top: 74px;
}
@media (max-width: 767.98px) {
  .spz_11002 .two-way-navigation.with-related-topics {
    padding-top: 54px;
  }
}/*# sourceMappingURL=style.css.map */