@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.spz-1002:not(.step_three) .the-form {
  display: none;
}

.spz-1002 .form-wrapper {
  background-color: transparent;
  border: none;
  padding: 0;
  grid-row-gap: 0;
}

.spz-1002 .form-signup {
  max-width: none;
  width: 100%;
}

.spz-1002 .spz-form-wrap {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 10000;
  background: #FFF;
  width: 100%;
}

.spz-1002 .spz-form-wrap h2 {
  font-family: Soehne kraftig, sans-serif;
  color: #111;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 24.5px;
  margin-top: 0;
}

.spz-1002 .spz-form-wrap h5 {
  display: none;
}

.spz-1002 .form-field-columns {
  display: block;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper {
  position: relative;
  width: calc((100% - 12px) / 2);
  float: left;
}
.spz-1002 .spz-form-wrap .spz-input-wrapper.null {
  display: none;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper.hide {
  display: none;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper.accountingSoftware {
  width: 100%;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper.firstName,
.spz-1002 .spz-form-wrap .spz-input-wrapper.email,
.spz-1002 .spz-form-wrap .spz-input-wrapper.phone {
  margin-right: 12px;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper.business-type,
.spz-1002 .spz-form-wrap .form-options {
  display: none;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper label {
  position: absolute;
  overflow: hidden;
  color: #797C8C;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  top: 14px;
  left: 12px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0 4px;
  transition-property: font-size, top, left;
  transition-duration: 0.3s;
  z-index: 4;
  pointer-events: none;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 84%;
  white-space: nowrap;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input::-webkit-input-placeholder {
  color: transparent;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input:-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input:-ms-input-placeholder {
  color: transparent;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input::-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill,
.spz-1002 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill:hover,
.spz-1002 .spz-form-wrap .spz-input-wrapper input:-webkit-autofill:focus,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill:hover,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(126, 126, 126, 0) inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #111 !important;
  z-index: 2;
  position: relative;
}

.spz-1002 input {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input,
.spz-1002 .spz-form-wrap .spz-input-wrapper select {
  border: 1px solid #D6D6E1;
  background: #FFF;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  height: 50px;
  display: block;
  margin-bottom: 16px;
  width: 100%;
  padding: 15px;
  letter-spacing: 0px;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 0;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper select {
  padding-top: 13px;
  padding-right: 36px;
  color: transparent;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper.hasValue select {
  color: #111;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper select option {
  color: #111;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper select.hide {
  display: none;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input:hover,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:hover {
  border: 1px solid #B5B5C0;
}

.spz-1002 form > .form-options {
  margin-bottom: 0;
}

.spz-1002 .form-options .form-options:not(#form-panel-3) {
  display: none;
}

.spz-1002 #form-panel-3 .form-option-title {
  color: #111;
  font-family: Soehne kraftig, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  display: inline-block;
  letter-spacing: 0.1px;
}

.spz-1002.safari #form-panel-3 .form-option-title {
  font-family: Soehne buch, sans-serif;
  letter-spacing: -0.9px;
  -webkit-font-smoothing: antialiased;
}

.spz-1002 #form-panel-3 {
  margin-top: 7.5px;
  border: none !important;
  grid-row-gap: 0;
  margin-bottom: 24px;
}

.spz-1002 .form-dropdown {
  margin-bottom: 0;
}

.spz-1002 #form-panel-3 .text-size-tiny {
  display: inline-block;
  color: #797C8C;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 2px;
}

.spz-1002 #form-panel-3 .form-option-fields {
  flex-direction: row;
  margin-top: 8.5px;
  align-items: center;
  grid-row-gap: 0;
}

.spz-1002 #form-panel-3 .form-option-field {
  display: inline-flex;
  grid-column-gap: 0;
  padding: 0;
}

.spz-1002 #form-panel-3 .form-option-field:nth-child(1) {
  margin-right: 20.5px;
}

.spz-1002 #form-panel-3 .form-option-label {
  color: #2C2D34;
  font-family: Soehne leicht, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03px;
}

.spz-1002 #form-panel-3 :checked + .form-option-label {
  color: #111;
}

.spz-1002 #form-panel-3 input[type=checkbox] {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  border: 1px solid #B5B5C0;
  float: none;
  margin: 0px 7px 0 0;
}

.spz-1002 #form-panel-3 .spacer-xxsmall {
  display: none;
}

.spz-1002 #form-panel-3 input[type=checkbox]:checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M12.0912 5.18726L6.46573 10.8127L3.90869 8.2557' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-color: #024DBD;
  border: 1px solid #024DBD;
  background-position: center center;
}

.spz-1002 .spz-form-wrap .arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 16px;
  pointer-events: none;
  z-index: 5;
}

.spz-1002 .submit-button.button-signup-2 {
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  border: none;
  height: 50px;
  background: #024DBD;
  margin-top: 8px;
}
@media (max-width: 767px) {
  .spz-1002 .submit-button.button-signup-2 {
    margin-top: 0;
  }
}

.spz-1002 .submit-button.button-signup-2:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)) 100%, #024DBD;
}

.spz-1002 .button-disclaimer {
  color: #797C8C;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 12.5px;
}

.spz-1002 .button-disclaimer a {
  color: #1B0EB1;
  font-size: 12px;
  white-space: normal;
  line-height: 16px;
  font-weight: 400;
}

.spz-1002 .button-disclaimer a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

/* state */
.spz-1002 .spz-form-wrap .spz-input-wrapper input:focus,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:focus {
  border: 1px solid #3898EC;
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input:focus ~ label,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:focus ~ label,
.spz-1002 .spz-form-wrap .spz-input-wrapper.hasValue input ~ label,
.spz-1002 .spz-form-wrap .spz-input-wrapper.hasValue select ~ label {
  font-size: 12px;
  line-height: 16px;
  background: white;
  top: -9px;
  left: 13px;
}
@media (max-width: 767px) {
  .spz-1002 .spz-form-wrap .spz-input-wrapper input:focus ~ label,
  .spz-1002 .spz-form-wrap .spz-input-wrapper select:focus ~ label,
  .spz-1002 .spz-form-wrap .spz-input-wrapper.hasValue input ~ label,
  .spz-1002 .spz-form-wrap .spz-input-wrapper.hasValue select ~ label {
    z-index: 9999;
  }
}

.spz-1002 .spz-form-wrap .spz-input-wrapper input:focus ~ label,
.spz-1002 .spz-form-wrap .spz-input-wrapper select:focus ~ label {
  color: #3898EC;
}

.spz-1002 .question-form {
  position: relative;
}

@media (max-width: 767.98px) {
  .spz-1002 .question-form.spz-form-wrap {
    padding: 19.5px 20px 16.5px;
  }
  .spz-1002 .spz-form-wrap h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .spz-1002 .spz-form-wrap .spz-input-wrapper {
    width: 100%;
  }
  .spz-1002 .spz-form-wrap .spz-input-wrapper input,
  .spz-1002 .spz-form-wrap .spz-input-wrapper select {
    margin-bottom: 12px;
  }
  .spz-1002 #form-panel-3 .text-size-tiny {
    display: block;
    margin-left: 0px;
    margin-top: -1px;
  }
  .spz-1002 #form-panel-3 {
    margin-top: 9.5px;
  }
  .spz-1002 #form-panel-3 .flex-horizontal {
    display: block;
  }
  .spz-1002 .form-dropdown {
    margin-bottom: 12px;
    margin-top: 0;
  }
  .spz-1002 #form-panel-3 .form-option-fields {
    flex-direction: column;
    align-items: flex-start;
  }
  .spz-1002 #form-panel-3 .form-option-field:nth-child(1) {
    margin-right: 0px;
  }
  .spz-1002 #form-panel-3 .form-option-field:first-child {
    margin-bottom: 8px;
  }
  .spz-1002 .button-disclaimer {
    padding: 0;
    margin-top: 12.5px;
  }
}
/* 1 css for all page */
/* form only  */
.scroll-hidden,
.scroll-hidden body {
  overflow: hidden;
}
@media (max-width: 767px) {
  .scroll-hidden,
  .scroll-hidden body {
    position: fixed;
    width: 100%;
    overflow: hidden;
    height: 100%;
    touch-action: none;
  }
}

.spz-4002 .header-minimal,
.spz-4002 #formjumplink,
.spz-4002 .spz-d-none {
  display: none;
}

.spz-4002 .popup-wrapper {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  padding: 64px 0;
  display: flex;
  justify-content: center;
  background: transparent;
  transition-timing-function: ease;
  transition-duration: 0.5s;
  transition-property: opacity;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(2, 77, 189, 0.07) 0%, rgba(2, 77, 189, 0.07) 100%), rgba(27, 27, 30, 0.5);
}

.spz-4002 .popup-wrapper.show {
  opacity: 1;
  pointer-events: auto;
}

.spz-4002 .form-wrapper {
  background-color: transparent;
  border: none;
  padding: 0;
  grid-row-gap: 0;
  display: block;
}

.spz-4002 .form-signup {
  max-width: none;
  width: 100%;
  margin-bottom: 0;
}

.spz-4002 .spz-triage-wrap {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  z-index: 10000;
  background: #FFF;
  box-shadow: 0px 20px 24px -4px rgba(17, 17, 17, 0.04), 0px 8px 8px -4px rgba(17, 17, 17, 0.03);
  padding: 32px 32px 31.5px;
  width: 100%;
  max-width: 600px;
  top: 0;
  left: 0;
  transform: translateY(-300%);
  transition: transform 0.5s ease;
}

.spz-4002 .popup-wrapper.show .spz-triage-wrap {
  transform: translateY(0);
}

.spz-4002 .spz-triage-wrap .close-button {
  position: absolute;
  color: #B5B5C0;
  top: 4px;
  right: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  cursor: pointer;
}

.spz-4002 .spz-triage-wrap .close-button:hover {
  color: #797C8C;
  background: #F6F6F3;
}

.spz-4002 .spz-triage-wrap h2 {
  font-family: Soehne kraftig, sans-serif;
  color: #111;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 24.5px;
  margin-top: 0;
}

.spz-4002.safari .spz-form-wrap h2 {
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.spz-4002 .spz-triage-wrap .heading-style-h4 {
  display: none;
}

.spz-4002 .spz-triage-wrap h5 {
  display: none;
}

.spz-4002 .form-field-columns {
  display: block;
  position: relative;
  z-index: 1;
}

.spz-4002 .spz-triage-wrap .arrow {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Cpath d='M5 7.5L10 12.5L15 7.5' stroke='%23111111' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 16px;
  pointer-events: none;
  z-index: 5;
}

@media (max-width: 767.98px) {
  .spz-4002 .spz-triage-wrap .close-button {
    top: 0.5px;
    right: 0px;
  }
  .spz-4002 .popup-wrapper {
    padding: 32px 18px;
  }
  .spz-4002 .spz-triage-wrap {
    padding: 20.5px 20px 20px;
  }
}
/* page modification css*/
.spz-4002 .new-hero-section {
  background: #F1F0EC;
  overflow: hidden;
  padding-bottom: 80px;
}

.spz-4002 .new-hero-section .new-hero-section-wrapper {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.spz-4002 .new-hero-section .left {
  width: 608px;
}

.spz-4002 .new-hero-section .left .logo {
  margin-top: 24px;
  display: inline-block;
}

.spz-4002 .new-hero-section .left .review-star {
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.spz-4002 .new-hero-section .left .review-star img {
  width: 108px;
  height: auto;
  flex-grow: 0;
  margin-right: 8px;
  margin-left: 8px;
}

.spz-4002 .new-hero-section .left .review-star .text {
  color: #111;
  font-family: Soehne leicht, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.07px;
}

.spz-4002 .new-hero-section .left .review-star .text strong {
  font-family: Soehne kraftig, sans-serif;
  font-weight: 600;
}

.spz-4002.safari .new-hero-section .left .review-star .text strong {
  font-family: Soehne buch, sans-serif;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.spz-4002 .new-hero-section .left .title {
  color: #111;
  font-family: Soehne leicht, sans-serif;
  font-size: 52px;
  font-weight: 300;
  line-height: 56px;
  margin-top: 16px;
  margin-bottom: 32.5px;
}

.spz-4002.bill .new-hero-section .left .title {
  padding-right: 32px;
}

.spz-4002 .new-hero-section .left .list > div {
  padding-left: 32px;
  color: #111;
  font-family: Soehne leicht, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='21' viewBox='0 0 20 21' fill='none'%3E%3Crect y='0.5' width='20' height='20' rx='10' fill='%23FF5A0A'/%3E%3Cpath d='M5.337 9.71829L4.5708 10.4845C5.58721 11.8543 7.7061 14.7702 8.05038 15.4756C9.16301 13.5442 12.9418 7.6032 15.4294 5.5249H14.2538C13.2126 6.05393 9.56188 9.28264 8.05038 11.6391L5.337 9.71829Z' fill='white'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 2px 0px;
  letter-spacing: 0.02px;
  background-position: 0 2.5px;
  margin-top: 16px;
}

.spz-4002.bill .new-hero-section .left .list > div {
  letter-spacing: 0.03px;
}

.spz-4002 .new-hero-section .left .list > div:first-child {
  margin-top: 0;
}

.spz-4002 .new-hero-section .left .list > div strong {
  font-family: Soehne kraftig, sans-serif;
  font-weight: 600;
  letter-spacing: 0.15px;
}

.spz-4002.safari .new-hero-section .left .list > div strong {
  font-family: Soehne buch, sans-serif;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.spz-4002 .new-hero-section .left .form {
  margin-top: 31.5px;
}

.spz-4002 .new-hero-section .left .form .hero-form-wrapper {
  display: flex;
  align-items: center;
}

.spz-4002 .new-hero-section .left .form input {
  width: 283px;
  height: 50px;
  border-top: 1px solid #D6D6E1;
  border-bottom: 1px solid #D6D6E1;
  border-left: 1px solid #D6D6E1;
  border-right: none;
  overflow: hidden;
  color: #111;
  text-overflow: ellipsis;
  font-family: Soehne leicht, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  padding: 0 15px;
  letter-spacing: 0.05px;
  outline: 0;
  border-radius: 0;
}

.spz-4002 .new-hero-section .left .form input:-webkit-autofill,
.spz-4002 .new-hero-section .left .form input:-webkit-autofill:hover,
.spz-4002 .new-hero-section .left .form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(126, 126, 126, 0) inset !important;
  -webkit-transition: background-color 5000s ease-in-out 0s !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #111 !important;
}

.spz-4002 .new-hero-section .left .form input:hover {
  border-top: 1px solid #B5B5C0;
  border-bottom: 1px solid #B5B5C0;
  border-left: 1px solid #B5B5C0;
}

.spz-4002 .new-hero-section .left .form input:focus {
  border-top: 1px solid #3898EC;
  border-bottom: 1px solid #3898EC;
  border-left: 1px solid #3898EC;
}

.spz-4002 .new-hero-section .left .form input::-webkit-input-placeholder {
  color: #797C8C;
}

.spz-4002 .new-hero-section .left .form input:-moz-placeholder {
  color: #797C8C;
  opacity: 1;
}

.spz-4002 .new-hero-section .left .form input:-ms-input-placeholder {
  color: #797C8C;
}

.spz-4002 .new-hero-section .left .form input::-moz-placeholder {
  color: #797C8C;
  opacity: 1;
}

.spz-4002 .new-hero-section .left .form input:focus::-webkit-input-placeholder {
  color: transparent;
}

.spz-4002 .new-hero-section .left .form input:focus:-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.spz-4002 .new-hero-section .left .form input:focus:-ms-input-placeholder {
  color: transparent;
}

.spz-4002 .new-hero-section .left .form input:focus::-moz-placeholder {
  color: transparent;
  opacity: 1;
}

.spz-4002 .new-hero-section .left .form .spz-4002-hero-cta {
  background: #024DBD;
  width: 157px;
  height: 50px;
  color: #FFF;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spz-4002 .new-hero-section .left .form .spz-4002-hero-cta:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), #024DBD;
}

.spz-4002 .new-hero-section .left .form .desc {
  color: #797C8C;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 8px;
}

.spz-4002 .new-hero-section .left .form .desc a {
  color: #1B0EB1;
  font-family: Soehne leicht, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 8px;
}

.spz-4002 .new-hero-section .left .form .desc a:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
}

.spz-4002 .new-hero-section .right {
  width: 640px;
  position: relative;
  margin-left: 32px;
}

.spz-4002 .new-hero-section .right img {
  display: block;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  max-width: none;
  width: 150%;
  transform: translateY(-46.5%);
}

.spz-4002 .slider-wrapper-4002 {
  background: #F1F0EC;
  padding-bottom: 72px;
}

.spz-4002 .slider-wrapper-4002 .slider-title {
  color: #111;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-indent: 2px;
  padding: 0 20px;
}

.spz-4002 .slider-wrapper-4002 img {
  margin: 0 40px;
}

.spz-4002 .slider-wrapper-4002 .splide4002 {
  margin: 24px 0 0 0;
  pointer-events: none;
}
.spz-4002 .slider-wrapper-4002 .splide4002.is-active {
  background-color: transparent;
}
.spz-4002 .slider-wrapper-4002 .splide4002.is-active .is-active {
  background-color: transparent;
}

@media (max-width: 1199.98px) {
  .spz-4002 .new-hero-section .left .title {
    padding-right: 0;
  }
}
@media (max-width: 991.98px) {
  .spz-4002 .new-hero-section {
    padding-bottom: 0;
  }
  .spz-4002 .new-hero-section .new-hero-section-wrapper {
    padding: 0;
    flex-direction: column;
  }
  .spz-4002 .new-hero-section .left {
    width: 100%;
    padding: 0 38.39px;
  }
  .spz-4002 .new-hero-section .left .review-star {
    margin-top: 48px;
  }
  .spz-4002 .new-hero-section .left .title {
    padding-right: 0;
  }
  .spz-4002 .new-hero-section .left .form input {
    width: calc(100% - 157px);
  }
  .spz-4002 .new-hero-section .right {
    width: 100%;
    margin-left: 0;
  }
  .spz-4002 .new-hero-section .right img {
    position: static;
    max-width: 100%;
    margin-top: 40px;
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    transform: none;
  }
}
@media (max-width: 767.98px) {
  .spz-4002 .new-hero-section .left {
    padding: 0 18px;
  }
  .spz-4002 .new-hero-section .left .review-star {
    margin-top: 32px;
  }
  .spz-4002 .new-hero-section .left .title {
    font-size: 36px;
    line-height: 40px;
    margin-top: 13px;
    margin-bottom: 22.5px;
  }
  .spz-4002 .new-hero-section .left .form .desc {
    text-align: center;
    padding: 0 24px;
  }
  .spz-4002 .new-hero-section .left .list > div {
    font-size: 16px;
    line-height: 22px;
    padding-left: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Crect width='16' height='16' rx='8' fill='%23FF5A0A'/%3E%3Cpath d='M4.2697 7.37424L3.65674 7.98721C4.46987 9.08304 6.16498 11.4158 6.4404 11.9801C7.33051 10.435 10.3535 5.68217 12.3436 4.01953H11.4031C10.5701 4.44275 7.6496 7.02572 6.4404 8.9109L4.2697 7.37424Z' fill='white'/%3E%3C/svg%3E");
    margin-top: 12px;
    background-position: 0 3.5px;
  }
  .spz-4002 .new-hero-section .left .form .hero-form-wrapper {
    flex-direction: column;
  }
  .spz-4002 .new-hero-section .left .form {
    margin-top: 24.5px;
  }
  .spz-4002 .new-hero-section .left .form input {
    width: 100%;
    border-right: 1px solid #D6D6E1;
  }
  .spz-4002 .new-hero-section .left .form input:hover {
    border-right: 1px solid #B5B5C0;
  }
  .spz-4002 .new-hero-section .left .form input:focus {
    border-right: 1px solid #3898EC;
  }
  .spz-4002 .new-hero-section .left .form .spz-4002-hero-cta {
    width: 100%;
    margin-top: 12px;
  }
  .spz-4002 .new-hero-section .right img {
    margin-top: 32px;
  }
  .spz-4002 .slider-wrapper-4002 .slider-title {
    text-indent: 0;
  }
  .spz-4002 .slider-wrapper-4002 img {
    height: 48px;
    width: auto;
    margin: 0 20px;
  }
}
:root {
  --inputHeight: 54px;
}

.spz_t4001 {
  /*Form layout styling*/
  /*Form layout styling end*/
  /* Styling for label animation*/
  /* Styling for label animation end*/
}
.spz_t4001 > img {
  display: none;
}
.spz_t4001 .text-image-hero {
  grid-column-gap: 78px;
  place-items: self-start;
}
@media only screen and (min-width: 1334px) and (max-width: 1439px) {
  .spz_t4001 .text-image-hero {
    grid-column-gap: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1333px) {
  .spz_t4001 .text-image-hero {
    grid-column-gap: 0;
  }
  .spz_t4001 .text-image-hero > div:last-child {
    min-width: 515px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1023px) {
  .spz_t4001 .text-image-hero > div:first-child {
    padding-right: 15px;
  }
  .spz_t4001 .text-image-hero > div:last-child {
    min-width: 515px;
  }
  .spz_t4001 .text-image-hero > div:last-child .spz-triage-wrap .questions-wrap {
    padding: 20px;
  }
  .spz_t4001 .text-image-hero > div:last-child .spz-triage-wrap .questions-wrap .answer-text {
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .text-image-hero {
    grid-column-gap: 0;
    grid-row-gap: 64px;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .text-image-hero {
    grid-column-gap: 0;
    grid-row-gap: 32px;
  }
}
.spz_t4001 .hero_right {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .hero_right {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .hero_right {
    width: 100%;
  }
}
.spz_t4001 .hero_right > .spz-form-wrap {
  display: none;
  max-width: 600px;
  margin: 0;
  background: #FFF;
  box-shadow: 0px 20px 24px -4px rgba(82, 45, 29, 0.04), 0px 8px 8px -4px rgba(82, 45, 29, 0.03);
  padding: 32px;
  margin-bottom: 8px;
}

.spz_t4001 .center {
  max-width: 1124px;
}

.spz_t4001 .site_header .site_header_main {
  height: 88px;
}

@media (max-width: 767px) {
  .spz_t4001 .site_header .site_header_main {
    height: 70px;
  }
}
.spz_t4001 .site_header_main .middle-container {
  height: 88px;
}

.spz_t4001 .site_header_main .logo {
  height: 39px;
  max-width: 315px;
  width: 100%;
}

.spz_t4001 .site_header_main .logo-link.logo_ititial .logo_full {
  height: 39.5px;
  width: 100%;
  transform: translateX(0px) translateY(-1px);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .site_header_main .middle-container {
    padding: 0 40px !important;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .site_header_main .middle-container {
    height: 70px;
    padding: 20px 24px !important;
  }
  .spz_t4001 .site_header_main .logo {
    height: 30px;
  }
  .spz_t4001 .site_header_main .logo-link {
    height: 30px;
  }
  .spz_t4001 .site_header_main .logo-link.logo_ititial {
    display: inline-block;
    min-width: 245px;
    transform: translateY(1px);
  }
  .spz_t4001 .site_header_main .logo-link.logo_ititial .logo_full {
    max-width: 245px !important;
    height: 30px;
  }
  .spz_t4001 .site_header_main .logo_to_scroll img {
    max-width: 245px !important;
    width: 245px !important;
    height: 30px;
  }
}
.spz_t4001 .spz-triage-wrap {
  max-width: 600px;
  width: 100%;
  margin: 0;
}
.spz_t4001 .spz-triage-wrap .is-sub-wrapper {
  border: 1px solid #D6D6E1;
  padding: 23.5px 32px 22.5px;
  max-width: 100%;
  border-radius: 0;
}
.spz_t4001 .spz-triage-wrap .is-sub-wrapper > .text-size-small {
  color: #797C8C;
  font-family: Soehne buch, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  width: 100%;
}
.spz_t4001 .spz-triage-wrap .is-sub-wrapper > .text-size-small:first-child {
  padding-bottom: 12px;
}
.spz_t4001 .spz-triage-wrap .is-sub-wrapper > .text-size-small a {
  color: #1B0EB1;
  font-family: Soehne buch, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-decoration-line: underline;
  margin-left: -3px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap {
    max-width: 688px;
    margin: auto;
  }
}
.spz_t4001 .spz-triage-wrap .questions-progress {
  display: flex;
  justify-content: center;
  margin-bottom: 24.5px;
}

.spz_t4001 .spz-triage-wrap .questions-progress .progress-item {
  width: 48px;
  height: 4px;
  margin: 0 5px;
  border-radius: 20px;
  background: #E4E4E4;
}

.spz_t4001 .spz-triage-wrap .questions-progress .progress-item.completed {
  border: none;
  background: #E4E4E4;
}

.spz_t4001 .spz-triage-wrap .questions-progress .progress-item.active {
  border: none;
  background: #1EC3E0;
}

.spz_t4001 .spz-triage-wrap .question-superheading {
  color: #111;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.2px;
  margin-bottom: 23.5px;
}
.spz_t4001 .spz-triage-wrap .question-form .question-superheading {
  margin-bottom: 12px;
}
.spz_t4001 .spz-triage-wrap .spz-form-wrap .question-superheading {
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-superheading {
    font-size: 24px;
    line-height: 30px;
  }
  .spz_t4001.step_three .spz-triage-wrap .question-superheading {
    margin-bottom: 23.5px !important;
  }
}
.spz_t4001 .spz-triage-wrap .question-2 .question-superheading,
.spz_t4001 .spz-triage-wrap .question-1 .question-superheading {
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-2 .question-superheading,
  .spz_t4001 .spz-triage-wrap .question-1 .question-superheading {
    margin-bottom: 7px;
  }
}
.spz_t4001 .spz-triage-wrap .question-heading {
  font-family: Soehne buch, sans-serif;
  text-align: center;
  color: #111;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 24px;
}

@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-heading {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 24.5px;
  }
}
.spz_t4001 .spz-triage-wrap .spz-hidden {
  display: none;
}

.spz_t4001 .spz-triage-wrap .answers-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24.5px;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap {
    margin-bottom: 24px;
  }
}

.spz_t4001 .spz-triage-wrap .question-1 .answers-wrap {
  margin-bottom: 24px;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap {
    gap: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap {
    gap: 16px;
    margin: 0 -8px 24.5px;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap {
    gap: 12px;
  }
}
.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item {
  width: 260px;
  height: 80px;
  padding: 19px 16px 20px 16px;
  text-align: center;
  border: 1px solid #D6D6E1;
  background: #FFF;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease;
}

.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0 auto 11.5px;
  flex: unset;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
    width: 48px;
    height: 48px;
  }
}

.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item:hover {
  border: 1px solid #B5B5C0;
  background: #FFF;
}

.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item.selected {
  border: 1px solid #024DBD;
  background: #FFF;
}
.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item.selected .answer-text {
  font-family: Soehne kraftig, sans-serif;
  font-weight: 600;
}

.spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-item.selected .answer-text {
  font-family: Soehne leicht, sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-item {
    width: calc(50% - 16px);
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-item {
    width: 284px;
    height: 64px;
    padding: 16px;
  }
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-item .answer-image {
    transform: translateY(-1px);
    margin-bottom: -0.5px;
  }
  .spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-item .answer-image {
    margin-bottom: 12px;
  }
}
.spz_t4001 .spz-triage-wrap .answers-wrap .answer-text {
  text-align: center;
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 222px;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
@media (min-width: 1024px) and (max-width: 1333px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-text {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-text {
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    letter-spacing: normal;
  }
}

.spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-text {
  font-family: Soehne leicht, sans-serif;
}

.spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-text {
  min-height: unset;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-text {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-text {
    white-space: normal;
    max-width: unset;
  }
}

.spz_t4001 .spz-triage-wrap .answers-wrap .answer-textTwo {
  width: 100%;
  color: #111;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.11px;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .answers-wrap .answer-textTwo {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 4px;
  }
}

.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item .answer-checkbox {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  border: 1px solid #B5B5C0;
  border-radius: 2px;
}

.spz_t4001 .spz-triage-wrap .answers-wrap .answer-item.selected .answer-checkbox {
  border-radius: 2px;
  border: 1px solid #024DBD;
  background: #024DBD;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M12.0907%205.18726L6.46524%2010.8127L3.9082%208.2557%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.spz_t4001 .spz-triage-wrap .question-item {
  position: relative;
}

.spz_t4001 .spz-triage-wrap .question-item.question-2 .go_back {
  display: none;
}
.spz_t4001 .spz-triage-wrap .question-item.question-2 .answer-textTwo {
  display: none;
}
.spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap {
  margin-bottom: 24px;
}
.spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 7px 8px 8px 43px;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item {
    padding: 8px 7px 8px 39px;
  }
}
.spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-image {
  margin: 0;
  pointer-events: none;
}
.spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-checkbox {
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-checkbox {
    left: 11px;
  }
}
.spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-text {
  margin: 0;
  text-align: left;
  max-width: 131px;
  pointer-events: none;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-text {
    max-width: 135px;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-2 .answers-wrap .answer-item .answer-text {
    transform: translateY(0.5px);
    max-width: 160px;
  }
}

.spz_t4001 .spz-triage-wrap .question-item.question-2 .answer-textTwo {
  display: none;
}

.spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap {
  gap: 16px;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap {
    gap: 9px;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap {
    gap: 12px;
    margin: 0 -4px 24px;
  }
}
.spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item {
  width: 260px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item .answer-checkbox {
  border-radius: 99px;
  border: 1px solid #B5B5C0;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item.selected .answer-checkbox {
  background-image: none;
  background-color: transparent;
  border-color: #024DBD;
  top: 6px;
  left: 6px;
}
.spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item.selected .answer-checkbox::after {
  content: "";
  width: 9.6px;
  height: 9.6px;
  border-radius: 99px;
  background: #024DBD;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item.selected {
    padding-top: 14.5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-item.selected .answer-text {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-1 .answers-wrap .answer-item.selected .answer-text {
    white-space: normal;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item {
    width: calc(50% - 16px);
  }
}
@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item {
    width: 284px;
    height: 132px;
  }
  .spz_t4001 .spz-triage-wrap .question-item.question-1 .answers-wrap .answer-item .answer-text {
    font-size: 14px;
    line-height: 20px;
  }
}
.spz_t4001 .spz-triage-wrap .next-question {
  height: 50px;
  width: 100%;
  background: #024DBD;
  color: #FFF;
  text-align: center;
  font-family: Soehne kraftig, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.7px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.4s ease;
}
.spz_t4001 .spz-triage-wrap .next-question img {
  display: inline-block;
  width: 20px;
  height: 20px;
  flex: unset;
  transform: translateX(9px);
  margin-left: -1px;
}

.spz_t4001 .spz-triage-wrap .next-question:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)) 100%, #024DBD;
}

.spz_t4001 .spz-triage-wrap .next-question:active,
.spz_t4001 .spz-triage-wrap .next-question:focus {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2)) 100%, #024DBD;
}

@media (max-width: 767px) {
  .spz_t4001 .spz-triage-wrap .next-question {
    max-width: 284px;
    height: 50px;
    font-size: 16px;
    line-height: 22px;
  }
}
.spz_t4001 .spz-form-wrap form {
  display: flex;
  flex-wrap: wrap;
  gap: 0 12px;
}
@media (max-width: 767px) {
  .spz_t4001 .spz-form-wrap form .spacer-xsmall {
    background-color: transparent !important;
    display: none;
    height: 0;
  }
}

.spz_t4001.step_three .form-section,
.spz_t4001.step_three .heading-style-h4.is-form {
  display: none;
}
.spz_t4001.step_three .spz-triage-wrap {
  padding-bottom: 23px;
}
@media (max-width: 767px) {
  .spz_t4001.step_three .spz-triage-wrap {
    padding-bottom: 15.5px;
  }
}

.spz_t4001 .error-message {
  border-radius: 2px;
  background: #FFF3ED;
  color: #D22730;
  padding: 12px 10px;
  display: flex;
  align-items: center;
  color: #111;
  font-family: Soehne buch, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-bottom: 24px;
}
.spz_t4001 .error-message svg {
  width: 16px;
  height: 16px;
}

.spz_t4001 .error-message svg {
  margin-right: 4px;
}

@media (max-width: 767px) {
  .spz_t4001 .error-message {
    font-size: 12px;
    line-height: 20px;
    padding: 7px 12px;
    max-width: 284px;
    margin-left: auto;
    margin-right: auto;
  }
}
.spz_t4001 .go_back {
  position: absolute;
  left: -12px;
  top: -12px;
  width: auto;
  display: flex;
  align-items: center;
  border-radius: 200px;
  transition: all 0.3s ease;
  color: #1B0EB1;
  font-family: Soehne buch, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.spz_t4001 .go_back img,
.spz_t4001 .go_back svg {
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  transition: all 0.4s ease;
}
.spz_t4001 .go_back:hover {
  background: #FAFAFA;
}
.spz_t4001 .go_back:hover svg,
.spz_t4001 .go_back:hover img {
  margin-right: 9px;
}
@media (max-width: 767px) {
  .spz_t4001 .go_back {
    left: 0;
    top: 0;
  }
}

.spz_t4001 .signup-column {
  grid-row-gap: 0;
  grid-column-gap: 0;
}
.spz_t4001 .signup-left {
  margin-top: -26px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .signup-left {
    margin-top: 0;
    padding-bottom: 8px;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .signup-left {
    margin-top: 0;
    padding-bottom: 32px;
  }
  .spz_t4001 .signup-left .spacer-small {
    min-height: 0;
  }
}
.spz_t4001 .container-large.vertical-padding-first {
  padding-bottom: 5em;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .container-large.vertical-padding-first {
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .spz_t4001 .container-large.vertical-padding-first {
    padding-bottom: 0;
  }
}
.spz_t4001 input[value=APAR] + label {
  display: none;
}
.spz_t4001 .the-form .heading-style-h4.is-form-simple {
  display: none;
}
.spz_t4001.step_two .vertical-padding-hero {
  padding-bottom: 39px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001.step_two .vertical-padding-hero {
    padding-bottom: 72px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .spz_t4001 .vertical-padding-hero {
    padding-bottom: 72px;
  }
}/*# sourceMappingURL=style-2.css.map */