$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767px;
@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
.spz_140001{
  .page-wrapper {
    >.row-fluid-wrapper{
      display: none;
    }
  }
  .thankYou{
    width: 100%;
    padding-top: 60px;
    @include tablet(){
      padding-top: 52px;
    }
    @include mobile(){
      padding-top: 18px;
    }
  }
  .auto_container{
    width: 100%;
    padding: 0 20px;
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    @include tablet(){
      padding: 0 40px;
    }
  }
  .thank_youInner{
    width: 100%;
  }
  .thank_youtop{
    width: 100%;
    text-align: center;
    padding-bottom: 24px;
    figure{
      display: block;
      margin-bottom: 23px;
      img{
        display: block;
        width: 120px;
        height: 120px;
        margin: auto;
      }
      @include tablet(){
        margin-bottom: 23px;
      }
      @include mobile(){
        margin-bottom: 25px;
        img{
          width: 88px;
          height: 88px;
        }
      }
    }
    h2{
      color: #041E42;
      font-family: Bitter!important;
      font-size: 48px;
      font-weight: 700!important;
      line-height: 62.4px;
      letter-spacing: -0.96px;
      padding-bottom: 24px;
      margin-bottom: 0;
      strong{
        display: inline-block;
        color: #00BFA5;
        font-weight: 700!important;
        padding-left: 6px;
      }
      @include tablet(){
        strong{
          padding-left: 10px;
          transform: translateX(-3px);
        }
      }
      @include mobile(){
        font-size: 32px;
        line-height:  41.6px;
        letter-spacing: -0.24px;
        strong{
          display: contents;
          padding-left: 7px;
        }
      }
    }
    p{
      color:  #666;
      font-family: Lato;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      margin: 0;
      letter-spacing: 0.09px;
      @include tablet(){
        max-width: 700px;
        margin: auto;
      }
    }
  }
  .card_list{
    padding-bottom: 10px;
    @include mobile() {
      padding-bottom: 18px;
    }
    label{
      display: block;
      text-align: center;
      color: #041E42;
      font-family: Bitter;
      font-size: 20px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: -0.4px;
      padding-bottom: 40px;
      margin-bottom: 0;
    }
    ul{
      padding-left: 0;
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li{
        width: 25%;
        padding: 0 15px;
      }
      @include tablet(){
        li{
          width: 50%;
          padding: 0 15px 30px;
        }
      }
      @include mobile(){
        margin: 0;
        li{
          width: 100%;
          padding: 0 0 30px;
        }
      }
    }
  }
  .crad_data{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 14px;
    border: 1px solid #E7ECF1;
    background: #EFF2F4;
    padding: 23px 32px 29px;
    @include mobile(){
      padding: 23px 28px 29px;
    }
    figure{
      display: block;
      margin-bottom: 16px;
      img{
        display: block;
        width: 48px;
        height: 48px;
        margin: auto;
      }
    }
    strong{
      display: block;
      color:  #041E42;
      font-family: Bitter;
      font-size: 20px;
      font-weight: 700;
      line-height:  28px;
      letter-spacing: -0.4px;
      padding-bottom: 8px;
    }
    p{
      color:  #666;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
    }
  }
  .hero_image{
    width: 100%;
    @include mobile(){
      display: none;
    }
    figure{
      width: 100%;
      display: block;
      margin-bottom: 0;
      img{
        width: 100%;
        display: block;
        object-fit: cover;
      }
      @include tablet(){
        margin-top: -30px;
      }
    }
  }
  .customer_usage{
    width: 100%;
    padding: 101px 0;
    background: #EFF2F4;
    @include tablet(){
      padding: 100px 0 71px;
    }
    @include mobile(){
      padding: 49px 0 20px;
    }
  }
  .usage_inner{
    width: 100%;
  }
  .usage_detail{
    width: 100%;
    text-align: center;
    padding-bottom: 47px;
    h2{
      color: #041E42;
      font-family: Bitter!important;
      font-size: 32px;
      font-weight: 700!important;
      line-height: 41.6px;
      letter-spacing: -0.64px;
      margin-bottom: 0;
    }
    @include tablet(){
      padding-bottom: 48px;
    }
    @include mobile(){
      padding-bottom: 38px;
      h2{
        font-size: 24px;
        line-height:  31.2px;
        letter-spacing: -0.48px;
      }
    }
  }
  .usage_list{
    ul{
      padding-left: 0;
      margin: 0 -15px;
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li{
        width: 33.333%;
        padding: 0 15px;
      }
    }
    @include tablet(){
      ul{
        margin: 0;
        li{
          width: 100%;
          padding: 0 0 30px;
        }
      }
    }
    @include mobile(){
      ul{
        margin: 0;
        li{
          width: 100%;
          padding: 0 0 30px;
          &:nth-child(2),
          &:last-child{
            .usage_data{
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }
  .usage_data{
    width: 100%;
    height: 100%;
    padding: 31px 30.5px 39px 31.5px;
    border-radius: 14px;
    border: 1px solid #E7ECF1;
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(4, 30, 66, 0.08);
    transition: all 0.4s ease;
    small{
      display: block;
    }
    .images_wrapper{
      width: 100%;
      overflow: hidden;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -ms-border-radius: 12px;
      -moz-border-radius: 12px;
      transition: all 0.4s ease;
      margin-bottom: 24px;
      position: relative;
      z-index: 1;
      &::after{
        content: '';
        position: absolute;
        left: -7px;
        top: -7px;
        right: -7px;
        bottom: -7px;
        background-color: transparent;
        border-radius: 22px;
        border: 6px solid #fff;
        z-index: 2;
        @include mobile{
          left: -8px;
          top: -8px;
          right: -8px;
          bottom: -8px;
        }
      }

    }
    figure,
    picture{
      display: block;
      transition: transform 0.4s ease;
      margin-bottom: 0;
      img{
        width: 100%;
        display: block;
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -ms-border-radius: 12px;
        -moz-border-radius: 12px;
      }
    }
    
      
    &:hover{
      box-shadow: 0px 4px 22px 0px rgba(4, 30, 66, 0.22);
      figure,
      picture {
        transform: scale(1.04);
      }
      a{
        color: #00BFA5;
        svg{
          margin-left: 10px;
        }
      }
    }
    h4{
      color: #041E42;
      font-family: Bitter!important;
      font-size: 20px;
      font-weight: 700!important;
      line-height: 28px;
      letter-spacing: -0.4px;
      padding-bottom: 8px;
      margin-bottom: 0;
    }
    p{
      color: #666;
      font-family: Lato;
      font-size: 16px;
      max-width: 375px;
      font-weight: 400;
      line-height: 24px;
      margin: 0;
      padding-bottom: 24px;
    }
    a{
      color: #1B1C2B;
      font-family: Lato;
      font-size: 18px;
      display: inline-block;
      font-weight: 500;
      line-height: 23.4px;
      transition: all 0.4s ease;
      margin-bottom: 0;
      letter-spacing: 0.15px;
      svg{
        width: 14px;
        height: 13px;
        margin-left: 4px;
        margin-top: -3px;
        transition: all 0.4s ease;
      }
      &:hover,
      &:focus,
      &:active{
        color: #00BFA5;
        svg{
          margin-left: 10px;
        }
      }
    }
    @include tablet(){
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding-left: 30.5px;
      padding-bottom: 39px;
      figure,
      .images_wrapper{
        width: 48%;
        margin-bottom: 0;
      }
      small{
        width: 52%;
        padding-left: 24px;
        p{
          padding-right: 2px;
        }
        a{
          transform: translateY(2px);
          svg{
            margin-left: 5px;
            margin-top: -4px;
          }
        }
      }
    }
    @include mobile() {
      padding: 19px 19px 31px 19px;
      small{
        h4{
          padding-bottom: 7px;
        }
        p{
          padding-bottom: 25px;
          max-width: 100%;
        }
      }
    }
  }
  footer.footer-update{
    margin-top: 0;
    background-color: #ffffff;
    padding-top: 63px;
    @include tablet(){
      padding-bottom: 60px;
    }
    @include mobile(){
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 23px;
    }
    .footer-container {
      .l-footer__top-container{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 50px;
        border-color: #ccc;
        @include mobile(){
          flex-direction: row;
          align-items: center;
        }
        a.l-footer__logo img{
          width: 157px;
          height: 32px;
        }
        .l-footer__buttons-container {
          .l-footer__login {
            color: #101010;
            font-family: Bitter;
            font-size: 18px;
            font-weight: 600;
            line-height:  21.6px;
            letter-spacing: -0.36px;
            padding-right: 0;
            transform: translateY(-5px);
            &:hover{
              color: #00bfa5!important;
            }
          }
          
          @include mobile(){
            margin-top: 0;
            .l-footer__login{
              margin-top: 0;
              transform: none;
            }
          }
        }
      }
      .l-footer__menu{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 32px;
        border-color: #ccc;
        @include tablet(){
          padding-bottom: 17px;
        }
        @include mobile(){
          padding-bottom: 9px;
        }
        .l-footer__menu-item {
          @include tablet(){
            margin-bottom: 16px;
          }
          @include mobile(){
            width: 100%;
            margin-bottom: 23px;
            &:nth-child(3){
              margin-bottom: 18px;
            }
            &:nth-child(6){
              margin-bottom: 16px;
            }
          }
          > a{
            color:  #101010;
            font-family: Bitter;
            font-size: 16px;
            font-weight: 600;
            line-height:  19.2px;
            letter-spacing: -0.32px;
            margin-bottom: 16px;
            transition: all 0.4s ease;
            &:hover{
              color: #00bfa5!important;
            }
          }
          &:last-child{
            padding-right: 0;
          }
        }
        .l-footer__submenu {
          @include tablet(){
            margin-bottom: 0;
          }
          @include mobile(){
            margin-bottom: 0;
          }
          > a{
            color:  #33353E;
            font-family: Lato;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            margin-bottom: 17px;
            transition: all 0.4s ease;
            @include mobile{
              max-width: 200px;
            }
            &:hover{
              color: #00bfa5;
            }
            .main-nav{
              color:  #101010;
              font-family: Bitter;
              font-size: 16px;
              font-weight: 600;
              line-height:  19.2px;
              letter-spacing: -0.32px;
              margin-top: 30px;
              transition: all 0.4s ease;
              &:hover{
                color: #00bfa5!important;
              }
            }
          }
        }
      }
      .socials{
        flex-direction: row-reverse;
        border: none;
        padding: 52px 0 47px;
        @include tablet(){
          padding: 38px 0 50px;
        }
        @include mobile(){
          padding: 39px 0 48px;
        }
        .subscribe-form {
          @include mobile(){
            width: 100%;
          }
          .subscribe-title {
            color:  #101010;
            font-family: Bitter;
            font-size: 18px;
            font-weight: 600;
            line-height: 23.4px;
            letter-spacing: -0.36px;
            max-width: 200px;
            @include mobile(){
              max-width: 100%;
              text-align: center;
              margin-right: 0;
              transform: translateX(-4px);
              margin-bottom: 15px;
            }
          }
          form {
            transform: translateY(-2px);
            margin-left: 19px;
            @include mobile{
              margin-left: 0;
            }
            .hs_email{
              border:none;
              width: 300px;
              height: 56px;
              padding-left: 0;
              @include tablet(){
                width: 259px;
              }
              @include mobile(){
                width: 100%;
              }
              .input{
                width: 100%;
              }
              input{
                color:  #041E42;
                font-family: Lato;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                border: 1px solid #ccc;
                border-radius: 100px;
                padding: 14px 32px;
                width: 100%;
                background: #FFF;
                &:focus{
                  border-color: #3898ec;
                }
                &::-webkit-input-placeholder{
                  color: #999999!important;
                }
                &::-ms-placeholder{
                  color: #999999!important;
                }
              }
              ul{
                display: none;
              }
            }
            .hs_submit{
              padding: 0;
              line-height: unset;
              margin-left: 16px;
              input{
                color: #FFF;
                font-family: Lato;
                font-size: 16px;
                font-weight: 500;
                line-height: 28px;
                border-radius: 100px;
                width: 133px;
                height: 56px;
                background-color: #041E42;
                transition: background-color .225s ease-in-out;
                &:hover{
                  background-color: #00bfa5;
                }
              }
              
              @include mobile{
                margin-left: 0;
                margin-top: 16px;
                input{
                  width: 100%;
                }
              }
            }
          }
          .hs_cos_wrapper_type_form{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .submitted-message {
              background-color: #ddd;
              padding: 20px;
              color: #041e42;
              font-family: Lato, sans-serif;
              font-size: 14px;
              line-height: 20px;
            }
            @include mobile(){
              >div{
                width: 100%;
              }
            }
          }
        }
        .l-footer__secondary {
          padding-right: 0!important;
          padding-left: 30px!important;
          transform: translateY(-3px);
          @include tablet(){
            padding-left: 0px !important;
            transform: translateY(0);
            width: 100%;
            text-align: center;
            margin-bottom: 28px;
          }
          @include mobile(){
            padding-left: 0px !important;
            transform: translateY(0);
            width: 100%;
            text-align: center;
            margin-bottom: 28px;
            justify-content: center;
          }
          li{
            transform: translateX(-2px);
            a{
              display: inline-block;
              transition: all 0.4s ease;
              &:not(:last-child) {
                margin-right: 32px;
              }
              &:hover{
                filter: invert(75%);
              }
              img{
                width: 24px;
                height: 24px;
              }
            }
          }
        }
      }
      .copyright{
        border: none;
        padding: 0;
        flex-direction: row-reverse;
        @include mobile{
          flex-wrap: wrap;
          margin-bottom: 23px;
        }
        .copyright-text{
          color:  #33353E;
          font-family: Lato;
          font-size: 16px;
          font-weight: 500;
          line-height: 25.6px;
          letter-spacing: -0.32px;
          @include tablet(){
            max-width: 140px;
          }
          @include mobile(){
            max-width: 100%;
            width: 100%;
            text-align: center;
            justify-content: center;
          }
        }
        .legal-privacy{
          li{
            &:not(:last-child) {
              margin-right: 41px;
              @include tablet(){
                margin-left: 0;
                margin-right: 34px;
              }
              @include mobile(){
                margin-left: 0;
                margin-right: 0;
              }
            }
            &:first-child{
              @include tablet(){
                a{
                  white-space: nowrap;
                }
              }
            }
            a{
              color:  #33353E;
              font-family: Lato;
              font-size: 14px;
              font-weight: 500;
              line-height: 22.4px;
              letter-spacing: -0.28px;
              transition: all 0.4s ease;
              &:hover{
                color: #00bfa5;
              }
            }
            @include mobile{
              width: 100%;
              margin-left: 0;
              margin-right: 0;
              text-align: center;
            }
          }
          @include tablet() {
            display: flex;
            align-items: center;
          }
          @include mobile(){
            width: 100%;
          }
        }
      }
    }
  }
}
