$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199px;
$tablet-pro: 1024px;
$tablet: 1023px;
$tablet-sm: 768px;
$mobile: 767px;
@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
.spz_901{
  .category-menu-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    @include tablet(){
      .category-menu{
        max-width: 560px;
      }
    }
    @include mobile(){
      .category-menu{
        max-width: 360px;
      }
    }
  }
  .try_ctaOuter{
    display: inline-block;
    @include tablet(){
      position: absolute;
      right: 15px;
      bottom: 26px;
    }
    @include mobile(){
      position: absolute;
      right: 16px;
      bottom: 27px;
    }
  }
  .try_cta{
    border-radius: 99px;
    background-color: #E10992;
    padding: 7.5px 16px;
    display: inline-block;
    color:  #fff;
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;  
    white-space: nowrap;
    transition: all 0.4s ease;
    &:hover,
    &:active,
    &:focus{
      background-color: #B02775;
    }
  }
  .category-navigation{
    >.row{
      >.column{
        position: relative;
      }
    }
  }
  .category-menu-toggle{
    &.is-visible{
      & + .try_ctaOuter {
        position: absolute;
        right: 0.9375rem;
        top: 13px;
        z-index: 999;
      }
    }
  }
}