$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1199.98px;
$tablet-pro: 1024px;
$tablet: 1023.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.spz_3001_v1 {
  .dynamic-lp-inner {
    .left-col {
      width: 100%;
      border: none;
    }

    .right-col,
    .main-content-div,
    .lp-pwf-cont {
      display: none;
    }
  }

  .logoCon {
    .hs_cos_wrapper_type_module {
      >.container {
        max-width: unset;
      }
    }
  }

  &.spz_3001_simple_a {
    .dynamic-lp-inner {
      .left-col {
        padding-left: 0;
        padding-right: 0;

        >.icons-div {
          display: none;
        }
      }

      >.text-center.pwf-con {
        text-align: left !important;

        >.hs_cos_wrapper_type_module {
          padding-left: 30px;
          border-bottom: 1px solid #af927d33;
        }
      }

      >.reviews-section {
        display: none;
      }
    }

    .spz_form .form-div {
      border: none;
    }
  }

  &.spz_3001_bussiness_loans {
    .lp-header-with-cta {
      min-height: unset;
      height: auto;
    }

    .carouselcon-container {
      display: none;
    }

    .lp-header-wrapper {
      .lp-pwf-wrapper {
        width: 100%;
        height: auto;
        min-height: unset;

        .lp-pwf-form-wrapper {
          height: auto;
          padding: 0;
        }
      }

      .lp-image-wrapper {
        display: none;
      }
    }

    .lp-pwf-form-wrapper {
      display: block;

      .lp-pwf-cont {
        display: none;
      }
    }

    .pwf-form-cont-lp-spec {
      max-width: unset;
      margin: 0;
    }

    .data_right {
      >span {
        margin-bottom: 17px;

        @include tablet() {
          margin-bottom: 13px;
        }

        @include mobile() {
          margin-bottom: 13px;
        }
      }
    }

    .spz_form .form-heading-lp-spec .form-h6-lp-spec {
      +.code-embed-26 {
        margin-right: 0;
      }
    }

    .testimonial_section {
      +.tp-carousel-cont {
        padding: 0;
      }
    }
  }

  .form_section {
    padding: 80px 0;
    position: relative;

    @include tablet() {
      padding: 63.5px 0 64px;
    }

    @include mobile() {
      padding: 60px 0;
    }
  }

  .infoIcon {
    margin-top: -2px;
    transform: translateX(-1px);

    .tooltip-text {
      z-index: 4;
      text-align: left;

      +svg {
        fill: #9C86BB;

        path {
          fill: #9C86BB;
        }
      }
    }

    @include mobile() {
      margin-top: -2.5px;
      transform: translateX(-2px);
    }
  }

  .auto_container {
    max-width: 940px;
    margin: auto;
    padding: 0 20px;

    @include tablet() {
      padding: 0 64px;
    }

    @include mobile() {
      padding: 0 24px;
    }
  }

  .form_heading {
    margin-bottom: 41.5px;
    text-align: center;

    h3 {
      color: #A5A09F;
      font-family: var(--bs-body-font-family);
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      text-transform: uppercase;
      margin-bottom: 17.5px;

    }

    h2 {
      color: #171717;
      font-family: var(--bs-body-font-family);
      font-size: 42px;
      font-weight: 500;
      line-height: 54.6px;
      margin-bottom: 21.5px;
    }

    p {
      color: #171717;
      font-family: var(--bs-body-font-family);
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 0;
    }

    @include tablet() {
      h3 {
        margin-bottom: 18px;
      }

      h2 {
        margin-bottom: 22px;
        padding: 0 100px;
      }
    }

    @include mobile() {
      text-align: left;
      margin-bottom: 42.5px;

      h3 {
        margin-bottom: 18.5px;
      }

      h2 {
        font-size: 30px;
        line-height: 39px;
        margin-bottom: 20px;
      }

      p {
        font-size: 18px;
        line-height: 21.6px;
        padding-right: 50px;
      }
    }
  }

  .spz_form {
    max-width: 600px;
    margin: auto;

    .form-div,
    .application-form-wrap-lp-spec {
      margin: 0 !important;
      width: 100%;
      border: 1px solid rgba(175, 146, 125, 0.20);

      .form-div-con,
      .pwf-form-cont-lp-spec {
        padding: 31px 29.5px 35px 30.5px;
      }
    }

    .form-div-header,
    .form-heading-lp-spec {
      padding: 19.5px 29.5px 18.5px;
      border-bottom: 1px solid rgba(175, 146, 125, 0.20);
      position: relative;
      z-index: 4;

      .hs_cos_wrapper_type_inline_text,
      .form-h6-lp-spec {
        color: #9C86BB;
        font-family: Inter;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
    }

    @include tablet() {
      max-width: 640px;
    }

    @include mobile() {
      padding: 0 1px;
      max-width: unset;

      .form-div-header,
      .form-heading-lp-spec {
        padding: 19.5px 19px 18.5px;
      }

      .form-div,
      .application-form-wrap-lp-spec {

        .form-div-con,
        .pwf-form-cont-lp-spec {
          padding: 21px 20px 30px;
        }
      }
    }
  }

  .steps {
    width: calc(100% + 1px);
    height: 3px;
    border-radius: 999px;
    background: rgba(229, 224, 221, 0.40);
    position: relative;
    overflow: hidden;
    margin-left: -1px;
  }

  .steps::before {
    content: "";
    background: #192526;
    width: 0;
    transition: width ease 0.3s;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
  }

  .testimonial_section {
    background: #192526;
    padding: 47px 0;

    .auto_container {
      max-width: 1160px;
    }

    * {
      --bs-gutter-x: 0;
    }

    @include tablet() {
      padding: 64px 0 59px;
    }

    @include mobile() {
      padding: 48px 0 47px;
    }
  }

  .testimonial_data {
    display: flex;

    @include tablet() {
      flex-wrap: wrap;
    }

    @include mobile() {
      flex-wrap: wrap;
    }
  }

  .data_left {
    width: 219.5px;
    padding-right: 60px;
    border-right: 1px solid rgba(251, 248, 247, 0.15);
    display: flex;
    align-items: center;

    figure {
      display: inline-block;
      margin-bottom: 0;
      margin-top: 0;

      img {
        display: block;
        width: 153px;
      }
    }

    @include tablet() {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid rgba(251, 248, 247, 0.15);
      padding-right: 0;
      padding-bottom: 31.5px;
      margin-bottom: 28.5px;
    }

    @include mobile() {
      width: 100%;
      border-right: 0;
      border-bottom: 1px solid rgba(251, 248, 247, 0.15);
      padding-right: 0;
      padding-bottom: 31.5px;
      margin-bottom: 27.5px;
    }
  }

  .data_right {
    padding-left: 63.5px;
    text-align: left;
    width: calc(100% - 219.5px);

    >span {
      display: inline-block;
      margin-bottom: 23px;
    }

    >p {
      color: #FBF8F7;
      font-family: var(--bs-body-font-family);
      font-size: 32px;
      font-weight: 500;
      line-height: 41.6px;
      padding-right: 45px;
      margin-bottom: 25.5px;
    }

    .author {
      display: inline-flex;
      align-items: center;
      margin-top: -6px;
      transform: translateY(5px);

      >img {
        width: 36px;
        border-radius: 99px;
        display: block;
        margin-right: 10px;
        transform: translateY(1px);
      }

      >span {
        color: #FBF8F7;
        font-family: var(--bs-body-font-family);
        font-size: 16px;
        font-weight: 400;
        line-height: 20.8px;

        strong {
          font-weight: 700;
        }
      }
    }

    @include tablet() {
      width: 100%;
      padding-left: 0;

      >span {
        margin-bottom: 19px;

        svg {
          width: 30px;
        }
      }

      >p {
        font-size: 28px;
        line-height: 36.4px;
        padding-right: 0;
        margin-bottom: 23.5px;
      }

      .author {
        margin-top: 0;
        transform: none;
      }
    }

    @include mobile() {
      width: 100%;
      padding-left: 0;

      >span {
        margin-bottom: 19px;

        svg {
          width: 28px;
        }
      }

      >p {
        font-size: 24px;
        line-height: 31.2px;
        padding-right: 10px;
        margin-bottom: 23.5px;
      }

      .author {
        margin-top: 0;
        transform: none;

        span {
          strong {
            display: block;
          }
        }
      }
    }
  }

  >section.carouselCon {
    display: none;
  }

  >.dynamic-lp {
    >.dynamic-lp-inner {
      height: auto;
    }
  }
}