$desktop-lg: 1760px;
$desktop: 1440px;
$desktop-sm: 1366px;
$tablet-lg: 1399.98px;
$tablet-pro: 1024px;
$tablet: 1023.98px;
$tablet-sm: 768px;
$mobile: 767.98px;

@mixin desktop-lg {
  @media (max-width: #{$desktop-lg}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop-sm {
  @media (max-width: #{$desktop-sm}) {
    @content;
  }
}

@mixin tablet-lg {
  @media (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet-pro {
  @media (min-width: #{$tablet-pro}) and (max-width: #{$tablet-lg}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-sm}) and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

html.spz_10003.is-clipped {
  overflow: auto !important;
}

.spz_10003 header,
.spz_10003 main,
.spz_10003 footer,
.spz_10003 #go-to-up {
  display: none;
}

.spz_10003 .v-modal-mask {
  display: none;
}

.spz_10003 .spz_10003-section {
  background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/2001/BG-jpg.jpg');
  background-size: cover;
  background-position: top center;
  background-color: #00299D;
  background-repeat: no-repeat;
}

.spz_10003 .spz_10003-section .wrapper {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 40px 20px 40px;
}

.spz_10003 .spz_10003-section .header {
  display: flex;
  align-items: center;
}

.spz_10003 .spz_10003-section .header .logo img {
  display: block;
  width: 178px;
  height: 40px;
}

.spz_10003 .spz_10003-section .header .language-button {
  width: 54px;
  height: 54px;
  border-radius: 4.5px;
  background: rgba(255, 255, 255, 0.22);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: relative;
  cursor: pointer;
  display: none;
}

.spz_10003 .spz_10003-section .header .language-button:hover {
  background: rgba(255, 255, 255, 0.31);
}

.spz_10003 .spz_10003-section .header .language-button ul {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f4fafe;
  padding: 8px;
  margin: 0;
  width: fit-content;
  display: none;
  border-radius: 4px;
  z-index: 10;
  cursor: default;
}

.spz_10003 .spz_10003-section .header .language-button:hover ul {
  display: block;
}

.spz_10003 .spz_10003-section .header .language-button ul a {
  color: #393939;
  font-size: 1.4rem;
  line-height: 1.5;
  border-bottom: 1px solid #c4c8cb;
}

.spz_10003 .spz_10003-section .header .language-button ul a:hover {
  color: #0090ff;
  border-bottom-color: #0090ff;
}

.spz_10003 .spz_10003-section .header .language-button ul .nav-link-active {
  color: #54585c;
  font-weight: 700;
  border-color: transparent;
  font-size: 1.4rem;
  line-height: 1.5;
}

.spz_10003 .spz_10003-section .form-section {
  display: flex;
  align-items: flex-start;
  margin-top: 64px;
}

.spz_10003 .spz_10003-section .form-section .left {
  width: 575px;
}

.spz_10003 .spz_10003-section .form-section .right .review {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 7px 11.5px 6px 10.5px;
  border-radius: 4px;
  background: linear-gradient(90deg, rgba(228, 228, 228, 0.00) 0%, rgba(228, 228, 228, 0.40) 57.5%, rgba(228, 228, 228, 0.00) 100%);
}

.spz_10003 .spz_10003-section .form-section .right .review>img:first-child {
  margin-right: 11px;
  transform: translateX(1px);
}


.spz_10003 .spz_10003-section .form-section .right .review .right-logo-text {
  display: flex;
  align-items: center;
  transform: translateY(-0.5px);
  margin-left: 11px;

  @include mobile() {
    margin-left: 0;
  }
}

.spz_10003 .spz_10003-section .form-section .right .review .right-logo-text img {
  margin-right: 8px;
}

.spz_10003 .spz_10003-section .form-section .right .review .text {
  color: #000;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  display: flex;
  align-items: center;

  &.mobile {
    display: none;
  }

  @include mobile() {
    &.desktop {
      display: none;
    }

    &.mobile {
      display: block;
      width: 100%;
      padding-left: 3px;

      span+span {
        margin-left: 0;
      }
    }
  }
}

.spz_10003 .spz_10003-section .form-section .right .review .text span+span {
  margin-left: 4px;
  font-weight: 400;
  color: #354556;
  line-height: 20.914px;
}

.spz_10003 .spz_10003-section .form-section .right .review sup {
  color: #354556;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  top: -6.5px;
  left: 0.5px;
  position: relative;

  @include mobile() {
    left: -2.5px;
  }
}

.spz_10003 .spz_10003-section .form-section .left .title {
  color: #FFF;
  margin-top: 16px;
  margin-bottom: 40.5px;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}

.spz_10003 .spz_10003-section .form-section .left .list div {
  color: #FFF;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-left: 36px;
  position: relative;
  background-image: url('https://res.cloudinary.com/spiralyze/image/upload/v1726489366/netwrix/2001/frame_1171276132.svg');
  background-repeat: no-repeat;
  background-position: -0.5px 0px;
  margin-top: 32px;

  @include mobile() {
    margin-top: 24px;
  }
}

.spz_10003 .spz_10003-section .form-section .left .list div:first-child {
  margin-top: 0;
}

.spz_10003 .spz_10003-section .form-section .left .list div strong {
  font-weight: 700;
}

.spz_10003 .spz_10003-section .form-section .right {
  width: calc(100% - (575px + 48px + 6px));
  margin-left: 54px;
  margin-top: 6.5px;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm {
  width: 100%;
  padding: 40.5px 40px 31.5px;
  border-radius: 8px;
  box-shadow: none;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .load-wrapper {
  padding: 40px 40px 40px;
  border-radius: 8px;
  background: white;
  width: 100%;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: 80px auto;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .close {
  display: none;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .form-title {
  color: #000;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 16.5px;

  @include mobile() {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
  }
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm form>div:not(.modelFormError) {
  position: relative;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 {
  width: calc((100% - 16px) / 2);
  float: left;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm form div.width50:has(#ModalForm_nwf_lastName),
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm form div.width50:has(#ModalForm_nwf_phone) {
  margin-left: 16px;

  @include mobile() {
    margin-left: 0;
  }
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select {
  border-radius: 8px;
  border: 1px solid #E4E4E4;
  height: 52px;
  color: #354556;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  outline: 0;
  padding: 0 15px;
  margin-bottom: 16px;
  appearance: none;
  -webkit-appearance: none;
  background: white;
  box-shadow: none;
  outline: none;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @include mobile() {
    margin-top: 0;
  }
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:-webkit-autofill,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:-webkit-autofill:hover,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:-webkit-autofill:focus,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select:-webkit-autofill,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select:-webkit-autofill:hover,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(126, 126, 126, 0) inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-text-fill-color: #354556 !important;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select {
  color: transparent;
  padding-right: 38px;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select option {
  color: #354556;
  font-family: Open Sans, Arial, Helvetica, sans-serif;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue select {
  color: #354556;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue input,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue select {
  border: 1px solid #66BCFF;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:focus,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select:focus {
  border: 1px solid #0090FF;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.error input,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.error select {
  border: 1px solid #DF0000;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 .arrow {
  position: absolute;
  pointer-events: none;
  top: 17px;
  right: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M8.46739 12.5326C8.60792 12.6723 8.79801 12.7507 8.99614 12.7507C9.19428 12.7507 9.38437 12.6723 9.52489 12.5326L15.5249 6.53264C15.6478 6.38916 15.712 6.20461 15.7047 6.01585C15.6974 5.82709 15.6191 5.64804 15.4856 5.51447C15.352 5.3809 15.1729 5.30265 14.9842 5.29536C14.7954 5.28806 14.6109 5.35227 14.4674 5.47514L8.99989 10.9426L3.53239 5.46764C3.39117 5.32641 3.19962 5.24707 2.99989 5.24707C2.80017 5.24707 2.60862 5.32641 2.46739 5.46764C2.32617 5.60887 2.24683 5.80041 2.24683 6.00014C2.24683 6.19987 2.32617 6.39141 2.46739 6.53264L8.46739 12.5326Z' fill='%2354585C'/%3E%3C/svg%3E");
  width: 18px;
  height: 18px;
}

/* label */
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 label {
  color: #54585C;
  font-family: Open Sans;
  font-size: 16px;
  padding: 2px;
  background: white;
  font-weight: 400;
  line-height: 24px;
  position: absolute;
  top: 12px;
  left: 14px;
  transition-property: font-size, top, left;
  transition-duration: 0.3s;
  pointer-events: none;

  @include mobile() {
    margin-bottom: 0;
  }
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:focus~label,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 select:focus~label,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue input~label,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue select~label {
  color: #354556;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  top: -11.5px;
  left: 15.5px;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.error input:focus~label,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.error select:focus~label,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue.error input~label,
.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50.hasValue.error select~label {
  color: #DF0000;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input::-webkit-input-placeholder {
  color: transparent;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:-moz-placeholder {
  color: transparent;
  opacity: 0;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input:-ms-input-placeholder {
  color: transparent;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 input::-moz-placeholder {
  color: transparent;
  opacity: 0;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .modelFormError {
  color: #DF0000;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  background: white;
  width: fit-content;
  margin: -12px auto 24px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M2.67463 13.9453H13.3265C13.4995 13.9453 13.6695 13.9004 13.82 13.815C13.9704 13.7296 14.0962 13.6066 14.1849 13.458C14.2736 13.3095 14.3222 13.1405 14.3261 12.9675C14.3299 12.7946 14.2888 12.6236 14.2068 12.4712L8.88119 2.58062C8.50338 1.87937 7.49775 1.87937 7.11994 2.58062L1.79431 12.4712C1.7123 12.6236 1.67121 12.7946 1.67505 12.9675C1.6789 13.1405 1.72755 13.3095 1.81625 13.458C1.90496 13.6066 2.03068 13.7296 2.18113 13.815C2.33158 13.9004 2.50162 13.9453 2.67463 13.9453Z' stroke='%23DF0000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.82043 6.10587L7.99981 9.91837L8.17887 6.10743C8.17998 6.08307 8.1761 6.05874 8.16749 6.03592C8.15887 6.01311 8.14569 5.99229 8.12876 5.97474C8.11182 5.95719 8.09149 5.94328 8.06899 5.93385C8.0465 5.92443 8.02232 5.91969 7.99793 5.91993C7.97397 5.92016 7.9503 5.9252 7.92832 5.93473C7.90634 5.94426 7.88649 5.95811 7.86994 5.97544C7.8534 5.99277 7.84049 6.01324 7.83199 6.03564C7.82348 6.05804 7.81956 6.08192 7.82043 6.10587Z' stroke='%23DF0000' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 12.4141C7.87639 12.4141 7.75555 12.3774 7.65277 12.3087C7.54999 12.2401 7.46988 12.1424 7.42258 12.0282C7.37527 11.914 7.36289 11.7884 7.38701 11.6671C7.41113 11.5459 7.47065 11.4345 7.55806 11.3471C7.64547 11.2597 7.75683 11.2002 7.87807 11.1761C7.99931 11.152 8.12497 11.1643 8.23918 11.2116C8.35338 11.2589 8.45099 11.339 8.51967 11.4418C8.58834 11.5446 8.625 11.6654 8.625 11.7891C8.625 11.9548 8.55915 12.1138 8.44194 12.231C8.32473 12.3482 8.16576 12.4141 8 12.4141Z' fill='%23DF0000'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0 23.5px;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .btn {
  margin-top: 12px;
  float: left;
  color: #FFF;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 4px;
  background: #D22730;
  height: 54px;
  outline: 0;
  appearance: none;
  -webkit-appearance: none;

  @include mobile() {
    margin-top: 8px;
  }
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .btn:hover {
  background: #E63B44;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .btn:active {
  background: #BE131C;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .securityInfo {
  color: #54585C;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  float: left;
  display: block;
  text-align: center;
  width: 100%;
  margin-top: 16.5px;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .securityInfo a {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip-ink: none;
  border: none;
  color: #0090FF;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .securityInfo a:hover {
  color: #66BCFF;
}

.spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm::after {
  content: "";
  display: block;
  clear: both;
}

.spz_10003 .spz_10003-section .trusted {
  margin-top: 71px;

  @include tablet() {
    margin-top: 48.5px;
  }
}

.spz_10003 .spz_10003-section .trusted .title {
  color: #FFF;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;

  @include mobile() {
    font-size: 16px;
    line-height: 24px;
  }
}

.spz_10003 .spz_10003-section .trusted .logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19.5px;
  img{
    object-fit: contain;
    &[alt="Geneva Foundation Logo"]{
      @include tablet-pro(){
        max-width: 111px;
      }
      @include tablet(){
        max-width: 111px;
      }
      @include mobile(){
        max-width: 111px;
      }
    }
  }
}

.new_footerOuter {
  padding-top: 38px;
  padding-bottom: 24px;

  @include tablet() {
    padding-bottom: 22px;
  }

  @include mobile() {
    padding-top: 41px;
    padding-bottom: 23px;

    .auto_container {
      padding: 0 16px !important;
    }
  }
}

.spz_10003 .new-footer {
  position: relative;
  display: flex;
  align-items: center;
}

.spz_10003 .new-footer::before {
  background: rgba(255, 255, 255, 0.16);
  content: "";
  height: 1px;
  width: 100%;
  left: 0;
  top: 0px;
  position: absolute;
}

.spz_10003 .new-footer .copyright {
  color: rgba($color: #54585C, $alpha: 0.7);
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;

  @include mobile() {
    margin-bottom: 16px !important;
  }
}

.spz_10003 .new-footer .links {
  margin-left: auto;
  padding-right: 1px;
}

.spz_10003 .new-footer .links a {
  color: #54585C;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-left: 29px;
}

.spz_10003 .new-footer .links a:nth-child(2) {
  margin-left: 32px;

  @include mobile() {
    margin-left: 0;
  }
}

.spz_10003 .new-footer .links a:first-child {
  margin-left: 0;
}

.spz_10003 .new-footer .links a:hover {
  color: #0090FF;
}

.spz_10003 .footer-note {
  color: #54585C;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 16px;
}

@media (max-width: 1259.98px) {
  .spz_10003 .spz_10003-section .wrapper {
    padding: 40px 64px 41.5px 64px;
  }

  .spz_10003 .spz_10003-section .form-section {
    flex-direction: column;
    margin-top: 48px;
  }

  .spz_10003 .spz_10003-section .form-section .left {
    width: 100%;
  }

  .spz_10003 .spz_10003-section .form-section .left .title {
    margin-bottom: 40.5px;
  }

  .spz_10003 .spz_10003-section .form-section .right {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47.5px;
  }

  .spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm {
    padding-bottom: 32.5px;
  }

  .spz_10003 .spz_10003-section .trusted .logo-section img {
    height: 49px;
    width: auto;
  }

  .spz_10003 .spz_10003-section .trusted .logo-section {
    margin-top: 19px;
  }

  .spz_10003 .new-footer {
    // margin-top: 79px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    // padding-top: 16.5px;
    width: calc(100% + 5px);
  }

  .spz_10003 .new-footer .links {
    margin-left: 0;
    padding-right: 0;
  }

  .spz_10003 .new-footer .copyright {
    margin-bottom: 15px;
  }

  .spz_10003 .footer-note {
    text-align: left;
    // transform: translateX(3px);
  }
}

@media (max-width: 991.98px) {
  .spz_10003 .spz_10003-section {
    background-size: 1440px;
    background-position: top right;
  }
}

@media (max-width: 767.98px) {
  .spz_10003 .spz_10003-section .form-section .right {
    max-width: 100%;
    margin-top: 39.5px;
  }

  .spz_10003 .spz_10003-section .wrapper {
    padding: 40px 16px 38.5px 16px;
  }

  // .spz_10003 .spz_10003-section .header .logo img {
  //   width: 153px;
  //   height: 34px;
  // }

  .spz_10003 .spz_10003-section .form-section {
    margin-top: 40px;
  }

  .spz_10003 .spz_10003-section .form-section .left .title {
    font-size: 32px;
    line-height: 40px;
    margin-top: 16.5px;
    margin-bottom: 32px;
  }

  .spz_10003 .spz_10003-section .form-section .right .review>img:first-child {
    margin-right: 15px;
  }

  .spz_10003 .spz_10003-section .form-section .right .review {
    width: 269px;
    flex-wrap: wrap;
    padding: 7px 11.5px 7px 11px;
    justify-content: center;
    align-items: center;

    >img {
      margin-right: 7px;
      margin-top: 7px;
    }
  }

  .spz_10003 .spz_10003-section .form-section .right .review .right-logo-text {
    flex-wrap: wrap;
    width: 110px;
    transform: none;
  }

  .spz_10003 .spz_10003-section .form-section .right .review .text {
    transform: translateX(0.5px);
  }

  .spz_10003 .spz_10003-section .form-section .right .review .right-logo-text img {
    margin-bottom: -6px;
    margin-right: 0;
    margin-left: 2.5px;
    margin-top: -0.5px;
  }

  .spz_10003 .spz_10003-section .form-section .right .review .right-logo-text .text span+span {
    white-space: nowrap;
  }

  .spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm {
    padding: 24px 24px 23.5px;
    min-width: 0;
    max-width: 100%;
  }

  .spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 {
    width: 100%;
  }

  .spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .width50 {
    margin-left: 0;
  }

  .spz_10003 .spz_10003-section .form-section .right .form-wrapper .wrapDialogForm .securityInfo {
    margin-top: 16.5px;
  }

  .spz_10003 .spz_10003-section .trusted {
    margin-top: 40.5px;
  }

  .spz_10003 .spz_10003-section .trusted .logo-section {
    flex-wrap: wrap;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 40px;
    gap: 8px 22px;
    justify-content: center;
    margin-top: 18px;
  }

  .spz_10003 .new-footer {
    width: 100%;
  }

  .spz_10003 .new-footer .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    max-width: 230px;
    gap: 8px 47px;
  }

  .spz_10003 .new-footer .links a {
    margin-left: 0;
  }

  .spz_10003 .new-footer .links a:first-child {
    margin-top: 0;
    // text-indent: -4px;
  }

  .spz_10003 .new-footer .links a:last-child {
    transform: translateX(44.5px);
  }

  .new-footer .links a:nth-child(2) {
    margin-top: 0;
  }

  .spz_10003 .header .language-button ul {
    transform: none;
    right: 0;
    left: auto;
  }

  .spz_10003 .footer-note {
    transform: none;
  }
}

.spz_10003 {
  .thunderbolt-wrap {
    display: none;
  }

  .form-wrapper {
    .headLine {
      display: none;
    }

    .wrapForm {
      padding: 0;

      form {
        margin-bottom: 29px;

        @include mobile() {
          width: 100%;
          margin-bottom: 24px;
        }
      }
    }
  }

  .spz_10003-section {
    .form-section {
      .left {
        h3 {
          color: #FFF;
          font-family: "Open Sans";
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 1px;
          text-transform: uppercase;
          margin: 0 0 16px;

          @include mobile() {
            font-size: 14px;
          }
        }
      }
    }
  }

  .form_btnTwo {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;

    &.show {
      display: flex !important;

      &+input.btn_filled_red {
        display: none;
      }
    }
  }

  .performance {
    background: #F0F1F9;
    padding: 80px 0;

    @include tablet() {
      padding: 63.5px 0;
    }

    @include mobile() {
      padding: 64px 0;

      .auto_container {
        padding: 0 16px;
      }
    }
  }

  .auto_container {
    padding: 0 20px;
    max-width: 1280px;
    margin: auto;

    @include tablet() {
      padding: 0 64px;
    }

    @include mobile() {
      padding: 0 18px;
    }
  }

  .performance_list {
    ul {
      margin: 0 -16px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
      list-style: none;

      li {
        width: 33.33%;
        padding: 0 16px;
      }

      @include tablet() {
        margin: 0;

        li {
          width: 100%;
          padding: 0;

          &:not(:last-child) {
            padding-bottom: 32px;
          }
        }
      }

      @include mobile() {
        margin: 0;

        li {
          width: 100%;
          padding: 0;

          &:not(:last-child) {
            padding-bottom: 31.5px;
          }

          &:nth-child(2) {
            .performance_data {
              p {
                margin-bottom: 25px;
              }
            }
          }

          &:last-child {
            .performance_data {
              p {
                margin-bottom: 24px;
              }
            }
          }
        }
      }
    }
  }

  .performance_data {
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    box-shadow: 0px 16px 56px 0px rgba(0, 0, 0, 0.04);
    padding: 17px 23px 24px;
    height: 100%;

    @include tablet-pro() {
      padding: 17px 15px 24px;
    }

    strong {
      display: flex;
      align-items: center;
      color: #0090FF;
      font-family: Roboto;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      margin-bottom: 18px;

      span {
        margin-left: 12px;
        color: #354556;
        font-family: "Open Sans";
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }

    p {
      color: #354556;
      font-family: "Open Sans";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 24px;

      @include tablet-pro() {
        min-height: 97px;
      }

      @include mobile() {
        margin-bottom: 13px;
      }
    }

    small {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include mobile() {
        gap: 20px;
        align-items: flex-end;
      }

      span {
        display: inline-block;
        margin-top: 4.5px;

        strong {
          display: block;
          color: #354556;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 600;
          line-height: 22px;
          margin-bottom: 0;
        }

        i {
          display: block;
          font-style: normal;
          color: #54585C;
          font-family: "Open Sans";
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
          margin-top: -2px;
        }
      }
    }
  }
}

/* Accordion Styling Starts Here */
/* Feature */
.spz_10003 .accrodion-section {
  padding: 83px 0 79.5px;
  overflow: hidden;
}

.spz_10003 .accrodion-section .container {
  max-width: 1316px;
  width: 100%;
  margin: 0 auto;
  padding: 0 38px;

  @include tablet() {
    padding: 0 64px;
  }
}

.spz_10003 .accrodion-section .content-wrap {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.spz_10003 .accrodion-section .solution-accordion .content-wrap .content-part {
  margin-top: -4px;
}

.spz_10003 .accrodion-section h2 {
  color: #354556;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  margin: 0 auto 52.5px;
}

.spz_10003 .accrodion-section .content-part {
  max-width: 480px;
  width: 100%;
}

.spz_10003 .accrodion-section .content-part .accordion {
  padding: 24px 0 23px;
  cursor: pointer;
  border-bottom: 1px solid #CACACA;

  &:first-child {
    padding-top: 0;
  }

  &:hover {
    .accor-title {
      h4 {
        color: #0090FF;
      }

      svg {
        fill: #0090FF;

        path {
          fill: #0090FF;
        }
      }
    }
  }
}

.spz_10003 .accrodion-section .content-part .accordion:last-child {
  margin-bottom: 0;
}

.spz_10003 .accrodion-section .content-part .accordion .accor-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  @include tablet-pro() {
    gap: 10px;
  }
}

.spz_10003 .accrodion-section .content-part .accordion img {
  margin: 0 auto;
  width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}

/* .spz_10003 .accrodion-section .content-part .accordion:last-child{
  border-bottom: 1px solid #DCDCDC;
} */
.spz_10003 .accrodion-section .content-part .accordion.active .accor-title {
  border-top: 0;
}

.spz_10003 .accrodion-section .content-part .accordion .accor-title h4 {
  color: #354556;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  transition: all 0.2s ease;
}

.spz_10003 .accrodion-section .content-part .accordion .accor-title svg {
  min-width: 18px;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.spz_10003 .accrodion-section .content-part .accordion.active .accor-title svg {
  transform: rotate(181deg);
}

.spz_10003 .accrodion-section .content-part .accordion .accor-paratexts {
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.spz_10003 .accrodion-section .content-part .accordion.active .accor-paratexts {
  height: auto;
  transition: all .5s ease-in-out;
  margin-top: 16px;
}

.spz_10003 .accrodion-section .accordion_images .image-container .img-wrap:not(.accor-paratexts .img-wrap) {
  position: absolute;
  right: -157px;
  max-width: 730px;
}

.spz_10003 .accrodion-section .content-part .accordion .img-wrap {
  display: none;
}

.spz_10003 .accrodion-section .content-part .accordion .accor-paratexts p {
  font-family: Open sans, Droid Sans, Helvetica Neue, HelveticaNeue, Segoe UI, Helvetica, Arial, sans-serif;
  color: #54585C;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: 0;
}

.spz_10003 .accrodion-section .content-part .accordion .accor-paratexts p+p {
  margin-top: 15.5px;
}

.spz_10003 .accrodion-section .content-part .accordion .accor-paratexts p:nth-child(1) {
  margin-bottom: 8px;
}

/* .spz_10003 .accrodion-section .content-part .accordion:nth-child(1) .accor-paratexts p,
.spz_10003 .accrodion-section .content-part .accordion .accor-paratexts p:nth-child(2){
  margin-bottom: 19px; 
} */
.spz_10003 .accrodion-section .content-part .accordion .ctaWrapper {
  display: flex;
  margin-top: 24px;
}

.custom_btn {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 4px;
  background: #D22730;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 146px;
  width: 100%;
  height: 40px;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;

  &:hover {
    background: #E63B44;
    color: #fff;
  }

  &:active {
    background: #BE131C;
    color: #fff;
    outline: none;
    box-shadow: none;
  }

  &:focus {
    color: #fff;
    background: #D22730;
  }
}

.spz_10003 .accrodion-section .content-part .accordion a {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  border-radius: 4px;
  background: #D22730;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 146px;
  width: 100%;
  height: 40px;
  transition: all ease 0.7s;
  -webkit-transition: all ease 0.7s;
  -moz-transition: all ease 0.7s;
  -ms-transition: all ease 0.7s;
  -o-transition: all ease 0.7s;
}

.spz_10003 .accrodion-section .content-part .accordion a:hover {
  background: #E63B44;
}

.spz_10003 .accrodion-section .content-part .accordion a:active {
  background: #BE131C;
}

.spz_10003 .accrodion-section .content-part .accordion a:focus {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.spz_10003 .accrodion-section .slide-part {
  width: 100%;
  margin-left: 32px;
  height: auto;

  @include tablet-pro() {
    max-width: 50%;
  }
}

.spz_10003 .accordion_images {
  height: 100%;
}

.spz_10003 .accrodion-section .solution-accordion .slide-part {
  margin-left: 0;
  margin-right: 20px;
}

.spz_10003 .accrodion-section .accrodion-section .accordion_images {
  max-width: 730px;
  width: 100%;
}

.spz_10003 .accrodion-section .accordion_images .image-container {
  display: none;
  height: 100%;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: linear-gradient(270deg, #FFF 9%, rgba(255, 255, 255, 0.00) 100%);
  }
}

.spz_10003 .accrodion-section .accordion_images .image-container.active {
  display: flex;
  align-items: center;
  animation: fadeIn 0.5s linear;
  width: 864px;
  margin-right: -136px;
  transform: translateX(20px);

  @include tablet-pro() {
    transform: none;
  }

  @include tablet() {
    width: 768px;
    margin-right: 0;
    transform: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

.spz_10003 .accrodion-section .accordion_images .image-container img {
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
}

@media(max-width:1023.98px) {
  .spz_10003 .accrodion-section {
    padding: 80px 0px;
  }

  .spz_10003 .accrodion-section h2 {
    margin: 0 auto 48px;
    font-size: 32px;
    line-height: 40px;
  }

  .spz_10003 .accrodion-section .content-part {
    max-width: 100%;
  }

  .spz_10003 .accrodion-section .slide-part {
    display: none;
  }

  .spz_10003 .accrodion-section .solution-accordion .content-wrap,
  .spz_10003 .accrodion-section .content-wrap {
    justify-content: center;
  }

  .spz_10003 .accrodion-section .content-wrap {
    flex-wrap: wrap;
  }

  .spz_10003 .accrodion-section .content-part .accordion.active .img-wrap {
    display: block;
    margin: 24px 0 0;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 320px;
      height: 100%;
      background: linear-gradient(270deg, #FFF 9%, rgba(255, 255, 255, 0.00) 100%);
    }
  }

  .spz_10003 .accrodion-section .content-part .accordion .accor-paratexts .img-wrap img {
    width: 100%;
    margin: 0 auto;
    image-rendering: -webkit-optimize-contrast;
  }

  .spz_10003 .accrodion-section .content-part .accordion a {
    margin-bottom: 0px;
  }

  // .spz_10003 .accrodion-section .content-part .accordion.active .accor-paratexts {
  //   margin-bottom: 16px;
  // }

  .spz_10003 .accrodion-section .content-part .accordion:first-child.active {
    border-top: none;
  }

  .spz_10003 .accrodion-section .content-part .accordion {
    padding: 24px 0 23px 0;
  }

  // .spz_10003 .accrodion-section .content-part .accordion .accor-title {
  //   padding-right: 20px;
  // }

  .spz_10003 .accrodion-section .content-part .accordion .accor-paratexts {
    padding-right: 20px;
  }
}

@media(max-width:767px) {
  .spz_10003 .accrodion-section {
    padding: 64px 0;
  }

  .spz_10003 .accrodion-section .container {
    padding: 0 16px;
  }

  .spz_10003 .accrodion-section h2 {
    padding: 0;
    margin: 0 0 31.5px;
  }

  .spz_10003 .accrodion-section .content-part .accordion {
    padding: 18.5px 0 18px 0;
  }

  .spz_10003 .accrodion-section .content-part .accordion .accor-title h4 {
    font-size: 18px;
  }

  .spz_10003 .accrodion-section .content-part .accordion a {
    margin-bottom: 16px;
  }

  .spz_10003 .accrodion-section .content-part .accordion.active .img-wrap {
    margin: 23px 0 0;
  }

  .spz_10003 .accrodion-section .content-part .accordion .accor-paratexts p {
    font-size: 16px;
    line-height: 24px;
  }

  .spz_10003 .accrodion-section .content-part .accordion .accor-paratexts,
  .spz_10003 .accrodion-section .content-part .accordion .accor-title {
    padding-right: 0;
  }

  .spz_10003 .accrodion-section .content-part .accordion .accor-title {
    gap: 20px;
  }

  // .spz_10003 .accrodion-section .content-part .accordion a {
  //   margin-bottom: 0;
  //   max-width: unset;
  //   height: 54px;
  //   font-size: 16px;
  //   line-height: 24px;
  // }

  .spz_10003 .accrodion-section .content-part .accordion .ctaWrapper {
    flex-direction: column;
  }
}

/* Accordion Styling Ends Here */

.spz_10003 {
  .brodcast_section {
    padding: 80px 0;
    background-image: url('https://res.cloudinary.com/spiralyze/image/upload/f_auto/netwrix/10003/background__4.webp') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include mobile() {
      padding: 65px 0 64px;
    }
  }

  .broadcast_inner {
    padding: 0 20px;
    max-width: 1280px;
    margin: auto;

    @include tablet() {
      padding: 0;
    }

    @include mobile() {
      padding: 0;
    }
  }

  .broad_detail {
    padding-bottom: 64px;
    max-width: 570px;
    margin: auto;
    padding: 0 0 64px;

    @include mobile() {
      padding: 0 20px 34px;
    }

    h2 {
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 48px;
      font-weight: 500;
      line-height: 56px;
      margin-top: 0;
      margin-bottom: 16px;

      @include mobile {
        font-size: 32px;
        line-height: 40px;
      }
    }

    p {
      color: #FFF;
      text-align: center;
      font-family: Roboto;
      font-size: 24px;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 32px;

      @include mobile {
        font-size: 18px;
        line-height: 26px;
        font-family: "Open Sans";
        margin-bottom: 31px;
      }
    }

    .custom_btn {
      margin: auto;
      max-width: 176px;
      height: 54px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .case_studySection {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 64px;
      height: 100%;
      background: linear-gradient(270deg, rgba(33, 56, 188, 0.00) 0%, #2138BC 100%);
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      width: 64px;
      height: 100%;
      transform: rotate(180deg);
      background: linear-gradient(270deg, rgba(34, 78, 226, 0.00) 0%, #224EE2 100%);
    }

    .splide__list {
      li {
        padding: 0 6px;
      }
    }
  }

  .slider_main {
    display: flex;
    margin: 0 -6px;

    @include mobile() {
      margin: 0 -3px;
    }
  }

  .slider_data {
    margin: 0 6px;
    border-radius: 5.627px;
    border: 1px solid #E4E4E4;
    background: rgba(255, 255, 255, 0.24);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    padding: 10px;

    figure {
      display: inline-block;

      img {
        display: inline-block;
        width: auto;
        max-width: 100%;
      }
    }

    @include mobile {
      width: 70px;
      height: 70px;
      border-radius: 2.813px;
      border: 0.5px solid #E4E4E4;
      background: rgba(255, 255, 255, 0.24);
      margin: 0 3px;

      figure {
        img {
          max-width: 36px;
        }
      }

      &:nth-child(6) {
        figure {
          img {
            max-width: 44px;
          }
        }
      }

      &:nth-child(6) {
        figure {
          img {
            max-width: 47px;
          }
        }
      }

      &:nth-child(7) {
        figure {
          img {
            max-width: 40px;
          }
        }
      }
    }
  }

  .form-horizontal {
    &.er_1 {
      .modelFormError:not(.error-message) {
        font-size: 0 !important;

        &::after {
          content: 'Work Email cannot be blank.';
          font-size: 12px;
          display: inline-block;
          transform: translateY(3px);
        }
      }
    }

    &.er_2 {
      .modelFormError:not(.error-message) {
        font-size: 0 !important;

        &::after {
          content: 'Enter your work e-mail.';
          font-size: 12px;
          display: inline-block;
          transform: translateY(3px);
        }
      }
    }

    .modelFormError.error-message {
      &+.modelFormError {
        display: none !important;
      }
    }

    &:has(.modelFormError.error-message) {
      .email_valid {
        #ModalForm_nwf_email {
          transition: all 1s ease;
          border: 1px solid #66BCFF !important;

          &+label {
            transition: all 1s ease;
            color: #354556 !important;
          }
        }
      }
    }

  }

}

// testimonial css starts

.spz_10003 .spz-review-ribbon {
  background-color: #fff;
  padding: 80px 0 112px;
  overflow: hidden;
}

.spz_10003 .spz-review-ribbon .review-container {
  max-width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.spz_10003 .spz-review-ribbon .review-left {
  max-width: 154px;
  width: 100%;
}

.spz_10003 .spz-review-ribbon .review-right {
  max-width: calc(100% - 185px);
  width: 100%;
}

.spz_10003 .splide__arrow {
  top: inherit;
  bottom: -60px;
  border-radius: 5px;
  background: #F3F4FA;
  width: 40px;
  height: 40px;
  bottom: -91px;
  opacity: 1;
}

.spz_10003 .spz-review-ribbon .splide__arrow,
.spz_10003 .spz-review-ribbon .splide__arrow svg {
  width: 40px;
  height: 40px;
  fill: #354456;
}

.spz_10003 .spz-review-ribbon .splide__arrow svg {
  pointer-events: none;
}

.spz_10003 .spz-review-ribbon .splide__arrow:hover {
  background: #E4E4E4;
}

.spz_10003 .spz-review-ribbon .splide__arrow:hover svg {
  fill: #54585C;
}

.spz_10003 .spz-review-ribbon .splide__arrow:active {
  background: #B0B0B0;
}

.spz_10003 .spz-review-ribbon .splide__arrow:active svg {
  fill: #354556;
}

.spz_10003 .spz-review-ribbon .splide__arrow.splide__arrow--prev svg {
  margin-right: -27px;
  margin-top: 60px;
  transform: inherit;
}

.spz_10003 .spz-review-ribbon .splide__arrow.splide__arrow--next {
  left: inherit;
  right: 0;
  margin-top: 23px;
}

.spz_10003 .spz-review-ribbon .splide__arrow.splide__arrow--prev {
  margin-top: 23px;
  left: inherit;
  right: 71px;
}

.spz_10003 .spz-review-ribbon .splide__arrow.splide__arrow--next svg {
  margin-left: -27px;
  margin-top: 20px;
  transform: scaleX(-1);
}

.spz_10003 .spz-review-ribbon .review-left img[alt="Stars rating"] {
  margin-top: 12px;
  margin-bottom: 8px;
}

.spz_10003 .spz-review-ribbon .reviews-count {
  color: #354556;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
}

.spz_10003 .spz-review-ribbon .reviews-count span {
  font-weight: 400;
}

.spz_10003 .review-content {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: rgba(243, 244, 250, 0.52);
  padding: 24px 20px 24px 20.5px;
  height: 100%;

  @include tablet() {
    padding: 24.5px 20px 24px 20px;
  }
}

.spz_10003 .review-content .review-copy {
  flex: 1 0 auto;
  color: #354556;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0 22.5px;
  max-height: 96px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.spz_10003 .review-content .review-author {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.spz_10003 .review-content .review-author a {
  text-align: right;
  color: #0090FF;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  outline: 15px;
  text-decoration: underline;
  text-underline-offset: 4px;
  white-space: nowrap;
  transition: all 0.3s ease;

  &:hover {
    color: #66BCFF;
  }
}

.spz_10003 .review-content .review-author .author-pic {
  color: #354556;
  font-family: "Open Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  margin-bottom: 2px;
  display: none;
}

.spz_10003 .review-content .review-author .author-name {
  color: #54585C;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 150px;
}

.spz_10003 .splide__pagination {
  display: flex !important;
  justify-content: flex-start;
  width: 100%;
  bottom: -57px;
  left: -13px;
  gap: 17px;
}

.spz_10003 .splide__pagination__page {
  border-radius: 24px;
  background: rgba(53, 69, 86, 0.20);
  width: 24px;
  height: 8px;
  margin: 0;
  outline: inherit !important;
  outline-offset: inherit !important;
}

.spz_10003 .splide__pagination__page.is-active {
  border-radius: 24px;
  background: #354556;
  width: 46px;
  transform: inherit;
  margin: 0;
  opacity: 1;
}

.spz_10003 .spz-review-ribbon .review-left .reviewRating {
  img {
    width: 108px;
    height: 20px;
    display: block;
  }
}

@media (min-width: 1260px) and (max-width: 1439.98px) {
  .spz_10003 .spz-review-ribbon .review-container {
    max-width: 1346px;
    padding: 0 40px 0 93px;
  }
}

@media (max-width: 1259.98px) {
  .spz_10003 .spz-review-ribbon .review-container {
    padding: 0 40px;
  }
}

@media (max-width: 991.98px) {
  .spz_10003 .spz-review-ribbon {
    padding: 64px 0px 142px;
  }

  .spz_10003 .spz-review-ribbon .review-container {
    flex-direction: column;
    gap: 40px;
  }

  .spz_10003 .spz-review-ribbon .review-right {
    max-width: 100%;
  }

  .spz_10003 .spz-review-ribbon .review-left {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spz_10003 .spz-review-ribbon .review-left img[alt="Gartner Logo"] {
    max-width: 105px;
  }

  .spz_10003 .spz-review-ribbon .review-left img[alt="Stars rating"] {
    height: 20px;
    margin: 1px 8.5px 0 0px;
  }

  .spz_10003 .spz-review-ribbon .review-left span.line {
    background: #E4E4E4;
    width: 1px;
    height: 24px;
    margin: 0 12px 0;
  }

  .spz_10003 .spz-review-ribbon .review-left .reviewRating {
    display: flex;
  }

  .spz_10003 .splide__arrow {
    bottom: -99px;
  }

  .spz_10003 .spz-review-ribbon .splide__arrow.splide__arrow--prev {
    left: 0;
    right: inherit;
  }

  .spz_10003 .splide__pagination {
    justify-content: center;
    bottom: -65px;
    left: 0;
    gap: 12px;
  }

  .spz_10003 .spz-review-ribbon .splide__arrow.splide__arrow--next {
    right: 0px;
  }
}

@media (max-width: 767.98px) {
  .spz_10003 .spz-review-ribbon {
    padding: 64px 0px 111px;
  }

  .spz_10003 .spz-review-ribbon .review-container {
    gap: 40px;
    padding: 0 15px;
  }

  .spz_10003 .spz-review-ribbon .review-left span.line {
    height: 36px;
    margin: 0 16px;
  }

  .spz_10003 .spz-review-ribbon .review-left img[alt="Stars rating"] {
    max-width: 108px;
    margin: 0px 0 4px 0px;
  }

  .spz_10003 .spz-review-ribbon .review-left .reviewRating {
    flex-direction: column;
  }

  .spz_10003 .splide__pagination__page {
    width: 16px;
  }

  .spz_10003 .splide__pagination__page.is-active {
    width: 32px;
  }

  .spz_10003 .splide__pagination {
    gap: 8px;
  }
}