.spz_14002 .value_props {
  width: 100%;
  padding: 0 32px 32px;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .value_props {
    background-color: #fff;
    padding: 0 0 32px;
    width: auto;
  }
}
@media (max-width: 767px) {
  .spz_14002 .value_props {
    background-color: #fff;
    padding: 0 0 24px;
    width: auto;
  }
}
.spz_14002 .value_props ul {
  width: 100%;
  display: flex;
}
.spz_14002 .value_props ul li {
  width: 33.33%;
  position: relative;
}
.spz_14002 .value_props ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 48%;
  top: 25%;
  width: 100%;
  height: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='290' height='2' viewBox='0 0 290 2' fill='none'%3E %3Cpath d='M0.0664062 0.997925L289.867 0.997884' stroke='%23009dd9' stroke-opacity='0.4' stroke-width='2' stroke-dasharray='1 8'/%3E %3C/svg%3E");
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .value_props ul li:not(:last-child)::after {
    left: 50%;
    top: 28%;
  }
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .value_props ul li:nth-child(2) .value_propsData strong {
    max-width: 105px;
  }
  .spz_14002 .value_props ul li:nth-child(2) .value_propsData strong br {
    display: none;
  }
}
.spz_14002 .value_propsData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.spz_14002 .value_propsData span {
  display: flex;
  justify-content: center;
  width: 100%;
}
.spz_14002 .value_propsData span figure {
  border-radius: 100px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}
.spz_14002 .value_propsData span figure img {
  display: block;
  width: 24px;
  height: 24px;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .value_propsData span figure {
    width: 56px;
    height: 56px;
  }
  .spz_14002 .value_propsData span figure img {
    width: 32px;
    height: 32px;
  }
}
.spz_14002 .value_propsData strong {
  display: block;
  color: #013468;
  text-align: center;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  max-width: 140px;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .value_propsData strong {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .spz_14002 .value_propsData strong {
    width: 100%;
    padding: 0 5px;
  }
  .spz_14002 .value_propsData strong br {
    display: none;
  }
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .main .info-column {
    margin-bottom: 8px;
  }
  .spz_14002 .main .info-column h1 {
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .spz_14002 .main .info-column {
    margin-bottom: 13px;
  }
  .spz_14002 .main .info-column h1 {
    margin-bottom: 13px;
  }
}
.spz_14002 .main > .form-wrap {
  transform: translate(9px, 6px);
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .main > .form-wrap {
    transform: none;
  }
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap {
    transform: none;
  }
}
.spz_14002 .main > .form-wrap > .columns {
  padding-top: 32px;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .main > .form-wrap > .columns {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap > .columns {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.spz_14002 .main > .form-wrap > .columns > #contact-info-wizard {
  padding: 0 32px;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .main > .form-wrap > .columns > #contact-info-wizard {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap > .columns > #contact-info-wizard {
    padding: 0 19px;
  }
}
.spz_14002 .main > .form-wrap > .columns > #contact-info-wizard.address-step .form form .holder {
  margin: 0;
}
.spz_14002 .main > .form-wrap > .columns .form-pagi {
  margin-bottom: 24px;
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .main > .form-wrap > .columns .form-pagi {
    margin-top: 32px;
  }
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap > .columns .form-pagi {
    margin-top: 32px;
    top: -8px;
    margin-bottom: 8px;
  }
}
.spz_14002 .main > .form-wrap > .columns .form-pagi li.completed {
  background-color: #009DD9;
}
.spz_14002 .main > .form-wrap > .columns .form-pagi li.completed::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E %3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.3536 2.64645C10.5488 2.84171 10.5488 3.15829 10.3536 3.35355L4.85355 8.85355C4.65829 9.04882 4.34171 9.04882 4.14645 8.85355L1.64645 6.35355C1.45118 6.15829 1.45118 5.84171 1.64645 5.64645C1.84171 5.45118 2.15829 5.45118 2.35355 5.64645L4.5 7.79289L9.64645 2.64645C9.84171 2.45118 10.1583 2.45118 10.3536 2.64645Z' fill='white'/%3E %3C/svg%3E");
  transform: translate(-1px, -1px);
}
.spz_14002 .main > .form-wrap > .columns #contact-info-wizard .form form .holder {
  margin: 0 -8px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 12px !important;
}
.spz_14002 .main > .form-wrap > .columns #contact-info-wizard .form form .holder .form-group {
  width: 50%;
  padding: 0 8px;
}
.spz_14002 .main > .form-wrap > .columns #contact-info-wizard .form form .holder .input {
  height: 56px;
  font-size: 16px;
  line-height: 24px;
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap > .columns #contact-info-wizard .form form .holder {
    margin: 0;
  }
  .spz_14002 .main > .form-wrap > .columns #contact-info-wizard .form form .holder .form-group {
    width: 100%;
    padding: 0;
  }
}
.spz_14002 .main > .form-wrap > .columns .form .sub-title {
  color: #013468;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap > .columns .form .sub-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }
}
.spz_14002 .main > .form-wrap > .columns .form form .select-wrap {
  padding-bottom: 15px;
}
@media (max-width: 767px) {
  .spz_14002 .main > .form-wrap > .columns .form form .select-wrap {
    padding-bottom: 10px;
  }
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .main {
    padding-left: 84px;
    padding-right: 84px;
  }
}
@media (min-width: 767.98px) and (max-width: 1023px) {
  .spz_14002 .footer {
    margin-top: 57px;
  }
}/*# sourceMappingURL=styles.css.map */